﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03008Master;
@{
    List<WP03008Master> DataWP = (List<WP03008Master>)ViewData["DataWP03008"];
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 101.40%; border-right:17px solid #fff; position:sticky; top:0;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 60px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2"> No. </th>
                            <th style="width: 150px;" rowspan="2"> Registration No. </th>
                            <th style="width: 150px;" rowspan="2"> First Name </th>
                            <th style="width: 150px;" rowspan="2"> Last Name </th>
                            <th style="width: 150px;" rowspan="2"> Username </th>
                            <th style="width: 150px;" rowspan="2"> Email </th>
                            <th style="width: 150px;" rowspan="2"> Address </th>
                            <th style="width: 150px;" rowspan="2"> Phone </th>
                            <th style="width: 150px;" rowspan="2"> Identity Type </th>
                            <th style="width: 150px;" rowspan="2"> Identity No. </th>
                            <th style="width: 150px;" rowspan="2"> Safety Induction No. </th>
                            <th style="width: 150px;" rowspan="2"> Safety Induction From </th>
                            <th style="width: 150px;" rowspan="2"> Safety Induction To </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 265px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP03008Master item in DataWP)
                                    {
                                                <tr id="row-@number" class="row-@item.ROW_NUM">
                                                    <td style="width: 60px;text-align: center;" class="grid-checkbox-col">
                                                        <input class="grid-checkbox" value="@item.ID,@item.REG_NO,@item.FIRST_NAME,@item.LAST_NAME,@item.USERNAME,@item.EMAIL,@item.ADDRESS,@item.PHONE,@item.IDENTITY_TYPE,@item.IDENTITY_NO,@item.SAFETY_INDUCTION_NO,@item.SI_FROM,@item.SI_TO"
                                                               type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                                    </td>
                                                    <td style="width: 60px"> @item.ROW_NUM </td>
                                                    <td style="width: 150px"> @item.REG_NO </td>
                                                    <td style="width: 150px"> @item.FIRST_NAME </td>
                                                    <td style="width: 150px"> @item.LAST_NAME </td>
                                                    <td style="width: 150px"> @item.USERNAME </td>
                                                    <td style="width: 150px"> @item.EMAIL </td>
                                                    <td style="width: 150px"> @item.ADDRESS </td>
                                                    <td style="width: 150px"> @item.PHONE </td>
                                                    <td style="width: 150px"> @item.IDENTITY_TYPE </td>
                                                    <td style="width: 150px"> @item.IDENTITY_NO </td>
                                                    <td style="width: 150px"> @item.SAFETY_INDUCTION_NO </td>
                                                    <td style="width: 150px"> @item.SI_FROM </td>
                                                    <td style="width: 150px"> @item.SI_TO </td>
                                                </tr>
                                        number++;
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="8" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="NoDataFound">
                                    <td colspan="8" width="90%" class="text-center">No data found</td>
                                </tr>
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
