﻿<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/chosen.jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootstrap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/UI/jquery.cookie.js")"></script>

<!-- ace scripts -->
@*<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/elements.scroller.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/elements.colorpicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/elements.typeahead.js")"></script>*@
@*<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.sidebar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.sidebar-scroll-1.js")"></script>*@
@*<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.submenu-hover.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.settings.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.settings-rtl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.settings-skin.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.searchbox-autocomplete.js")"></script>*@
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootbox.js")"></script>