﻿<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>@Html.Toyota().Application.Name - @Html.Toyota().Page.Title</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/bootstrap.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/font-awesome.css")" />

		<link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/chosen.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/tdk.css")" />
        <!-- text fonts -->
		<link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/ace-fonts.css")" />

		<!-- ace styles -->
		<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/ace.css")" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="/Content/Bootstrap/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="/Content/Bootstrap/css/ace-ie.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace-extra.js")"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/html5shiv.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/respond.js")"></script>
		<![endif]-->

        <!--[if !IE]> -->
		<script type="text/javascript">
		    window.jQuery || document.write("<script src='/Content/Bootstrap/js/jquery.js'>" + "<" + "/script>");
		    if ('ontouchstart' in document.documentElement) document.write("<script src='/Content/Bootstrap/js/jquery.mobile.custom.js'>" + "<" + "/script>");
		</script>


        <!-- CSS -->
        <style type="text/css">
			/* some elements used in demo only */
			.spinner-preview {
				width: 100px;
				height: 100px;
				text-align: center;
				margin-top: 60px;
			}
			
			.dropdown-preview {
				margin: 0 5px;
				display: inline-block;
			}
			.dropdown-preview  > .dropdown-menu {
				display: block;
				position: static;
				margin-bottom: 5px;
			}

			.required{
				color:red;
			}

			.required::after{
				content: '*';
				color: red;
			}

			#clock
            {
                color: White;
                padding: 0 10px;
            }
            .app-title
            {
                font-family: LeagueSpartan;
                font-size: 21px;
                line-height: 1;
                vertical-align: bottom;
            }
            .logo-title
            {
                width: 25px;
            }
            .li-logout
            {
                background-color: #2D3E5C;
            }
            .user-info
            {
                line-height: 16px !important;
            }
		</style>

        @Html.Toyota().Initialize()

        @if (IsSectionDefined("HeadScript"))
        {
            @RenderSection("HeadScript")
        }
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
		<div id="navbar" class="navbar navbar-default">
			<script type="text/javascript">
			    try { ace.settings.check('navbar', 'fixed') } catch (e) { }
			</script>

			<div class="navbar-container" id="navbar-container">
				<!-- #section:basics/sidebar.mobile.toggle -->
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- /section:basics/sidebar.mobile.toggle -->
				<div class="navbar-header pull-left">
					<!-- #section:basics/navbar.layout.brand -->
					<a href="#" class="navbar-brand" style="line-height: 1.2">
						<span>
                            <img src="@Url.Content("~/Content/Bootstrap/img/app-logo.png")" class="logo-title" alt="ISTD Logo" />
							<span class="app-title">@Html.Toyota().Application.Name</span>
						</span>
					</a> 
				</div>
				@Html.Partial("HeaderMenu")
			</div><!-- /.navbar-container -->
		</div>

		<!-- /section:basics/navbar.layout -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
			    try { ace.settings.check('main-container', 'fixed') } catch (e) { }
			</script>
             
			@Html.Partial("HorizontalMenu")

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
						    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							@if (Html.Toyota().Page.ScreenID.ToString() == "Home") { 
                                <li class="active">Dashboard</li>
                            } else {
                                <li class="active">@Html.Toyota().Page.Title</li>
                            }
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<!-- #section:settings.skins -->
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<!-- /section:settings.skins -->

									<!-- #section:settings.navbar -->
									@*<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
										<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
									</div>*@

									<!-- /section:settings.navbar -->

									<!-- #section:settings.sidebar -->
									@*<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
										<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
									</div>*@

									<!-- /section:settings.sidebar -->

									<!-- #section:settings.breadcrumbs -->
									@*<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
										<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
									</div>*@

									<!-- /section:settings.breadcrumbs -->

									<!-- #section:settings.rtl -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
										<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
									</div>

									<!-- /section:settings.rtl -->

									<!-- #section:settings.container -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>

									<!-- /section:settings.container -->

                                    <div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

								</div><!-- /.pull-left -->

								@*<div class="pull-left width-50">
									<!-- #section:basics/sidebar.options -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
										<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
									</div>

									<!-- /section:basics/sidebar.options -->
								</div><!-- /.pull-left -->*@
							</div><!-- /.ace-settings-box -->
						</div><!-- /.ace-settings-container -->
                        
						@RenderBody()
						
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

        @Html.Partial("_About")

		
		<!-- page specific plugin scripts -->
        <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/bootstrap.js")"></script>

		<!--[if lte IE 8]>
		  <script src="/Content/Bootstrap/js/excanvas.js"></script>
		<![endif]-->

		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/chosen.jquery.js")"></script>
		
        <!-- ace scripts -->
        <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/elements.scroller.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/elements.colorpicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/elements.typeahead.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.sidebar.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.sidebar-scroll-1.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.submenu-hover.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.settings.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.settings-rtl.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.settings-skin.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/ace/ace.searchbox-autocomplete.js")"></script>
        
        <script type="text/javascript">
            $("#btnAboutMenu").click(function () {
                $("#about-popup").modal();
            });

            $("#btnContactMenu").click(function () {
                $("#contact-popup").modal();
            });

            /** start show clock **/
            var tday = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
            var tmonth = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

            function GetClock() {
                var d = new Date();
                var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear(), nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds();
                var nclock = tday[nday] + ", " + " " + ndate + " " + tmonth[nmonth] + " " + nyear + " " + nhour + ":" + nmin + ":" + nsec;
                $("#clock").text(nclock);
            }

            GetClock();
            setInterval(GetClock, 1000);
            /** end show clock **/

            /** Skin layout **/
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

            var bodySkin = getCookie("ace_skin");
            if (document.body.className.indexOf('no-skin') >= 0) document.body.classList.remove('no-skin')
            if (document.body.className.indexOf('skin-1') >= 0) document.body.classList.remove('skin-1')
            if (document.body.className.indexOf('skin-2') >= 0) document.body.classList.remove('skin-2')
            if (document.body.className.indexOf('skin-3') >= 0) document.body.classList.remove('skin-3')

            switch (bodySkin) {
                case 'no-skin': document.body.classList.add('no-skin');
                    break;
                case 'skin-1': document.body.classList.add('skin-1');
                    break;
                case 'skin-2': document.body.classList.add('skin-2');
                    break;
                case 'skin-3': document.body.classList.add('skin-3');
                    document.body.classList.add('no-skin');
                    break;
                default: document.body.classList.add('no-skin');
                    break;
            }

            /** End skin layout **/

        </script>

        @if (IsSectionDefined("BodyScript"))
        {
            @RenderSection("BodyScript")
        }
        
	</body>
</html>
