﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03006;

@{
    List<KeyList> examSubject = (List<KeyList>)ViewData["ExamSubject"];
    List<KeyList> company = (List<KeyList>)ViewData["Company"];
    List<WP03006Master> summaryScore = (List<WP03006Master>)ViewData["SummaryData"];
}
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>


<div class="row" style="margin-top: -13px; margin-left: 10px; margin-right: 10px">
    <div class="col-xs-12 col-sm-12 col-md-11">
        <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">

                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col">
                            <table id="tableSearch">
                                <tr>
                                    <td>Exam Subject : </td>
                                    <td>
                                        <select id="listExamSubject" required class="form-control" onchange="subject_OnChange(this.value)">
                                            <option value=""></option>
                                            @{
                                                if (examSubject != null)
                                                {
                                                    if (examSubject.Count() > 0)
                                                    {
                                                        foreach (KeyList item in examSubject)
                                                        {
                                                            <option value="@item.Id">@item.Title</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>Company : </td>
                                    <td>
                                        <select id="listCompany" required class="form-control">
                                            <option value=""></option>
                                            @{
                                                if (company != null)
                                                {
                                                    if (company.Count() > 0)
                                                    {
                                                        foreach (KeyList item in company)
                                                        {
                                                            <option value="@item.Id">@item.Title</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 text-right">
                            <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                            <button type="button" class="btn btn-grey btn-xs" id="btn_clear" style="width: 80px;" onclick="clear_search()"><i class="fa fa-eraser"></i> Clear</button>

                            <div class="dropdown" style="float:right; padding-left: 4px">
                                <button class="btn btn-yellow btn-xs dropdown-toggle" style="width: 80px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print"></i> Print
                                </button>
                                <div class="dropdown-content" style="text-align:left;">
                                    <a class="dropdown-item" href="#" onclick="printPDF()">Printout PDF</a>
                                    <a class="dropdown-item" href="#" onclick="printEXCEL()">Printout EXCEL</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>