﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03002Master;
@{
    List<WP03002Master> DataWP = (List<WP03002Master>)ViewData["DataWP03002"];
    List<WP03002> Status_Cmb = (List<WP03002>)ViewData["Status_Cmb"];
    List<WP03002> Time_Cmb = (List<WP03002>)ViewData["Time_Cmb"];
    List<WP03002> ExecTime_Cmb = (List<WP03002>)ViewData["Time_Cmb"];
    List<WP03002> Model_type = (List<WP03002>)ViewData["Model_type"];
    var seletc_data_unit_time = "";
    var seletc_data_exec_time = "";
    var seletc_data_status = "";
    var error = 0;
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2">No</th>
                            <th style="width: 150px;" rowspan="2">TITLE</th>
                            <th style="width: 150px;" rowspan="2">PASSING SCORE REQUIREMENT</th>
                            <th style="width: 150px;" rowspan="2">EXAM DURATION</th>
                            <th style="width: 150px;" rowspan="2">START DATE</th>
                            <th style="width: 150px;" rowspan="2">END DATE</th>
                            <th style="width: 150px;" rowspan="2">REMEDIAL</th>
                            <th style="width: 150px;" rowspan="2">EXAM TYPE</th>
                            <th style="width: 150px;" rowspan="2">TOTAL PUBLISHED</th>
                            <th style="width: 150px;" rowspan="2">IS PUBLISHED</th>
                            <th style="width: 300px;" colspan="2">CREATED</th>
                            <th style="width: 300px;" colspan="2">UPDATED</th>
                        </tr>
                        <tr>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">DATE</th>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">DATE</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 240px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP03002Master item in DataWP)
                                    {
                                        <tr id="row-@number" class="row-@item.ROW_NUM">
                                            <td style="width: 100px;text-align: center;" class="grid-checkbox-col">
                                                <input class="grid-checkbox" value="@item.ID,@item.TITLE,@item.PASSING_SCORE_REQUIREMENT,@item.EXAM_DURATION,@item.DATE_START,@item.DATE_END,@item.REMEDIAL,@item.EXAM_TYPE,@item.TOTAL_PUBLISHED,@item.IS_PUBLISHED"
                                                       type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                            </td>
                                            <td style="width: 60px">
                                                @item.ROW_NUM
                                            </td>
                                            <td style="width: 150px"> @item.TITLE </td>
                                            <td style="width: 150px"> @item.PASSING_SCORE_REQUIREMENT </td>
                                            <td style="width: 150px"> @item.EXAM_DURATION </td>
                                            <td style="width: 150px"> @item.DATE_START </td>
                                            <td style="width: 150px"> @item.DATE_END </td>
                                            <td style="width: 150px"> @item.REMEDIAL </td>
                                            <td style="width: 150px"> @item.EXAM_TYPE </td>
                                            <td style="width: 150px"> @item.TOTAL_PUBLISHED </td>
                                            <td style="width: 150px">
                                                @{ if (Convert.ToInt32(item.IS_PUBLISHED) == 1)
                                                    { <span>Published</span> }
                                                    else
                                                    { <span>Unpublished</span> } }
                                            </td>
                                            <td style="width: 150px"> @item.CREATED_BY </td>
                                            <td style="width: 150px"> @item.CREATED_DT </td>
                                            <td style="width: 150px"> @item.UPDATED_BY </td>
                                            <td style="width: 150px"> @item.UPDATED_DT </td>
                                            </tr>
                                            number++;
                                        }
                                    }
                                    else
                                    {
                                        <tr id="NoDataFound">
                                            <td colspan="8" width="90%" class="text-center">No data found</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="8" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
            </div>
                    <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                        <tfoot>
                            <tr>
                                <td colspan="8" id="partialPaging">
                                    @Html.Partial("Datagrid_Paging")
                                </td>
                            </tr>
                        </tfoot>
                    </table>
            </div>
        </div>
