﻿
@using AI070.Models;
@{

}

<!--form add new data-->
<div id="modalForm" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Add New Exam Subject</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>TITLE</label>
                        <input type="text" maxlength="100" id="addTITLE" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>PASSING_SCORE_REQUIREMENT</label>
                        <input type="text" maxlength="20" id="addPASSING_SCORE_REQUIREMENT" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3">
                        <label>EXAM_DURATION</label>
                        <input type="text" maxlength="20" id="addEXAM_DURATION" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <label>DATE_EXAM_PERIOD_START</label>
                        <input id="addDATE_EXAM_PERIOD_START" class="form-control" type="date" />
                    </div>
                    <div class="col-md-6">
                        <label>DATE_EXAM_PERIOD_END</label>
                        <input id="addDATE_EXAM_PERIOD_END" class="form-control" type="date" />
                    </div>
                    <div class="col-md-6">
                        <label>REMEDIAL</label>
                        <select class="form-control" onchange="HidenValue('add',this.value)" id="addREMEDIAL_select">
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>EXAM_TYPE</label>
                        <select class="form-control" id="addEXAM_TYPE">
                            <option value="Random">Random</option>
                            <option value="Uniform">Uniform</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label></label>
                        <input type="text" maxlength="20" id="addREMEDIAL_input" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3">
                        <label>TOTAL_PUBLISHED</label>
                        <input type="text" maxlength="20" id="addTOTAL_PUBLISHED" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <label>IS_PUBLISHED</label>
                        <select class="form-control" id="addIS_PUBLISHED">
                            <option value="1">Published</option>
                            <option value="0">Unpublished</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addNew()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> SAVE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>

<!--form edit data-->
<div id="modalEditForm" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-wpforms"></i></button>
                <h4 class="modal-title" id="modalForm-title">Edit Question</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <!--ID Value Hide-->
                    <input style="display:none" type="text" maxlength="50" id="EditID" class="form-control" placeholder="">
                
                    <div class="col-md-12">
                        <label>TITLE</label>
                        <input type="text" maxlength="100" id="EditTITLE" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>PASSING_SCORE_REQUIREMENT</label>
                        <input type="text" maxlength="20" id="EditPASSING_SCORE_REQUIREMENT" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3">
                        <label>EXAM_DURATION</label>
                        <input type="text" maxlength="20" id="EditEXAM_DURATION" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                        <label>DATE_EXAM_PERIOD_START</label>
                        <input id="EditDATE_EXAM_PERIOD_START" class="form-control" type="date" />
                    </div>
                    <div class="col-md-6">
                        <label>DATE_EXAM_PERIOD_END</label>
                        <input id="EditDATE_EXAM_PERIOD_END" class="form-control" type="date" />
                    </div>
                    <div class="col-md-6">
                        <label>REMEDIAL</label>
                        <select class="form-control" onchange="HidenValue('Edit',this.value)" id="EditREMEDIAL_select">
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>EXAM_TYPE</label>
                        <select class="form-control" id="EditEXAM_TYPE">
                            <option value="Random">Random</option>
                            <option value="Uniform">Uniform</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label></label>
                        <input type="text" maxlength="20" id="EditREMEDIAL_input" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3">
                        <label>TOTAL_PUBLISHED</label>
                        <input type="text" maxlength="20" id="EditTOTAL_PUBLISHED" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <label>IS_PUBLISHED</label>
                        <select class="form-control" id="EditIS_PUBLISHED">
                            <option value="1">Published</option>
                            <option value="0">Unpublished</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateData()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 85px;" data-dismiss="modal"><i class="fa fa-check"></i> UPDATE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>
