﻿<div class="modal fade" id="LoadingModal" tabindex="-1" role="dialog" aria-labelledby="LoadingModal" aria-hidden="true" style="z-index:10000">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/Content/Images/loading48.gif" />
            </div>
        </div>
    </div>
</div>
