﻿<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init(
        {
            selector: 'textarea',
            width: 450,
            height: 100,
            encoding: 'raw'
        });
</script>

<script type="text/javascript">

    var ImageFile;
    var SITE_URL = window.location.href + "/";

    $(document).ready(function () {
        $('#btn_Delete').prop('disabled', true);
        $('#btn_edit').prop('disabled', true);
        $('#btn_clear').prop('disabled', true);

        $('#searchStatus').on('change', function () {
            if (this.value == 'Other') {
                $('#otherStatus').show();
            } else {
                $('#otherStatus').hide();
            }
        });

        OnSearch(1);

    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            ImageFile = input.files[0];

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    function readURLEdit(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#editblah').attr('src', e.target.result);
            }

            ImageFile = input.files[0];

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });

    $("#imgInpEdit").change(function () {
        readURLEdit(this);
    });

    // tombol Add Confirm
    function addDataConfirm() {
        $('#PopupForm_AddNewConfirm').modal();
    }

    //tombol Add New
    function addNew() {
        tinyMCE.triggerSave();
        var QUESTION = $('#addQUESTION').val();
        var ANSWER_CHOICE_A = $('#addANSWER_CHOICE_A').val();
        var ANSWER_CHOICE_B = $('#addANSWER_CHOICE_B').val();
        var ANSWER_CHOICE_C = $('#addANSWER_CHOICE_C').val();
        var ANSWER_CHOICE_D = $('#addANSWER_CHOICE_D').val();
        var ANSWER_CHOICE_E = $('#addANSWER_CHOICE_E').val();
        var ANSWER_KEY = $("input[name='AnswereKey']:checked").val();
        var IMAGE = $('#addIMAGE').val();

        var status = true;
        if (QUESTION == null || QUESTION == "") {
            toastr.warning("QUESTION  CANNOT BE EMPTY");
            status = false;
        }

        if (ANSWER_CHOICE_A == null || ANSWER_CHOICE_A == "") {
            toastr.warning("ANSWER CHOICE A  CANNOT BE EMPTY");
            status = false;
        }

        if (ANSWER_CHOICE_B == null || ANSWER_CHOICE_B == "") {
            toastr.warning("ANSWER CHOICE B  CANNOT BE EMPTY");
            status = false;
        }

        if (ANSWER_CHOICE_C == null || ANSWER_CHOICE_C == "") {
            toastr.warning("ANSWER CHOICE C  CANNOT BE EMPTY");
            status = false;
        }

        if (ANSWER_CHOICE_D == null || ANSWER_CHOICE_D == "") {
            toastr.warning("ANSWER CHOICE D  CANNOT BE EMPTY");
            status = false;
        }

        if (ANSWER_CHOICE_E == null || ANSWER_CHOICE_E == "") {
            toastr.warning("ANSWER CHOICE E  CANNOT BE EMPTY");
            status = false;
        }

        if (ANSWER_KEY == null || ANSWER_KEY == "") {
            toastr.warning("ANSWER KEY CANNOT BE EMPTY");
            status = false;
        } else if (ANSWER_KEY == "A") {
            ANSWER_KEY = ANSWER_CHOICE_A;
        } else if (ANSWER_KEY == "B") {
            ANSWER_KEY = ANSWER_CHOICE_B;
        } else if (ANSWER_KEY == "C") {
            ANSWER_KEY = ANSWER_CHOICE_C;
        } else if (ANSWER_KEY == "D") {
            ANSWER_KEY = ANSWER_CHOICE_D;
        } else if (ANSWER_KEY == "E") {
            ANSWER_KEY = ANSWER_CHOICE_E;
        }

        if (status == false) {
            return;
        }

        if (window.FormData !== undefined) {
            var fileUpload = $("#form1").get(0);

            // Looping over all files and add it to FormData object
            var fileData = new FormData();
            fileData.append(ImageFile.name, ImageFile);

            $.ajax({
                type: "POST",
                url: SITE_URL + 'UploadFiles',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                async: false,
                data: fileData,
                success: function (result) {
                    IMAGE = result;
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

        $.ajax({
            type: "POST",
            url: SITE_URL + 'Create',
            async: false,
            data: {
                QUESTION: QUESTION,
                ANSWER_CHOICE_A: ANSWER_CHOICE_A,
                ANSWER_CHOICE_B: ANSWER_CHOICE_B,
                ANSWER_CHOICE_C: ANSWER_CHOICE_C,
                ANSWER_CHOICE_D: ANSWER_CHOICE_D,
                ANSWER_CHOICE_E: ANSWER_CHOICE_E,
                ANSWER_KEY: ANSWER_KEY,
                IMAGE_PATH: IMAGE
            },
            success: function (response) {
                if (response.sts == "TRUE") {
                    toastr.success("Data Has Been Save Successfuly");

                    tinyMCE.get("addQUESTION").setContent("");
                    tinyMCE.get("addANSWER_CHOICE_A").setContent("");
                    tinyMCE.get("addANSWER_CHOICE_B").setContent("");
                    tinyMCE.get("addANSWER_CHOICE_C").setContent("");
                    tinyMCE.get("addANSWER_CHOICE_D").setContent("");
                    tinyMCE.get("addANSWER_CHOICE_E").setContent("");
                    $("input[name=AnswereKey][value=A]").prop('checked', false);
                    $("input[name=AnswereKey][value=B]").prop('checked', false);
                    $("input[name=AnswereKey][value=C]").prop('checked', false);
                    $("input[name=AnswereKey][value=D]").prop('checked', false);
                    $("input[name=AnswereKey][value=E]").prop('checked', false);

                    OnSearch(1);

                    $('#btncloselookup').click();
                } else {
                    toastr.warning(response.Exec[0].LINE_STS);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    //tombol Edit

    $('#btn_edit').on('click', function () {
        var ID = $('#EditID');

        var Var = "";
        var Send_Var = "";
        var Send_Var = "";
        $("input[name='checkdata[]']").each(function () {
            if ($(this).is(':checked')) {
                Var = "";
                Var = Var + $(this).val();
                Send_Var = Var.split(',');
            }
        });
        ID.val(Send_Var[0]);
        tinyMCE.get("editQUESTION").setContent(Send_Var[1]);
        tinyMCE.get("editANSWER_CHOICE_A").setContent(Send_Var[2]);
        tinyMCE.get("editANSWER_CHOICE_B").setContent(Send_Var[3]);
        tinyMCE.get("editANSWER_CHOICE_C").setContent(Send_Var[4]);
        tinyMCE.get("editANSWER_CHOICE_D").setContent(Send_Var[5]);
        tinyMCE.get("editANSWER_CHOICE_E").setContent(Send_Var[6]);


        document.getElementById("editblah").src = Send_Var[8];

        if (Send_Var[2] == Send_Var[7]) {
            $("input[name=AnswereKeyEdit][value=A]").prop('checked', true);
        } else if (Send_Var[3] == Send_Var[7]) {
            $("input[name=AnswereKeyEdit][value=B]").prop('checked', true);
        } else if (Send_Var[4] == Send_Var[7]) {
            $("input[name=AnswereKeyEdit][value=C]").prop('checked', true);
        } else if (Send_Var[5] == Send_Var[7]) {
            $("input[name=AnswereKeyEdit][value=D]").prop('checked', true);
        } else if (Send_Var[6] == Send_Var[7]) {
            $("input[name=AnswereKeyEdit][value=E]").prop('checked', true);
        }

        //IMAGE.val(Send_Var[8]);

        $('#modalEditForm').modal();
    });

    function cancel_edit() {
        var ID = $('#EditID').val();
        $('#edit_data').hide();
        $('.row-' + ID).show();
    }

    //EditDataConfirm
    function EditDataConfirm() {
        $('#PopupForm_EditConfirm').modal();
    }

    function updateData() {
        $("input[name='checkdata[]']").each(function () {
            if ($(this).is(':checked')) {
                var ID = $('#EditID').val();
                tinyMCE.triggerSave();
                var QUESTION = $('#editQUESTION').val();
                var ANSWER_CHOICE_A = $('#editANSWER_CHOICE_A').val();
                var ANSWER_CHOICE_B = $('#editANSWER_CHOICE_B').val();
                var ANSWER_CHOICE_C = $('#editANSWER_CHOICE_C').val();
                var ANSWER_CHOICE_D = $('#editANSWER_CHOICE_D').val();
                var ANSWER_CHOICE_E = $('#editANSWER_CHOICE_E').val();
                var ANSWER_KEY = $("input[name='AnswereKeyEdit']:checked").val();
                var IMAGE = $('#editIMAGE').val();

                if (QUESTION == null || QUESTION == "") {
                    toastr.warning("QUESTION  CANNOT BE EMPTY");
                    return;
                }

                if (ANSWER_CHOICE_A == null || ANSWER_CHOICE_A == "") {
                    toastr.warning("ANSWER CHOICE A  CANNOT BE EMPTY");
                    return;
                }

                if (ANSWER_CHOICE_B == null || ANSWER_CHOICE_B == "") {
                    toastr.warning("ANSWER CHOICE B  CANNOT BE EMPTY");
                    return;
                }

                if (ANSWER_CHOICE_C == null || ANSWER_CHOICE_C == "") {
                    toastr.warning("ANSWER CHOICE C  CANNOT BE EMPTY");
                    return;
                }

                if (ANSWER_CHOICE_D == null || ANSWER_CHOICE_D == "") {
                    toastr.warning("ANSWER CHOICE D  CANNOT BE EMPTY");
                    return;
                }

                if (ANSWER_CHOICE_E == null || ANSWER_CHOICE_E == "") {
                    toastr.warning("ANSWER CHOICE E  CANNOT BE EMPTY");
                    return;
                }

                if (ANSWER_KEY == null || ANSWER_KEY == "") {
                    toastr.warning("Choose 1 True Answer");
                    status = false;
                } else if (ANSWER_KEY == "A") {
                    ANSWER_KEY = ANSWER_CHOICE_A;
                } else if (ANSWER_KEY == "B") {
                    ANSWER_KEY = ANSWER_CHOICE_B;
                } else if (ANSWER_KEY == "C") {
                    ANSWER_KEY = ANSWER_CHOICE_C;
                } else if (ANSWER_KEY == "D") {
                    ANSWER_KEY = ANSWER_CHOICE_D;
                } else if (ANSWER_KEY == "E") {
                    ANSWER_KEY = ANSWER_CHOICE_E;
                }

                var Send_Var = ID + "," + QUESTION + "," + ANSWER_CHOICE_A + "," + ANSWER_CHOICE_B + "," + ANSWER_CHOICE_C + "," + ANSWER_CHOICE_D + "," + ANSWER_CHOICE_E + "," + ANSWER_KEY;

                if (window.FormData !== undefined) {
                    var fileUpload = $("#form2").get(0);

                    // Looping over all files and add it to FormData object
                    var fileData = new FormData();
                    fileData.append(ImageFile.name, ImageFile);

                    $.ajax({
                        type: "POST",
                        url: SITE_URL + 'UploadFiles',
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        async: false,
                        data: fileData,
                        success: function (result) {
                            IMAGE = result;
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                }
                var Send_Var = Send_Var + "," + IMAGE;
                $.ajax({
                    type: "PUT",
                    url: 'WP03001/Edit',
                    async: false,
                    data: {
                        DATA: Send_Var
                    },
                    success: function (response) {
                        console.log(Var);
                        if (response.sts == "TRUE") {
                            toastr.success(response.message);
                            cancel_edit();
                        }
                        else {
                            toastr.warning(response.message);

                            tinyMCE.get("addQUESTION").setContent("");
                            tinyMCE.get("addANSWER_CHOICE_A").setContent("");
                            tinyMCE.get("addANSWER_CHOICE_B").setContent("");
                            tinyMCE.get("addANSWER_CHOICE_C").setContent("");
                            tinyMCE.get("addANSWER_CHOICE_D").setContent("");
                            tinyMCE.get("addANSWER_CHOICE_E").setContent("");
                            $("input[name=AnswereKey][value=A]").prop('checked', false);
                            $("input[name=AnswereKey][value=B]").prop('checked', false);
                            $("input[name=AnswereKey][value=C]").prop('checked', false);
                            $("input[name=AnswereKey][value=D]").prop('checked', false);
                            $("input[name=AnswereKey][value=E]").prop('checked', false);

                        }
                        $("#PopupForm_EditConfirm").modal('hide');

                        OnSearch(1);
                    }
                });
            }
        });

    }

    //tombol Delete
    $("#btn_Delete").on("click", function () {
        $('#Confirmation_Delete_Popup').modal();
    });

    function delete_data() {
        var chk = $("input[name='checkdata[]']:checked").length;
        //alert('hai >> ' + chk);

        if (chk == 0) {
            toastr.warning('Select One or More record to Delete');
            //toastr.warning('Select One or More record to delete.');
        }
        else {
            var Var = "";
            var Send_Var = "";
            $("input[name='checkdata[]']").each(function () {
                if ($(this).is(':checked')) {
                    Var = "";
                    Var = Var + $(this).val();
                    if (Var != '') {
                        Send_Var = Send_Var + Var.split(',')[0] + ",";
                    } else {
                        Send_Var = Send_Var + "," + Var.split(',')[0];
                    }

                }
            });

            $.ajax({
                type: "POST",
                url: 'WP03001/Delete_Data',
                async: false,
                data: {
                    DATA: Send_Var
                },
                success: function (data) {
                    if (data.sts == "TRUE") {
                        toastr.success(data.message);
                    }
                    else {
                        toastr.warning(data.message);
                    }
                    $("#Confirmation_Delete_Popup").modal('hide');

                    OnSearch(1);
                    //xxx
                }
            });
        }
    }

    //tombol clear
    function clear_search() {
        $('#searchQuestion').val("");
        $('#searchAnswerKey').val("");
        $.ajax({
            type: "POST",
            url: SITE_URL + 'Search_Data',
            async: false,
            data: {
                start: 1,
                display: 10,
                DATA_ID: $("#data_nm").val(),
                EXECUTION_TIME: $("#exec_time_cd").val(),
                TIME_UNIT_CRITERIA: $("#time_unit_cd").val(),
                STATUS_ACTIVE: $("#sts_cd").val(),
                QUESTION: "xxxxx",
                ANSWER_KEY: "xxxxx",
            },
            success: function (data) {
                $("#GridTable").html(data);
                $("#paging").val(Last_Record_Per_Page);
                if ($('#cntPage').val() == "1") {
                    $('#btn_clear').prop('disabled', false);
                    $('#btn_edit').prop('disabled', true);
                    $('#btn_Delete').prop('disabled', true);
                } else {
                    $('#btn_clear').prop('disabled', false);
                    $('#btn_edit').prop('disabled', true);
                    $('#btn_Delete').prop('disabled', true);
                }

                scroll_and_checkbox();
                cek_perdata();
            }
        });
    }

    // tombol search
    $("#btn_search").on("click", function () {
        OnSearch(1);
    });

    // tombol new
    $("#btn_new").on("click", function () {
        tinyMCE.triggerSave();
        $('#addQUESTION').val('');
        $('#addANSWER_CHOICE_A').val('');
        $('#addANSWER_CHOICE_B').val('');
        $('#addANSWER_CHOICE_C').val('');
        $('#addANSWER_CHOICE_D').val('');
        $('#addANSWER_CHOICE_E').val('');
        $('#addANSWER_KEY').val('');
        $('#modalForm').modal();

        $("#btncloselookup").on("click", function () {
            $('#tambah_data').hide();
        });
    });

    // tombol pencarian data
    function OnSearch(page) {
        searchData(page, $('#paging').val());

        $('#btn_download').prop('disabled', false);
        $('#btn_clear').prop('disabled', false);
    }

    function searchData(page, size) {
        var QUESTION = $('#searchQuestion').val();
        var ANSWER_KEY = $('#searchAnswerKey').val();

        if (status == 'Other') {
            status = $('#otherStatus').val();
        }

        Last_Record_Per_Page = $("#paging").val();
        $.ajax({
            type: "POST",
            url: SITE_URL + 'Search_Data',
            async: false,
            data: {
                start: page,
                display: size,
                DATA_ID: $("#data_nm").val(),
                EXECUTION_TIME: $("#exec_time_cd").val(),
                TIME_UNIT_CRITERIA: $("#time_unit_cd").val(),
                STATUS_ACTIVE: $("#sts_cd").val(),
                QUESTION: QUESTION,
                ANSWER_KEY: ANSWER_KEY
            },
            success: function (data) {
                $("#GridTable").html(data);
                $("#paging").val(Last_Record_Per_Page);
                if ($('#cntPage').val() == "1") {
                    $('#btn_clear').prop('disabled', false);
                } else {
                    $('#btn_clear').prop('disabled', false);
                }

                scroll_and_checkbox();
                cek_perdata();
            }
        });
    }

    // ceklist per data
    function cek_perdata() {
		$("input[name='checkdata[]']").on("click", function () {

            total_check = $('.grid-checkbox:checkbox:checked').length;
            if (total_check == 1) {
				$('#btn_edit').prop('disabled', false);
                $('#btn_Delete').prop('disabled', false);
			} else if (total_check == 0) {
                $('#btn_edit').prop('disabled', true);
                $('#btn_Delete').prop('disabled', true);
			} else {
				$('#btn_edit').prop('disabled', true);
                $('#btn_Delete').prop('disabled', false);
			}


            if ($(this).is(':checked')) {
                
            }
            else {
                
                $("input[name='time_unit_data[]']").prop('disabled', true);
                $("input[name='time_value_data[]']").prop('disabled', true);
                $("input[name='exec_time_data[]']").prop('disabled', true);
                $("input[name='status_data[]']").prop('disabled', true);

                $("button[name='btnConfirmEditData[]']").prop('disabled', true);
                $("button[name='btncloselookup[]']").prop('disabled', true);
            }
        });
    }

    // ceklist all data dan scroll
    function scroll_and_checkbox() {
        $("#tScrollBody").scroll(function () {
            $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        });

        $("#checkall").click(function () {
            if ($("#checkall").is(":checked")) {
                $(".grid-checkbox").prop('checked', true);
                $('#btn_Delete').prop('disabled', false);
                $('#btn_edit').prop('disabled', true);
            }
            else {
                $(".grid-checkbox").prop('checked', false);
                $('#btn_Delete').prop('disabled', true);
                $('#btn_edit').prop('disabled', true);
            }
        });
    }
</script>