﻿
@using AI070.Models;
@using AI070.Models.WP01005Master;
@{
    List<CompanyModel> Companys = (List<CompanyModel>)ViewData["COMPANY"];
}

<!--form add new data-->
<div id="modalForm" class="modal fade">
    <div class="modal-dialog modal-md" style="width:1025px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Add New Question</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">QUESTION</label>
                        </div>
                        <textarea type="text" maxlength="20" id="addQUESTION" class="form-control" placeholder=""></textarea>
                    </div>

                    <div class="col-md-6">
                        <div class="custom-file">
                            @*<input type="file" class="custom-file-input" id="addIMAGE" aria-describedby="addIMAGE">*@
                            <form id="form1" runat="server">
                                <p>Select JPEG file to upload (Max total size 500KB)</p>
                                <input type='file' id="imgInp"/>
                                <img id="blah" src="#" style="width: 450px" alt=" "/>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE A</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKey", "A") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="addANSWER_CHOICE_A" class="form-control" placeholder=""></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE B</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKey", "B") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="addANSWER_CHOICE_B" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE C</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKey", "C") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="addANSWER_CHOICE_C" class="form-control" placeholder=""></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE D</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKey", "D") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="addANSWER_CHOICE_D" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE E</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKey", "E") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="addANSWER_CHOICE_E" class="form-control" placeholder=""></textarea>
                    </div>
                    @*<div class="col-md-6">
                        <label class="required">ANSWER KEY</label>
                        <textarea type="text" maxlength="20" id="addANSWER_KEY" class="form-control" placeholder=""></textarea>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addNew()" id="btn_save" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> SAVE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>

<!--form edit data-->
<div id="modalEditForm" class="modal fade">
    <div class="modal-dialog modal-md" style="width:1025px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Edit Question</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <!--ID Value Hide-->
                        <input style="display:none" type="text" maxlength="50" id="EditID" class="form-control" placeholder="">

                        <label class="required">QUESTION</label>
                        <textarea type="text" maxlength="20" id="editQUESTION" class="form-control" placeholder=""></textarea>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <div id="wrapper">
                                <form id="form2" runat="server" enctype="multipart/form-data">
                                    <input type='file' id="imgInpEdit" name="image"/>
                                    <img id="editblah" src="#" style="width: 450px" alt=" " />
                                </form>
                            </div>
                        </div>

                        @*<div class="custom-file">
                    <input type="file" class="custom-file-input" id="editIMAGE" aria-describedby="editIMAGE">
                </div>*@
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE A</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKeyEdit", "A") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="editANSWER_CHOICE_A" class="form-control" placeholder=""></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE B</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKeyEdit", "B") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="editANSWER_CHOICE_B" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE C</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKeyEdit", "C") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="editANSWER_CHOICE_C" class="form-control" placeholder=""></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE D</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKeyEdit", "D") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="editANSWER_CHOICE_D" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="label-question">
                            <label class="required">ANSWER CHOICE E</label>
                            <div style="color:blue">Please choose the right answer  >> [ @Html.RadioButton("AnswereKeyEdit", "E") ]</div>
                        </div>
                        <textarea type="text" maxlength="20" id="editANSWER_CHOICE_E" class="form-control" placeholder=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateData()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 85px;" data-dismiss="modal"><i class="fa fa-check"></i> CHANGE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>
<style>
    .label-question {
        display: inline;
        padding-left: 4px;
    }

    label {
        font-weight: bold;
        color:black;
        padding-right:12px;
    }

    .row {
        padding-bottom: 12px;
    }
</style>