﻿@using AI070.Models.PRInquiry
@{
    List<PRInquiry> prInquiryList = (List<PRInquiry>)ViewData["PRInquiry"];
}

<style type="text/css">
    .close 
    {
        opacity: 1;    
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-5 text-left">
        <div class="">
            <button type="button" class="btn btn-success btn-xs btn-decision btn-approve" style="margin-right: 60px;">
                Approve</button>
            <button type="button" class="btn btn-danger btn-xs btn-decision btn-reject">
                &nbsp;&nbsp;&nbsp;Reject&nbsp;&nbsp;&nbsp;</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-1 text-left">
        <button data-rel="tooltip" title="Hide filter" onclick="javascript:toggleSearch()" type="button" class="ace-icon fa fa-angle-double-up btn btn-default btn-xs btn-tiny-down"
            id="toogle-search" style="top: 6px;">
        </button>
        <input type="text" id="btnLostFocus" style="display: block; height: 1px; width: 1px;
            border: none;" />
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
        <div class="form-group form-group-xs" style="margin-bottom: 3px;">
            <button data-rel="tooltip" title="Upload files" id="btn-upload" class="fa fa-upload btn btn-warning btn-xs" style="padding: 6px;"
                onclick="javascript:uploadDialog()">
            </button>
            <button data-rel="tooltip" title="Download files" id="btn-download" class="fa fa-download btn btn-warning btn-xs" style="padding: 6px;"
                onclick="javascript:Download()">
            </button>
            <button type="button" class="btn btn-info btn-xs" id="grid-toggle" onclick="javascript:ToggleGrid()" title="Show detail grid" data-rel="tooltip">Show detail</button>
            <button type="button" class="btn btn-primary btn-xs">
                Add</button>
            <button type="button" class="btn btn-primary btn-xs btn-edit">
                Edit</button>
            <button id="btnCollapse" class="btn btn-danger btn-xs btn-delete">
                Delete</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1260px; max-width: 1260px !important;">
                    <thead>
                        <tr>
                            <th width="20px" class="grid-checkbox-col">
                                <input class="grid-checkbox" type="checkbox" style="height: 12px;" id="checkall" />
                            </th>
                            <th width="30px">No</th>
                            <th width="80px" class="sorting" data-field="PR_NO" data-sort="none">PR No</th>
                            <th width="200px" class="sorting" data-field="PR_DESC" data-sort="none">PR Description</th>
                            <th width="80px" class="sorting" data-field="PR_DATE" data-sort="none">PR Date</th>
                            <th width="100px" class="sorting" data-field="PR_STATUS" data-sort="none">PR Status</th>
                            <th width="80px">Plant</th>
                            <th width="80px">Storage</th>
                            <th width="170px">Division</th>
                            @*<th width="100px">Project No.</th>
                            <th width="100px;">Vendor Code</th>
                            <th width="120px;">Vendor Name</th>*@
                            <th class="_toggle-detail" width="120px;">Created By</th>
                            <th class="_toggle-detail" width="90px;">Created Date</th>
                            <th class="_toggle-detail" width="120px;">Changed By</th>
                            <th class="_toggle-detail" width="90px;">Changed Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 325px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1260px; max-width: 1260px !important;">
                    <tbody>
                        @{
                            if (prInquiryList.Count > 0)
                            {
                                foreach (PRInquiry item in prInquiryList)
                                {
                            <tr>
                                <td width="20px" class="text-center grid-checkbox-col">
                                    <input type="checkbox" class="grid-checkbox grid-checkbox-body" />
                                </td>
                                <td width="30px" class="text-center">@item.ROW_NUM</td>
                                <td width="80px" class="text-center">@item.PR_NO</td>
                                <td width="200px" class="text-left ellipsis" style="max-width: 200px;">@item.PR_DESC</td>
                                <td width="80px" class="text-center">@(item.PR_DATE != DateTime.MinValue ? item.PR_DATE.ToString("dd.MM.yyyy") : "")</td>
                                <td width="100px" class="text-center">@item.PR_STATUS</td>
                                <td width="80px" class="text-center">@item.PLANT</td>
                                <td width="80px" class="text-center">@item.STORAGE</td>
                                <td width="170px" class="text-left">@item.DIVISION</td>
                                @*<td width="100px" class="text-center">@item.PROJECT_NO</td>
                                <td width="100px" class="text-center">@item.VENDOR_CD</td>
                                <td width="120px" class="text-left">@item.VENDOR_NAME</td>*@
                                <td class="_toggle-detail text-left" width="120px">@item.CREATED_BY</td>
                                <td class="_toggle-detail text-center" width="90px">@item.CREATED_DT</td>
                                <td class="_toggle-detail text-left" width="120px">@item.CHANGED_BY</td>
                                <td class="_toggle-detail text-center" width="90px">@item.CHANGED_DT</td>
                            </tr>   
                                }
                            }
                            else
                            {
                            <tr>
                                <td colspan="13" class="text-center">
                                    No data retrieved.
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="13">
                                @Html.Partial("_UIPaging")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="delete-confirm" class="modal fade"> 
    <div class="modal-dialog modal-md" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" /></span>
                    <span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title" id="popup-confirm-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <div class="row" style="padding-left: 10px;">
                        Are you sure want to delete(s)?
                    </div>
                    <div class="row" style="text-align: right;padding-right: 10px; margin-top: 10px;">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">Yes</button>
                        <button class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">No</button>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="reject-confirm" class="modal fade"> 
    <div class="modal-dialog modal-md" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" class="modal-icon" /></span>
                    <span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body" style="padding-top: 0px;">
                <div class="row" style="padding-left: 10px;">
                    Rejection memo
                </div>
                <div class="row" style="padding-left: 10px;">
                    <textarea class="form-control limited" id="form-field-9" maxlength="100"></textarea>
                </div>
                <div class="row" style="text-align: right;padding-right: 0px; padding-top: 5px; margin-top: 10px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">Confirm</button>
                    <button class="btn btn-danger btn-xs" data-dismiss="modal" style="width: 60px;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="selected-0-confirm" class="modal fade"> 
    <div class="modal-dialog modal-md" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/Warning.png")" class="modal-icon" /></span>
                    <span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title" id="popup-warning-title">Warning</h4>
            </div>

            <div class="modal-body">
                <div class="row" style="padding-left: 10px;">
                    Please select data.
                </div>
                <div class="row" style="text-align: right;padding-right: 10px; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="selected-info" class="modal fade"> 
    <div class="modal-dialog modal-md" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" style="opacity: 1 !important; margin-top: -7px;">
                    <span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/information.png")" class="modal-icon" /></span>
                    <span class="sr-only">Close</span>
                </div>
                <h4 class="modal-title">Information</h4>
            </div>

            <div class="modal-body">
                <div class="row" style="padding-left: 10px;">
                    <div id="infoModal">&nbsp;</div>
                </div>
                <div class="row" style="text-align: right;padding-right: 10px; padding-top: 5px;">
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" style="width: 60px;">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
    
    var table = document.getElementById("dynamic-table");
    if (table != null) {
        for (var i = 0; i < table.rows.length; i++) {
            for (var j = 0; j < table.rows[i].cells.length; j++) {
                table.rows[i].cells[j].onclick = function () {
                    tableText(this);
                    sorting_execute = '1';
                };
            }
        }
    }

        function tableText(tableCell) {
            var removeClass;
            var addClass;
            var dataSort;

            if (tableCell.getAttribute("class").indexOf('sorting') >= 0) {
                if (tableCell.getAttribute("class").indexOf('sorting_asc') >= 0) {

                    removeClass = 'sorting_asc';
                    addClass = 'sorting_desc';
                    dataSort = 'desc';

                } else if (tableCell.getAttribute("class").indexOf('sorting_desc') >= 0) {

                    removeClass = 'sorting_desc';
                    addClass = 'sorting_none';
                    dataSort = 'none';

                } else {

                    removeClass = 'sorting_none';
                    addClass = 'sorting_asc';
                    dataSort = 'asc';

                }
            }

            //reset all
            var tableReset = document.getElementById("dynamic-table");
            if (tableReset != null) {
                for (var i = 0; i < tableReset.rows.length; i++) {
                    for (var j = 0; j < tableReset.rows[i].cells.length; j++) {
                        
                        if (tableReset.rows[i].cells[j].className.indexOf('sorting_asc') >= 0) {
                            tableReset.rows[i].cells[j].classList.remove('sorting_asc');
                            tableReset.rows[i].cells[j].classList.add('sorting');
                            tableReset.rows[i].cells[j].dataset.sort = 'none';
                        }

                        if (tableReset.rows[i].cells[j].className.indexOf('sorting_desc') >= 0) {
                            tableReset.rows[i].cells[j].classList.remove('sorting_desc');
                            tableReset.rows[i].cells[j].classList.add('sorting');
                            tableReset.rows[i].cells[j].dataset.sort = 'none';
                        }

                    }
                }
            }
            // end

            if (tableCell.getAttribute("class").indexOf('sorting') >= 0) {
                tableCell.classList.remove(removeClass);
                tableCell.classList.add(addClass);
                tableCell.dataset.sort = dataSort;

                $.ajax({
                    type: "GET",
                    url: '@Html.Toyota().Page.GetActionUrl("GetPRInquirySort")',
                    data: {
                        field: tableCell.dataset.field,
                        sort: dataSort
                        },
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        $("#tblScroll")
                                .find('tbody')
                                .html(
                                    result
                                );
                    }
                });
        }
    }
</script>