﻿@using AI070.Models.WP03004Master;
@model IEnumerable<WP03004Master>

    @{
        Layout = "~/Views/WP03013/_Layout.cshtml";
    }

    <div class="container pl-0 pr-0">
        <h2 class="font-weight-bold mt-5 mb-4" style="font-size: 18px">Choose what Training you want.</h2>

        <div class="row row-cols-1" style="width: 80%">
            @foreach (WP03004Master item in Model)
            {
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.TITLE</h5>

                            <p class="card-text">@item.DESCRIPTION</p>
                            @Html.ActionLink("Open Module", "Index", new { id = item.ID }, new { @class = "btn btn-success" })
                        </div>

                    </div>

                </div>
            }
        </div>

    </div>
