﻿@model IEnumerable<SelectListItem>
@{
	string questionId = "question-" + @ViewBag.identifyId;
	string categoryId = "selectCategory-" + @ViewBag.identifyId;
}

<div class="panel panel-default">
	<div class="panel-body">
		<table id="tableSearch" class="width-100">
			<tr>
				<td>Question</td>
				<td>
					@Html.Editor(questionId, new { htmlAttributes = new { @class = "form-control" } })
				</td>
			</tr>
			<tr>
				<td>Kategori</td>
				<td>
					@Html.DropDownList(categoryId, Model, new { @class = "width-100" })
				</td>
			</tr>
		</table>
	</div>
</div>
