﻿@using AI070.Models.WP03003Master
@model IEnumerable<ExamDetailQuestionBank>

<label style="padding-left : 15px">@ViewBag.QuestionBlockTitle</label>
<div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
	<div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
		<div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
		<div id="tScrollHead" style="width: 100.15%;">
			<table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
				<thead>
					<tr>
						<th style="width: 18px; text-align: center; " class="grid-checkbox-col" rowspan="2">
							<input type="checkbox" value="All" style="height: 12px;" id="checkall" />
						</th>
						<th style="width: 150px;" rowspan="2">QUESTION</th>
					</tr>
				</thead>
			</table>
		</div>

		<!--data grid-->
		<div id="tScrollBody" style="height: 255px;">
			<table id="tabel-@ViewBag.identifyId" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
				<tbody id="tableBody">
					<!----><!----><!---->
					@{
						if (Model != null && Model.Count() > 0)
						{
							var number = 1;
							foreach (ExamDetailQuestionBank item in Model)
							{
								<tr id="row-@number">
									<td style="width: 18px;text-align: center;" class="grid-checkbox-col">
										<input class="grid-checkbox" value="@item.ID,@item.QUESTION"
											   type="checkbox" name="questionCheck-@ViewBag.identifyId" id="check-@number" style="height: 12px; display: inline-block;" />
									</td>

									<td style="width: 150px"> @Html.Raw(@item.QUESTION) </td>
								</tr>
								number++;
							}
						}
						else
						{
							<tr id="NoDataFound">
								<td colspan="8" width="90%" class="text-center">No data found</td>
							</tr>
						}
					}
					<!----><!----><!---->
				</tbody>
			</table>
		</div>

	</div>
</div>
