﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP0101Master;
@{
    List<WP0101Master> DataWP = (List<WP0101Master>)ViewData["DataWP0101"];
    List<WP0101> Status_Cmb = (List<WP0101>)ViewData["Status_Cmb"];
    List<WP0101> Time_Cmb = (List<WP0101>)ViewData["Time_Cmb"];
    List<WP0101> ExecTime_Cmb = (List<WP0101>)ViewData["Time_Cmb"];
    List<WP0101> Model_type = (List<WP0101>)ViewData["Model_type"];
    List<DivisionModel> Division = (List<DivisionModel>)ViewData["Division"];
    List<LocationModel> Location = (List<LocationModel>)ViewData["Project_Location"];
    List<StatusModel> Status = (List<StatusModel>)ViewData["Status"];
    var seletc_data_unit_time = "";
    var seletc_data_exec_time = "";
    var seletc_data_status = "";
    var error = 0;
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">

    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; overflow: hidden; border-right:17px solid #fff">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2">No</th>
                            <th style="width: 100px;" rowspan="2">Project Code</th>
                            <th style="width: 200px;" rowspan="2">Project Name</th>
                            <th style="width: 100px;" rowspan="2">Location</th>
                            <th style="width: 100px;" rowspan="2">Date</th>
                            <th style="width: 100px;" rowspan="2">Time</th>
                            <th style="width: 100px;" rowspan="2">Division / Dept</th>
                            <th style="width: 200px;" rowspan="2">Executor</th>
                            <th style="width: 200px;" rowspan="2">Contractor Name</th>
                            <th style="width: 200px;" rowspan="2">Leader Name</th>
                            <th style="width: 200px;" rowspan="2">Supervisor's Name</th>
                            <th style="width: 100px;" rowspan="2">Status</th>
                            <th style="width: 300px;" colspan="2">Created</th>
                            <th style="width: 300px;" colspan="2">Changed</th>
                        </tr>
                        <tr>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="overflow: scroll; height: 255px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tambah_data" style="display: none;">
                        <tr>
                            <td style="width: 100px">
                                <button type="button" id="btnConfirmSavingNewData" onclick="addDataConfirm()" class="btn btn-primary btn-xs" style="width: 40px"><i class="fa fa-save"></i></button>
                                <button type="button" id="btncloselookup" class="btn btn-danger btn-xs" style="width: 40px" data-dismiss="modal"><i class="fa fa-sign-out"></i></button>
                            </td>
                            <td style="width: 60px">  </td>
                            <td style="width: 100px; padding:0!important"> <input id="addProjectCode" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="addProjectName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important">
                                <select style="width:100%" id="addLocation" class="bg-danger">
                                    @{
                                        if (Location != null)
                                        {
                                            if (Location.Count() > 0)
                                            {
                                                foreach (LocationModel item in Location)
                                                {
                                                    <option>@item.Location</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width: 100px; padding:0!important"> <input id="addDate" class="bg-danger form-control" type="date" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important"> <input id="addTime" class="bg-danger form-control" type="time" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important">
                                <select style="width:100%" id="addDivision" class="bg-danger">
                                    @{
                                        if (Division != null)
                                        {
                                            if (Division.Count() > 0)
                                            {
                                                foreach (DivisionModel item in Division)
                                                {
                                                    <option>@item.Division</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width: 200px; padding:0!important"> <input id="addExecutor" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="addContractorName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="addLeaderName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="addSupervisorName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important">
                                <select style="width:100%" id="addStatus" class="bg-danger">
                                    @{
                                        if (Status != null)
                                        {
                                            if (Status.Count() > 0)
                                            {
                                                foreach (StatusModel item in Status)
                                                {
                                                    <option value="@item.ID">@item.Status</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width: 150px">  </td>
                            <td style="width: 150px">  </td>
                            <td style="width: 150px">  </td>
                            <td style="width: 150px">  </td>
                        </tr>
                    </tbody>
                    <tbody id="edit_data" style="display: none;">
                        <tr>
                            <td style="width: 100px">
                                <button type="button" id="btnConfirmUpdateNewData" onclick="EditDataConfirm()" class="btn btn-primary btn-xs" style="width: 40px"><i class="fa fa-save"></i></button>
                                <button type="button" id="btnEditcloselookup" onclick="cancel_edit()" class="btn btn-danger btn-xs" style="width: 40px" data-dismiss="modal"><i class="fa fa-sign-out"></i></button>
                            </td>
                            <td style="width: 60px">
                                <input id="EditID" type="text" style="display:none"/>
                            </td>
                            <td style="width: 100px; padding:0!important"> <input id="EditProjectCode" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="EditProjectName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important">
                                <select style="width:100%" id="EditLocation" class="bg-danger">
                                    @{
                                        if (Location != null)
                                        {
                                            if (Location.Count() > 0)
                                            {
                                                foreach (LocationModel item in Location)
                                                {
                                                    <option>@item.Location</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width: 100px; padding:0!important"> <input id="EditDate" class="bg-danger form-control" type="date" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important"> <input id="EditTime" class="bg-danger form-control" type="time" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important">
                                <select style="width:100%" id="EditDivision" class="bg-danger">
                                    @{
                                        if (Division != null)
                                        {
                                            if (Division.Count() > 0)
                                            {
                                                foreach (DivisionModel item in Division)
                                                {
                                                    <option>@item.Division</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width: 200px; padding:0!important"> <input id="EditExecutor" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="EditContractorName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="EditLeaderName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 200px; padding:0!important"> <input id="EditSupervisorName" class="bg-danger" type="text" style="width:100%" /> </td>
                            <td style="width: 100px; padding:0!important">
                                <select style="width:100%" id="EditStatus" class="bg-danger">
                                    @{
                                        if (Status != null)
                                        {
                                            if (Status.Count() > 0)
                                            {
                                                foreach (StatusModel item in Status)
                                                {
                                                    <option value="@item.ID">@item.Status</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td style="width: 150px">  </td>
                            <td style="width: 150px">  </td>
                            <td style="width: 150px">  </td>
                            <td style="width: 150px">  </td>
                        </tr>
                    </tbody>
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP0101Master item in DataWP)
                                    {
                                        <tr id="row-@number" class="row-@item.ID">
                                            <td style="width: 100px;text-align: center;" class="grid-checkbox-col">
                                                <input class="grid-checkbox" value="@item.ID,@item.PROJECT_CD,@item.PROJECT_NAME,@item.LOCATION,@item.TANGGAL_PELAKSANAAN,@item.JAM_PELAKSANAAN,@item.DIVISION,@item.PELAKSANA,@item.NAMA_PIMPINAN,@item.NAMA_KONTRAKTOR,@item.NAMA_PENGAWAS,@item.STATUS_ID" type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                            </td>
                                            <td style="width: 60px
">
                                                @number
                                            </td>
                                            <td style="width:100px">
                                                @item.PROJECT_CD
                                            </td>
                                            <td style="width:200px">
                                                @item.PROJECT_NAME
                                            </td>
                                            <td style="width:100px">
                                                @item.LOCATION
                                            </td>
                                            <td style="width:100px">
                                                @item.TANGGAL_PELAKSANAAN
                                            </td>
                                            <td style="width:100px">
                                                @item.JAM_PELAKSANAAN
                                            </td>
                                            <td style="width:100px">
                                                @item.DIVISION
                                            </td>
                                            <td style="width:200px">
                                                @item.PELAKSANA
                                            </td>
                                            <td style="width:200px">
                                                @item.NAMA_KONTRAKTOR
                                            </td>
                                            <td style="width:200px">
                                                @item.NAMA_PIMPINAN
                                            </td>
                                            <td style="width:200px">
                                                @item.NAMA_PENGAWAS
                                            </td>
                                            <td style="width:100px">
                                                @item.STATUS
                                            </td>
                                            <td style="width:150px">
                                                @item.CREATE_BY
                                            </td>
                                            <td style="width:150px">
                                                @item.CREATE_DT
                                            </td>
                                            <td style="width:150px">
                                                @item.CHANGED_BY
                                            </td>
                                            <td style="width:150px">
                                                @item.CHANGED_DT
                                            </td>
                                        </tr>
                                        number++;
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="15" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="NoDataFound">
                                    <td colspan="15" width="90%" class="text-center">No data found</td>
                                </tr>
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td colspan="13" id="partialPaging">
                                @Html.Partial("Datagrid_Paging")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
