﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP02001Master;
@{

    List<AreaModel> Areas = (List<AreaModel>)ViewData["Area"];
    List<DivisionModel> Division = (List<DivisionModel>)ViewData["Division"];
    
    List<LocationModel> Location = (List<LocationModel>)ViewData["Location"];
    List<WorkingHoursModel> WorkingHours = (List<WorkingHoursModel>)ViewData["WorkingHours"];

}




<div class="row ">
    <div class="col-lg-6">
        <label class="section-title">
            <u>Project Registration</u>
        </label>
        <div class="form-group">
            <label>Project Code </label>
            <input type="hidden" id="WP_PROJECT_ID" value="0" />
            <input type="text" maxlength="25" class="form-control space-input input-project" id="WP02001_TXT_ADD_PROJECTCODE" placeholder="Auto Generate" disabled>
        </div>
        <div class="form-group">
            <label>Project Name <span style="color:red">*</span></label>
            <input required type="text" maxlength="25" class="form-control space-input input-project" id="WP02001_TXT_ADD_PROJECTNAME" placeholder="Nama Proyek">
        </div>
        <div class="form-group">
            <label>Project Area <span style="color:red">*</span></label>
            <select class="form-control space-input input-project" id="WP02001_DDL_ADD_AREA" required>
                <option value="">- select -</option>
                @{
                    if (Areas != null)
                    {
                        if (Areas.Count() > 0)
                        {
                            foreach (AreaModel item in Areas)
                            {
                                <option value="@item.ID_TB_M_AREA">@item.AREA_NAME</option>
                            }
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label>Project Location <span style="color:red">*</span></label>
                <select class="form-control space-input input-project" id="WP02001_DDL_ADD_LOC" disabled required>
                    <option value="">- select -</option>
                    @{
                        if (Location != null)
                        {
                            if (Location.Count() > 0)
                            {
                                foreach (LocationModel item in Location)
                                {
                                    <option style="display:none" value="@item.ID_TB_M_LOCATION" area="@item.ID_TB_M_AREA">@item.LOC_NAME</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <label>Division/Departement <span style="color:red">*</span></label>
                <select class="form-control space-input input-project" id="WP02001_DDL_ADD_DIV" required>
                    <option value="">- select -</option>
                    @{
                        if (Division != null)
                        {
                            if (Division.Count() > 0)
                            {
                                foreach (DivisionModel item in Division)
                                {
                                    <option value="@item.Division">@item.Division</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label>Start Date <span style="color:red">*</span></label>
                <input id="WP02001_DT_ADD_PELAKSANAAN" class="form-control input-project" type="date" required>
            </div>
            <div class="col-lg-6">
                <label>End Date <span style="color:red">*</span></label>
                <input id="WP02001_DT_TO_ADD_PELAKSANAAN" class="form-control input-project" type="date" required>
            </div>
        </div>
        <div class="form-check">
            <div class="row">
                <div class="col-lg-2">
                    <label>Working Status <span style="color:red">*</span> :</label>
                </div>
                <div class="col-lg-2 unset-padding-chkbox ">
                    <input class="form-check-input input-project" type="radio" value="1" name="WorkingStatus" id="WP02001_CHK_ADD_STNEW">
                    <label class="form-check-label" for="WP02001_CHK_ADD_STNEW">
                        New
                    </label>
                </div>
                <div class="col-lg-2 unset-padding-chkbox ">
                    <input class="form-check-input input-project" type="radio" value="0" name="WorkingStatus" id="WP02001_CHK_ADD_STEXTEND">
                    <label class="form-check-label" for="WP02001_CHK_ADD_STEXTEND">
                        Extend
                    </label>
                </div>
                <div class="col-lg-1" style="margin-left:30px; width:unset; padding-right:5px; ">
                    <label>*)</label>
                </div>
                <div class="col-lg-5" style="padding-left:unset">
                    <textarea type="text" maxlength="25" style="margin: 0px -51.7969px 0px 0px; width: 343px; height: 106px;" class="form-control space-input input-project" id="WP02001_TXT_ADD_NOTED" placeholder="Noted"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6">
                <label class="section-title">
                    <u>Job Responsible</u>
                </label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-xs pull-right actionbtn" id="WP02001_BTN_ADD_SHOW_JOBPROYEK" style="width: 80px;"><i class="fa fa-plus"></i> Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row space-bottom">
                <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
                    <div style="border: 1px solid #ccc; overflow:scroll; position: relative;">
                        <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
                        <div id="tScrollHead" style="width: 100%; border-right:1px solid #fff">
                            <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                                <thead>
                                    <tr>
                                        <th style="width: 125px;">Job Name</th>
                                        <th style="width: 125px;">No IMPB</th>
                                        <th style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <!--data grid-->
                        <div id="tScrollBody" style="height: 255px;">
                            <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                                <tbody id="WP02001_TBL_ADD_JOBPROYEK" style="display: none;">
                                    <tr>
                                        <td style="width: 125px; padding:0!important">
                                            <input type="text" class="form-control space-input" id="WP02001_TXT_ADD_JOBNAME">
                                        </td>
                                        <td style="width: 125px; padding:0!important">
                                            <input type="text" disabled class="form-control space-input" id="WP02001_TXT_ADD_NOIMPB">
                                        </td>
                                        <td style="width: 100px">
                                            <button type="button" id="WP02001_BTN_ADD_JOBPROYEK" onclick="addDataJobProyek()" class="btn btn-primary btn-xs" style="width: 70px; margin-left:10px;">
                                                <i class="fa fa-save">
                                                </i>
                                            </button>
                                            <button type="button" id="WP02001_BTN_ADD_JOBPROYEK_CLOSE" class="btn btn-danger btn-xs" style="width: 70px"><i class="fa fa-sign-out"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody id="WP02001_TBL_EDIT_JOBPROYEK" style="display: none;">
                                    <tr>
                                        <td style="width: 125px; padding:0!important">
                                            <input type="text" class="form-control space-input" id="WP02001_TXT_EDIT_JOBNAME">
                                        </td>
                                        <td style="width: 125px; padding:0!important">
                                            <input type="text" disabled class="form-control space-input" id="WP02001_TXT_EDIT_NOIMPB">
                                        </td>
                                        <td style="width: 100px">
                                            <button type="button" id="WP02001_BTN_EDIT_JOBPROYEK" class="btn btn-primary btn-xs" style="width: 70px; margin-left:10px;">
                                                <i class="fa fa-save">
                                                </i>
                                            </button>
                                            <button type="button" id="WP02001_BTN_EDIT_JOBPROYEK_CLOSE" class="btn btn-danger btn-xs" style="width: 70px"><i class="fa fa-sign-out"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody id="WP02001_TBL_LIST_JOBPROYEK">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>