﻿
<script>
    var SITE_URL = window.location.href + "/";
    var CounterIMPB = 0;
    var DataIMPB = [];
    var IMPBSelected = {};
    var ListPekerjaan = [];
    var ListDampakPIC = [];
    var ListBahayaPIC = [];
    var ListUser = [];
    var ListDataWorking = [];
    var ListData = [];
    var ListDataIdentification = [];
    var ListDataImpact = [];
    var ListDataSupervision = [];
    var ListDataJob = [];

    $(document).ready(function () {
        $('#btn_Delete').prop('disabled', true);
        $('#btn_edit').prop('disabled', true);
        ListUser = GetListOption("WP02001_DDL_ADD_USER");
        ListPekerjaan = GetListOption("WP02001_DDL_ADD_PEKERJAAN");
        ListDampakPIC = GetListOption("WP02001_DDL_ADD_DAMPAK_PIC");
        ListBahayaPIC = GetListOption("WP02001_DDL_ADD_BAHAYA_PIC");


        $('#searchStatus').on('change', function () {
            if (this.value == 'Other') {
                $('#otherStatus').show();
            } else {
                $('#otherStatus').hide();
            }
        });
    });

    function GetListOption(element) {
        var arr = [];
        $('#' + element+' option').each(function () {
            var objdt = {
                values: $(this).val(),
                texts: $(this).text()
            }
            arr.push(objdt);
        });
        return arr;
    }

    function MappingListOption(element, arr) {
        $('#' + element).html('');

        arr.forEach(function (item, index) {
            $('#' + element).append("<option value=" + item.values + ">" + item.texts + "</option>");
        });
    }

    $('#searchStatus').on('click', function () {

    });

    $('.btnEditProject').on('click', function () {
        var data = this.data('title');
        alert(data);
    });

    // tombol Add Confirm
    function addDataConfirm() {
        $('#PopupForm_AddNewConfirm').modal();
    }

    //tombol Add New
    function addNew() {
        var project_code = $('#addProjectCode').val();
        var project_name = $('#addProjectName').val();
        var date = $('#addDate').val();
        var time = $('#addTime').val();
        var location = $('#addLocation').val();
        var division = $('#addDivision').val();
        var executor = $('#addExecutor').val();
        var contractor = $('#addContractorName').val();
        var leaderName = $('#addLeaderName').val();
        var superVisor = $('#addSupervisorName').val();
        var status = $('#addStatus').val();

        if (project_code == null || project_code == '') {
            toastr.warning('Project Code Cannot Be Empty');
            return;
        }

        if (project_name == null || project_name == '') {
            toastr.warning('Project Name Cannot Be Empty');
            return;
        }

        if (location == null || location == '') {
            toastr.warning('Location Cannot Be Empty');
            return;
        }

        if (date == null || date == '') {
            toastr.warning('Date Cannot Be Empty');
            return;
        }

        if (division == null || division == '') {
            toastr.warning('Division Cannot Be Empty');
            return;
        }

        if (executor == null || executor == '') {
            toastr.warning('Executor Cannot Be Empty');
            return;
        }

        if (contractor == null || contractor == '') {
            toastr.warning('Contractor Cannot Be Empty');
            return;
        }

        if (leaderName == null || leaderName == '') {
            toastr.warning('Leader Cannot Be Empty');
            return;
        }

        if (superVisor == null || superVisor == '') {
            toastr.warning('Supervisor Cannot Be Empty');
            return;
        }

        if (status == null || status == '') {
            toastr.warning('Status Cannot Be Empty');
            return;
        }

        $.ajax({
            type: "POST",
            url: SITE_URL + 'ADD_NEW',
            async: false,
            data: {
                PROJECT_CODE: project_code,
                PROJECT_NAME: project_name,
                LOCATION: location,
                DATE: date,
                TIME: time,
                DIVISION: division,
                EXECUTOR: executor,
                CONTRACTOR: contractor,
                LEADER_NAME: leaderName,
                SUPERVISOR_NAME: superVisor,
                STATUS: status
            },
            success: function (res) {
                if (res.sts == "TRUE") {
                    toastr.success("Data Has Been Save Successfuly");
                    searchData();
                    $('#btncloselookup').click();
                } else {
                    toastr.warning(res.Exec[0].LINE_STS);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    //tombol Edit

    $('#btn_edit').on('click', function () {
        var ID = $('#EditID');
        var project_code = $('#EditProjectCode');
        var project_name = $('#EditProjectName');
        var location = $('#EditLocation');
        var date = $('#EditDate');
        var time = $('#EditTime');
        var division = $('#EditDivision');
        var executor = $('#EditExecutor');
        var contractor_name = $('#EditContractorName');
        var leader_name = $('#EditLeaderName');
        var supervisor = $('#EditSupervisorName');
        var status = $('#EditStatus');
        var Var = "";
        var Send_Var = "";
        var Send_Var = "";
        $("input[name='checkdata[]']").each(function () {
            if ($(this).is(':checked')) {
                Var = "";
                Var = Var + $(this).val();
                Send_Var = Var.split(',');
            }
        });
        ID.val(Send_Var[0]);
        project_code.val(Send_Var[1]);
        project_name.val(Send_Var[2]);
        location.val(Send_Var[3]);
        date.val(Send_Var[4]);
        time.val(Send_Var[5]);
        division.val(Send_Var[6]);
        executor.val(Send_Var[7]);
        contractor_name.val(Send_Var[8]);
        leader_name.val(Send_Var[9]);
        supervisor.val(Send_Var[10]);
        status.val(Send_Var[11]);

        $('#edit_data').show();
        $('.row-' + Send_Var[0]).hide();

    });

    function cancel_edit() {
        var ID = $('#EditID').val();
        $('#edit_data').hide();
        $('.row-' + ID).show();
    }

    //EditDataConfirm
    function EditDataConfirm() {
        $('#PopupForm_EditConfirm').modal();
    }

    function updateData() {
        $("input[name='checkdata[]']").each(function () {
            if ($(this).is(':checked')) {
                var ID = $('#EditID').val();
                var project_code = $('#EditProjectCode').val();
                var project_name = $('#EditProjectName').val();
                var location = $('#EditLocation').val();
                var date = $('#EditDate').val();
                var time = $('#EditTime').val();
                var division = $('#EditDivision').val();
                var executor = $('#EditExecutor').val();
                var contractor_name = $('#EditContractorName').val();
                var leader_name = $('#EditLeaderName').val();
                var supervisor = $('#EditSupervisorName').val();
                var status = $('#EditStatus').val();
                var Send_Var = ID + "," + project_code + "," + project_name + "," + location + "," + date + "," + time + "," + division + "," + executor + "," + contractor_name + "," + leader_name + "," + supervisor + "," + status;

                if (project_code == null || project_code == '') {
                    toastr.warning('Project Code Cannot Be Empty');
                    return;
                }

                if (project_name == null || project_name == '') {
                    toastr.warning('Project Name Cannot Be Empty');
                    return;
                }

                if (location == null || location == '') {
                    toastr.warning('Location Cannot Be Empty');
                    return;
                }

                if (division == null || division == '') {
                    toastr.warning('Division Cannot Be Empty');
                    return;
                }

                if (executor == null || executor == '') {
                    toastr.warning('Executor Cannot Be Empty');
                    return;
                }

                if (status == null || status == '') {
                    toastr.warning('Status Cannot Be Empty');
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: 'WP02001/Update_Data',
                    async: false,
                    data: {
                        DATA: Send_Var
                    },
                    success: function (data) {
                        console.log(Var);
                        if (data.sts == "TRUE") {
                            toastr.success(data.message);
                            cancel_edit();

                        }
                        else {
                            toastr.warning(data.message);
                        }
                        $("#PopupForm_EditConfirm").modal('hide');

                        OnSearch(1);
                        //xxx
                    }
                });
            }
        });

    }

    //tombol Delete
    $("#btn_Delete").on("click", function () {
        $('#Confirmation_Delete_Popup').modal();
    });

    function delete_data() {
        var chk = $("input[name='checkdata[]']:checked").length;
        //alert('hai >> ' + chk);

        if (chk == 0) {
            toastr.warning('Select One or More record to Delete');
            //toastr.warning('Select One or More record to delete.');
        }
        else {
            var Var = "";
            var Send_Var = "";
            $("input[name='checkdata[]']").each(function () {
                if ($(this).is(':checked')) {
                    Var = "";
                    Var = Var + $(this).val();
                    if (Var != '') {
                        Send_Var = Send_Var + Var.split(',')[0] + ",";
                    } else {
                        Send_Var = Send_Var + "," + Var.split(',')[0];
                    }

                }
            });

            $.ajax({
                type: "POST",
                url: 'WP02001/Delete_Data',
                async: false,
                data: {
                    DATA: Send_Var
                },
                success: function (data) {
                    if (data.sts == "TRUE") {
                        toastr.success(data.message);
                    }
                    else {
                        toastr.warning(data.message);
                    }
                    $("#Confirmation_Delete_Popup").modal('hide');

                    OnSearch(1);
                    //xxx
                }
            });
        }
    }

    //tombol clear
    function clear_search() {
        $('#searchProjectName').val("");
        $('#searchLocation').val("");
        $('#searchDate').val("");
        $('#searchDateTo').val("");
        $('#searchDivision').val("");
        $('#tableBody').html("");
        $('#searchStatus').val("");
        $('#otherStatus').val("");
    }

    // tombol search
    $("#btn_search").on("click", function () {
        OnSearch(1);
    });

    //// tombol new
    //$("#btn_new").on("click", function () {
    //    $('#NoDataFound').closest('tr').remove();
    //    $('#addProjectCode').val('');
    //    $('#addProjectName').val('');
    //    $('#addLocation').val('');
    //    $('#addDate').val('');
    //    $('#addDivision').val('');
    //    $('#addExecutor').val('');
    //    $('#addContractorName').val('');
    //    $('#addLeaderName').val('');
    //    $('#addSupervisorName').val('');
        
    //});

    // tombol pencarian data
    function OnSearch(page) {
        searchData(page, $('#paging').val());

        $('#btn_download').prop('disabled', false);
        $('#btn_clear').prop('disabled', false);
    }

    // proses pencarian data
    function searchData(page, size) {
        var project_name = $('#searchProjectName').val();
        var project_location = $('#searchLocation').val();
        var project_date = $('#searchDate').val();
        var project_dateTo = $('#searchDateTo').val();
        var division = $('#searchDivision').val();
        var project_time = '';//$('#searchTime').val();
        var project_timeTo = '';//$('#searchTimeTo').val();
        var status = $('#searchStatus').val();

        if (status == 'Other') {
            status = $('#otherStatus').val();
        }

        Last_Record_Per_Page = $("#paging").val();
        $.ajax({
            type: "POST",
            url: SITE_URL + 'Search_Data',
            async: false,
            data: {
                start: page,
                display: size,
                DATA_ID: $("#data_nm").val(),
                EXECUTION_TIME: $("#exec_time_cd").val(),
                TIME_UNIT_CRITERIA: $("#time_unit_cd").val(),
                STATUS_ACTIVE: $("#sts_cd").val(),
                PROJECT_NAME: project_name,
                PROJECT_LOCATION: project_location,
                PROJECT_DATE: project_date,
                PROJECT_DATETO: project_dateTo,
                DIVISION: division,
                PROJECT_TIME: project_time,
                PROJECT_TIMETO: project_timeTo,
                STATUS: status
            },
            success: function (data) {
                $("#GridTable").html(data);
                $("#paging").val(Last_Record_Per_Page);

                scroll_and_checkbox();
                cek_perdata();
            }
        });
    }

    // ceklist per data
    function cek_perdata() {
        $("input[name='checkdata[]']").on("click", function () {
            if ($(this).is(':checked')) {
                $('#btn_Delete').prop('disabled', false);
                total_check = $('.grid-checkbox:checkbox:checked').length;
                if (total_check == 1) {
                    $('#btn_edit').prop('disabled', false);
                }

                Var = "";

                $("input[name='checkdata[]']").each(function () {
                    if ($(this).is(':checked')) {
                        Var = Var + $(this).val();
                    }
                });


                //// time unit
                //var time_unit_val = Var.split(',')[6].replace(/^\s+|\s+$/g, '');
                //$('#' + time_unit_val).prop('disabled', true);

                //// time value
                //var time_value_val = Var.split(',')[7].replace(/^\s+|\s+$/g, '');
                //$('#' + time_value_val).prop('disabled', true);
                //$('#' + time_value_val).attr('placeholder', Var.split(',')[2].replace(/^\s+|\s+$/g, ''));

                //// exec time
                //var exec_time_val = Var.split(',')[8].replace(/^\s+|\s+$/g, '');
                //$('#' + exec_time_val).prop('disabled', true);

                //// status
                //var status_val = Var.split(',')[9].replace(/^\s+|\s+$/g, '');
                //$('#' + status_val).prop('disabled', true);


                // tombol save edit
                //var save_edit = Var.split(',')[11].replace(/^\s+|\s+$/g, '');

                //// tombol cancel edit
                //var cancel_edit = Var.split(',')[12].replace(/^\s+|\s+$/g, '');

            }
            else {
                $('#btn_Delete').prop('disabled', true);
                $('#btn_edit').prop('disabled', true);

                $("input[name='time_unit_data[]']").prop('disabled', true);
                $("input[name='time_value_data[]']").prop('disabled', true);
                $("input[name='exec_time_data[]']").prop('disabled', true);
                $("input[name='status_data[]']").prop('disabled', true);

                $("button[name='btnConfirmEditData[]']").prop('disabled', true);
                $("button[name='btncloselookup[]']").prop('disabled', true);
            }
        });
    }

    // ceklist all data dan scroll
    function scroll_and_checkbox() {
        $("#tScrollBody").scroll(function () {
            $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        });


        $("#checkall").click(function () {
            if ($("#checkall").is(":checked")) {
                $(".grid-checkbox").prop('checked', true);
                $('#btn_Delete').prop('disabled', false);
                $('#btn_edit').prop('disabled', true);
            }
            else {
                $(".grid-checkbox").prop('checked', false);
                $('#btn_Delete').prop('disabled', true);
                $('#btn_edit').prop('disabled', true);
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function showAdd() {
        $('.submitbtn').show();
        $('.actionbtn').removeAttr("disabled");
        $('.input-project').removeAttr("disabled");
        $('#inputForm').show();
        $('#formData').hide();
        $('#formPage').hide();
        $('#formSearch').hide();
        $('#GridProject').hide();
        radiobtn = document.getElementById("WP02001_CHK_ADD_STNEW");
        radiobtn.checked = true;
        $('.input-project').val('').trigger('change');
        $('#WP_PROJECT_ID').val("0").trigger("change");
        $('#WP02001_TBL_LIST_JOBPROYEK').html('');
    }

    function cancelAdd() {
        $('#GridProject').show();
        $('#inputForm').hide();
        $('#tambah_data').hide();
        $('#formData').show();
        $('#formPage').show();
        $('#formSearch').show();
        $('.form-control').find('input:text').val('');
        $('.form-control').find('select').val('');
        radiobtn = document.getElementById("WP02001_CHK_ADD_STNEW");
        radiobtn.checked = true;
    }

    //<----------------------------------------------ADD DATA REGION------------------------------------------->
    var _row = null;


    function loadFormAdd() {

    }

    function confirmAdd() {
        var value_id = $('#add_ID').val();

        switch (value_id) {
            case 'pekerjaan':
                confirmAddPekerjaan();
                break;
            case 'bahaya':
                confirmAddBahaya();
                break;
            case 'dampak':
                confirmAddDampak();
                break;
            case 'pengawasan':
                confirmAddPengawasan();
                break;
            case 'jobproyek':
                confirmAddJobProyek();
                break;
        }
    }

    function confirmEdit() {
        var value_id = $('#edit_ID').val();

        switch (value_id) {
            case 'pekerjaan':
                confirmEditPekerjaan();
                break;
            case 'bahaya':
                confirmEditBahaya();
                break;
            case 'dampak':
                confirmEditDampak();
                break;
            case 'pengawasan':
                confirmEditPengawasan();
                break;
            case 'jobproyek':
                confirmEditJobProyek();
                break;
        }
    }

    function confirmDelete() {
        var value_id = $('#delete_ID').val();

        switch (value_id) {
            case 'pekerjaan':
                confirmDeletePekerjaan();
                break;
            case 'bahaya':
                confirmDeleteBahaya();
                break;
            case 'dampak':
                confirmDeleteDampak();
                break;
            case 'pengawasan':
                confirmDeletePengawasan();
                break;
            case 'jobproyek':
                confirmDeleteJobProyek();
                break;
        }
    }
    //<----------------------------------------------START A. HEADER------------------------------------------->
    $("#WP02001_DDL_ADD_AREA").on("change", function () {
        $('#WP02001_DDL_ADD_LOC').attr('disabled', 'disabled');
        $('#WP02001_DDL_ADD_LOC').val('');
        if ($('#WP02001_DDL_ADD_AREA option:selected').val() != '') {
            $('#WP02001_DDL_ADD_LOC').removeAttr('disabled');
            $("#WP02001_DDL_ADD_LOC option").hide();
            $("#WP02001_DDL_ADD_LOC option[area=" + $('#WP02001_DDL_ADD_AREA option:selected').val() + "]").show();
        }
    });

    //<----------------------------------------------END A. HEADER--------------------------------------------->
    //<----------------------------------------------START B. PELAKSANA PROYEK------------------------------------------->

    $('#WP02001_DT_ADD_PELAKSANAAN').on("blur", function () {
        var valueOfDate = $(this).val().split('-');
        const _date = new Date(valueOfDate[0], parseInt(valueOfDate[1]) - 1, valueOfDate[2]);
        _date.setDate(_date.getDate() + 7);
        var day = 1;
        for (var d = new Date(valueOfDate[0], parseInt(valueOfDate[1]) - 1, valueOfDate[2]); d < _date; d.setDate(d.getDate() + 1)) {
            console.log(d);
            $('#WP02001_TH_ADD_D' + day).text(d.getDate());
            day++;
        }


    })


    $('input[type=radio][name=pelaksana]').change(function () {
        $('#WP02001_DDL_ADD_BAGIAN').removeAttr('disabled');
        $('#WP02001_DDL_ADD_BAGIAN').val('');
        $("#WP02001_DDL_ADD_BAGIAN option").hide();

        $('#WP02001_DDL_ADD_NAMALEAD').val('');
        $('#WP02001_DDL_ADD_NAMAPGWS').val('');
        $('#WP02001_DDL_ADD_NAMALEAD').attr('disabled', 'disabled');
        $('#WP02001_DDL_ADD_NAMAPGWS').attr('disabled', 'disabled');

        $('#WP02001_TXT_ADD_NOALPGWS').val('');
        $('#WP02001_TXT_ADD_NOHPPGWS').val('');

        $('#WP02001_TXT_ADD_NOALLEAD').val('');
        $('#WP02001_TXT_ADD_NOHPLEAD').val('');

        if (this.value == 'TMMI') {
            $("#WP02001_DDL_ADD_BAGIAN option[code=TMMI]").show();
        }
        else {
            $("#WP02001_DDL_ADD_BAGIAN option:not([code=TMMI])").show();
        }
    });

    $("#WP02001_DDL_ADD_BAGIAN").on("change", function () {
        $('#WP02001_DDL_ADD_NAMALEAD').attr('disabled', 'disabled');
        $('#WP02001_DDL_ADD_NAMALEAD').val('');

        $('#WP02001_DDL_ADD_NAMAPGWS').attr('disabled', 'disabled');
        $('#WP02001_DDL_ADD_NAMAPGWS').val('');

        $('#WP02001_TXT_ADD_NOALLEAD').val('');
        $('#WP02001_TXT_ADD_NOHPLEAD').val('');

        $('#WP02001_TXT_ADD_NOALPGWS').val('');
        $('#WP02001_TXT_ADD_NOHPPGWS').val('');

        var value = $('#WP02001_DDL_ADD_BAGIAN option:selected').val();
        if (value != '') {
            $('#WP02001_DDL_ADD_NAMALEAD').removeAttr('disabled');
            $("#WP02001_DDL_ADD_NAMALEAD option").hide();
            var code = value + ',' + "PIMPINAN"
            console.log(code);
            $("#WP02001_DDL_ADD_NAMALEAD option[code='" + code + "']").show();

            $('#WP02001_DDL_ADD_NAMAPGWS').removeAttr('disabled');
            $("#WP02001_DDL_ADD_NAMAPGWS option").hide();
            var code = value + ',' + "PENGAWAS"

            $("#WP02001_DDL_ADD_NAMAPGWS option[code='" + code + "']").show();
        }
    });


    $('#WP02001_DDL_ADD_NAMALEAD').change(function () {
        $('#WP02001_TXT_ADD_NOALLEAD').val($('#WP02001_DDL_ADD_NAMALEAD option:selected').attr('noanzen'));
        $('#WP02001_TXT_ADD_NOHPLEAD').val($('#WP02001_DDL_ADD_NAMALEAD option:selected').attr('phone'));
    });

    $('#WP02001_DDL_ADD_NAMAPGWS').change(function () {
        $('#WP02001_TXT_ADD_NOALPGWS').val($('#WP02001_DDL_ADD_NAMAPGWS option:selected').attr('noanzen'));
        $('#WP02001_TXT_ADD_NOHPPGWS').val($('#WP02001_DDL_ADD_NAMAPGWS option:selected').attr('phone'));
    });

    //<----------------------------------------------END B. PELAKSANA PROYEK--------------------------------------------->

    //<----------------------------------------------START C. PEKERJAAN REGION------------------------------------------->
    function selectOnlyThis(id) {

        document.getElementById("WP02001_CHK_EDIT_TKTINGGI").checked = false;
        document.getElementById("WP02001_CHK_EDIT_TKSEDANG").checked = false;
        document.getElementById("WP02001_CHK_EDIT_TKRENDAH").checked = false;

        document.getElementById("WP02001_CHK_ADD_TKTINGGI").checked = false;
        document.getElementById("WP02001_CHK_ADD_TKSEDANG").checked = false;
        document.getElementById("WP02001_CHK_ADD_TKRENDAH").checked = false;

        document.getElementById(id).checked = true;
    }

    function refreshClass() {
        $('.tk-bahaya').removeAttr('checked');
        $('.tk-bahaya').removeAttr('disabled');

        $('.day-class').removeAttr('checked');
        $('.day-class').removeAttr('disabled');

        $('.stop6-class').removeAttr('checked');
        $('.stop6-class').removeAttr('disabled');
    }

    function addDataPekerjaan() {
        $('#add_ID').val('pekerjaan');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataPekerjaan() {
        $('#edit_ID').val('pekerjaan');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataPekerjaan(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('pekerjaan');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02001_BTN_ADD_SHOW_PEKERJAAN").on("click", function () {
        $('#NoDataFound').closest('tr').remove();
        $('#WP02001_DDL_ADD_PEKERJAAN').val('');

        refreshClass();

        document.getElementById("WP02001_TBL_ADD_PEKERJAAN").style.display = "";

        $("#WP02001_BTN_ADD_PEKERJAANCLOSE").on("click", function () {

            $('#WP02001_TBL_ADD_PEKERJAAN').hide();
        });
    });

    function confirmDeletePekerjaan() {
        _row.remove();
        $('#WP02001_DDL_ADD_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_EDIT_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');

        if ($("#WP02001_TBL_LIST_PEKERJAAN > tr").length < 1) {
            $('#WP02001_BTN_ADD_SHOW_BAHAYA').attr('disabled', 'disabled');
            $('#WP02001_BTN_ADD_SHOW_DAMPAK').attr('disabled', 'disabled');
        }
    }

    function confirmAddPekerjaan() {
        var _tk_bahaya = $('.tk-bahaya');
        var _day_class = $('.day-class:checked');
        var _stop6_class = $('.stop6-class:checked');

        var _arr_tk_bahaya = $('.tk-bahaya');
        var _arr_day_class = $('.day-class');
        var _arr_stop6_class = $('.stop6-class');

        var _arr_new_tk_bahaya = [];
        var _arr_new_day_class = [];
        var _arr_new_stop6_class = [];

        for (var i = 0; _arr_tk_bahaya[i]; ++i) {
            if (_arr_tk_bahaya[i].checked) $(_arr_tk_bahaya[i]).attr('checked', 'checked');
            $(_arr_tk_bahaya[i]).attr('disabled', 'disabled');
            $(_arr_tk_bahaya[i]).removeClass('tk-bahaya');
            var data = $('<div>').append($(_arr_tk_bahaya[i]).clone()).html();
            _arr_new_tk_bahaya.push(data);
            $(_arr_tk_bahaya[i]).addClass('tk-bahaya');
        }

        for (var i = 0; _arr_day_class[i]; ++i) {
            if (_arr_day_class[i].checked) $(_arr_day_class[i]).attr('checked', 'checked');
            $(_arr_day_class[i]).attr('disabled', 'disabled');
            $(_arr_day_class[i]).removeClass('day-class');
            var data = $('<div>').append($(_arr_day_class[i]).clone()).html();
            _arr_new_day_class.push(data);
            $(_arr_day_class[i]).addClass('day-class');

        }

        for (var i = 0; _arr_stop6_class[i]; ++i) {
            if (_arr_stop6_class[i].checked) $(_arr_stop6_class[i]).attr('checked', 'checked');
            $(_arr_stop6_class[i]).attr('disabled', 'disabled');
            $(_arr_stop6_class[i]).removeClass('stop6-class');
            var data = $('<div>').append($(_arr_stop6_class[i]).clone()).html();
            _arr_new_stop6_class.push(data);
            $(_arr_stop6_class[i]).addClass('stop6-class');
        }

        if ($('#WP02001_DDL_ADD_PEKERJAAN').val() == null || $('#WP02001_DDL_ADD_PEKERJAAN').val() == '') {
            toastr.warning('Pekerjaan Cannot Be Empty');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');

            return;
        }

        if (_tk_bahaya.length < 1) {
            toastr.warning('Tingkat Bahaya must Be checked');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');
            return;
        }

        if (_day_class.length < 1) {
            toastr.warning('Tanggal must Be checked, Minimal 1');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');
            return;
        }

        if (_stop6_class.length < 1) {
            toastr.warning('Stop 6 Category must Be checked, Minimal 1');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');
            return;
        }

        tableBuilder(_arr_new_tk_bahaya, _arr_new_day_class, _arr_new_stop6_class);

        $('#WP02001_BTN_ADD_SHOW_BAHAYA').removeAttr('disabled');
        $('#WP02001_BTN_ADD_SHOW_DAMPAK').removeAttr('disabled');

        $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').append('<option value="' + $('#WP02001_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02001_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');
        $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').append('<option value="' + $('#WP02001_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02001_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');

        $('#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN').append('<option value="' + $('#WP02001_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02001_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');
        $('#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN').append('<option value="' + $('#WP02001_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02001_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');

        var value = $('#WP02001_DDL_ADD_PEKERJAAN').val();
        $("#WP02001_DDL_ADD_PEKERJAAN option[value='" + value + "']").remove();
        $("#WP02001_DDL_EDIT_PEKERJAAN option[value='" + value + "']").remove();

    }

    function tableBuilder(_arr_tk_bahaya, _arr_day_class, _arr_stop6_class) {
        var html = '<tr>';
        html += '<td style="width: 200px; padding:0!important" name="' + $('#WP02001_DDL_ADD_PEKERJAAN').val() + '" >' + $("#WP02001_DDL_ADD_PEKERJAAN option:selected").text() + '</td>';
        for (var i = 0; _arr_tk_bahaya[i]; ++i) {
            html += '<td style="width: 40px; padding:0!important">' + _arr_tk_bahaya[i] + '</td>';
        }
        for (var i = 0; _arr_day_class[i]; ++i) {
            html += '<td style="width: 20px; padding:0!important">' + _arr_day_class[i] + '</td>';
        }
        for (var i = 0; _arr_stop6_class[i]; ++i) {
            html += '<td style="width: 20px; padding:0!important">' + _arr_stop6_class[i] + '</td>';
        }
        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 70px; margin-left:10px;" onclick="actionEditPekerjaan(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 70px; margin-left:3px;" onclick="deleteDataPekerjaan(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02001_TBL_LIST_PEKERJAAN').append(html);
        $('#WP02001_TBL_ADD_PEKERJAAN').hide();
    }

    function actionEditPekerjaan(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();

        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02001_DDL_EDIT_PEKERJAAN').append('<option value="' + $(row).find('td:first-child').attr('name') + '" selected="selected">' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02001_DDL_EDIT_PEKERJAAN').val($(value).attr("name"));

            }
            else {
                $('input[name="edit_' + index + '"]').prop('checked', false);
                if ($($(value).children()).is(':checked'))
                    $('input[name="edit_' + index + '"]').prop('checked', true);
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02001_BTN_ADD_SHOW_PEKERJAAN').attr('disabled', 'disabled');

        $('#WP02001_TBL_EDIT_PEKERJAAN').show();
        $("#WP02001_BTN_EDIT_PEKERJAANCLOSE").on("click", function () {
            $(row).show();
            $('#WP02001_TBL_EDIT_PEKERJAAN').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02001_BTN_ADD_SHOW_PEKERJAAN').removeAttr('disabled');
            $("#WP02001_DDL_EDIT_PEKERJAAN option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
        });

        $('#WP02001_BTN_EDIT_PEKERJAAN').on("click", function () {
            editDataPekerjaan();
        })
    }

    function confirmEditPekerjaan() {
        $('#WP02001_DDL_ADD_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');

        $.each(_row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $(value).text($("#WP02001_DDL_EDIT_PEKERJAAN option:selected").text());
                $(value).attr('name', $("#WP02001_DDL_EDIT_PEKERJAAN").val());
                $("#WP02001_DDL_ADD_PEKERJAAN option[value='" + $("#WP02001_DDL_EDIT_PEKERJAAN").val() + "']").remove();
                $("#WP02001_DDL_EDIT_PEKERJAAN option[value='" + $("#WP02001_DDL_EDIT_PEKERJAAN").val() + "']").remove();
            }
            else {
                $($(value).children()).prop('checked', false);
                if ($('input[name="edit_' + index + '"]').is(':checked')) {
                    $($(value).children()).prop('checked', true);
                }
            }
        });

        $(_row).show();
        $('#WP02001_TBL_EDIT_PEKERJAAN').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02001_BTN_ADD_SHOW_PEKERJAAN').removeAttr('disabled');
    }

    //<----------------------------------------------END   C. PEKERJAAN REGION------------------------------------------->


    //<----------------------------------------------START D. BAHAYA REGION------------------------------------------->
    function addDataBahaya() {
        $('#add_ID').val('bahaya');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataBahaya() {
        $('#edit_ID').val('bahaya');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataBahaya(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('bahaya');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02001_BTN_ADD_SHOW_BAHAYA").on("click", function () {
        $('#NoDataFound').closest('tr').remove();
        $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').val('');

        document.getElementById("WP02001_TBL_ADD_BAHAYA").style.display = "";

        $("#WP02001_BTN_ADD_BAHAYA_CLOSE").on("click", function () {
            $('#WP02001_TBL_ADD_BAHAYA').hide();
        });
    });

    function confirmDeleteBahaya() {


        $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_ADD_BAHAYA_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02001_DDL_ADD_BAHAYA_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        $('#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_EDIT_BAHAYA_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02001_DDL_EDIT_BAHAYA_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        _row.remove();
    }

    function confirmAddBahaya() {

        if ($('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').val() == null || $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').val() == '') {
            toastr.warning('Pekerjaan Cannot Be Empty');
            return;
        }

        if ($('#WP02001_TXT_ADD_BAHAYA_POTENSI').val() == null || $('#WP02001_TXT_ADD_BAHAYA_POTENSI').val() == '') {
            toastr.warning('Identifikasi Potensi Bahaya Cannot Be Empty');
            return;
        }

        if ($('#WP02001_TXT_ADD_BAHAYA_PENCEGAHAN').val() == null || $('#WP02001_TXT_ADD_BAHAYA_PENCEGAHAN').val() == '') {
            toastr.warning('Tindakan Pencegahan Cannot Be Empt');
            return;
        }

        if ($('#WP02001_DDL_ADD_BAHAYA_PIC').val() == null || $('#WP02001_DDL_ADD_BAHAYA_PIC').val() == '') {
            toastr.warning('PIC Cannot Be Empty');
            return;
        }

        if ($('#WP02001_TXT_ADD_BAHAYA_KETERANGAN').val() == null || $('#WP02001_TXT_ADD_BAHAYA_KETERANGAN').val() == '') {
            toastr.warning('Henkaten Cannot Be Empty');
            return;
        }


        //tableBuilderBahaya($('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN option:selected'), $("#WP02001_TXT_ADD_BAHAYA_POTENSI"), $("#WP02001_TXT_ADD_BAHAYA_PENCEGAHAN"), $("#WP02001_DDL_ADD_BAHAYA_PIC option:selected"), $('#WP02001_DDL_ADD_BAHAYA_KETERANGAN option:selected'));

        tableBuilderBahaya($('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN option:selected'), $("#WP02001_TXT_ADD_BAHAYA_POTENSI"), $("#WP02001_TXT_ADD_BAHAYA_PENCEGAHAN"), $("#WP02001_DDL_ADD_BAHAYA_PIC option:selected"), $("#WP02001_TXT_ADD_BAHAYA_KETERANGAN"));

        var _pekerjaan = $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').val();
        var _pic = $('#WP02001_DDL_ADD_BAHAYA_PIC').val();
        //var _keterangan = $('#WP02001_DDL_ADD_BAHAYA_KETERANGAN').val();
        $("#WP02001_DDL_ADD_BAHAYA_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02001_DDL_ADD_BAHAYA_PIC option[value='" + _pic + "']").remove();
        //$("#WP02001_DDL_ADD_BAHAYA_KETERANGAN option[value='" + _keterangan + "']").remove();

        $("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02001_DDL_EDIT_BAHAYA_PIC option[value='" + _pic + "']").remove();
        //$("#WP02001_DDL_EDIT_BAHAYA_KETERANGAN option[value='" + _keterangan + "']").remove();
    }

    function tableBuilderBahaya(_pekerjaan, _potensi, _pencegahan, _pic, _keterangan) {
        var html = '<tr>';
        html += '<td style="width: 200px; padding:0!important" name="' + $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').val() + '">' + _pekerjaan.text() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _potensi.val() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _pencegahan.val() + '</td>';

        html += '<td style="width: 100PX; padding:0!important" name="' + $('#WP02001_DDL_ADD_BAHAYA_PIC').val() + '">' + _pic.text() + '</td>';

        //html += '<td style="width: 125px; padding:0!important" name="' + $('#WP02001_DDL_ADD_BAHAYA_KETERANGAN').val() + '">' + _keterangan.text() + '</td>';
        html += '<td style="width: 125px; padding:0!important">' + _keterangan.val() + '</td>';

        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditBahaya(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataBahaya(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02001_TBL_LIST_BAHAYA').append(html);
        $('#WP02001_TBL_ADD_BAHAYA').hide();
    }

    function actionEditBahaya(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();

        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN').append('<option value="' + $(row).find('td:first-child').attr('name') + '" selected="selected">' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN').val($(value).attr("name"));
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi Bahaya
                $('#WP02001_TXT_EDIT_BAHAYA_POTENSI').val($(value).text());
            }
            else if (index == 2) { //set value for text area Tindakan Pencegahan
                $('#WP02001_TXT_EDIT_BAHAYA_PENCEGAHAN').val($(value).text());
            }
            else if (index == 3) { //set value for text area PIC
                $('#WP02001_DDL_EDIT_BAHAYA_PIC').append('<option value="' + $(row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(4)').text() + '</option>');
                $('#WP02001_DDL_EDIT_BAHAYA_PIC').val($(value).attr("name"));
            }
            else if (index == 4) { //set value for text area Keterangan (Henkaten Safety)

                //$('#WP02001_DDL_EDIT_BAHAYA_KETERANGAN').append('<option value="' + $(row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(5)').text() + '</option>');
                //$('#WP02001_DDL_EDIT_BAHAYA_KETERANGAN').val($(value).attr("name"));
                $('#WP02001_TXT_EDIT_BAHAYA_KETERANGAN').val($(value).text());
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02001_BTN_ADD_SHOW_BAHAYA').attr('disabled', 'disabled');

        $('#WP02001_TBL_EDIT_BAHAYA').show();
        $("#WP02001_BTN_EDIT_BAHAYA_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02001_TBL_EDIT_BAHAYA').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02001_BTN_ADD_SHOW_BAHAYA').removeAttr('disabled');
            $("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
            $("#WP02001_DDL_EDIT_BAHAYA_PIC option[value='" + $(row).find('td:nth-child(4)').attr('name') + "']").remove();
            //$("#WP02001_DDL_EDIT_BAHAYA_KETERANGAN option[value='" + $(row).find('td:nth-child(5)').attr('name') + "']").remove();
        });

        $('#WP02001_BTN_EDIT_BAHAYA').on("click", function () {
            editDataBahaya();
        })
    }

    function confirmEditBahaya() {
        $('#WP02001_DDL_ADD_BAHAYA_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_ADD_BAHAYA_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02001_DDL_ADD_BAHAYA_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        //set field pekerjaan
        $(_row).find('td:first-child').text($("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN option:selected").text());
        $(_row).find('td:first-child').attr('name', $("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN").val());
        $("#WP02001_DDL_ADD_BAHAYA_PEKERJAAN option[value='" + $("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN").val() + "']").remove();
        $("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN option[value='" + $("#WP02001_DDL_EDIT_BAHAYA_PEKERJAAN").val() + "']").remove();

        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(2)').text($('#WP02001_TXT_EDIT_BAHAYA_POTENSI').val());

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(3)').text($('#WP02001_TXT_EDIT_BAHAYA_PENCEGAHAN').val());

        //set value for text area PIC
        $(_row).find('td:nth-child(4)').text($('#WP02001_DDL_EDIT_BAHAYA_PIC option:selected').text());
        $(_row).find('td:nth-child(4)').attr('name', $("#WP02001_DDL_EDIT_BAHAYA_PIC").val());
        $("#WP02001_DDL_ADD_BAHAYA_PIC option[value='" + $("#WP02001_DDL_EDIT_BAHAYA_PIC").val() + "']").remove();
        $("#WP02001_DDL_EDIT_BAHAYA_PIC option[value='" + $("#WP02001_DDL_EDIT_BAHAYA_PIC").val() + "']").remove();

        $(_row).find('td:nth-child(5)').text($('#WP02001_TXT_EDIT_BAHAYA_KETERANGAN').val());
        //$(_row).find('td:nth-child(5)').text($('#WP02001_DDL_EDIT_BAHAYA_KETERANGAN option:selected').text());
        //$(_row).find('td:nth-child(5)').attr('name', $("#WP02001_DDL_EDIT_BAHAYA_KETERANGAN").val());
        //$("#WP02001_DDL_ADD_BAHAYA_KETERANGAN option[value='" + $("#WP02001_DDL_EDIT_BAHAYA_KETERANGAN").val() + "']").remove();
        //$("#WP02001_DDL_EDIT_BAHAYA_KETERANGAN option[value='" + $("#WP02001_DDL_EDIT_BAHAYA_KETERANGAN").val() + "']").remove();


        $(_row).show();
        $('#WP02001_TBL_EDIT_BAHAYA').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02001_BTN_ADD_SHOW_BAHAYA').removeAttr('disabled');
    }
    //<----------------------------------------------END   D. BAHAYA REGION------------------------------------------->

    //<----------------------------------------------START D. DAMPAK REGION------------------------------------------->
    function addDataDampak() {
        $('#add_ID').val('dampak');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataDampak() {
        $('#edit_ID').val('dampak');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataDampak(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('dampak');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02001_BTN_ADD_SHOW_DAMPAK").on("click", function () {
        $('#NoDataFound').closest('tr').remove();
        $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').val('');

        document.getElementById("WP02001_TBL_ADD_DAMPAK").style.display = "";

        $("#WP02001_BTN_ADD_DAMPAK_CLOSE").on("click", function () {
            $('#WP02001_TBL_ADD_DAMPAK').hide();
        });
    });

    function confirmDeleteDampak() {
        $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_ADD_DAMPAK_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        // $('#WP02001_DDL_ADD_DAMPAK_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        $('#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_EDIT_DAMPAK_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02001_DDL_EDIT_DAMPAK_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');
        _row.remove();
    }

    function confirmAddDampak() {

        if ($('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').val() == null || $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').val() == '') {
            toastr.warning('Pekerjaan Cannot Be Empty');
            return;
        }

        if ($('#WP02001_TXT_ADD_DAMPAK_LINGKUNGAN').val() == null || $('#WP02001_TXT_ADD_DAMPAK_LINGKUNGAN').val() == '') {
            toastr.warning('Identifikasi Dampak Lingkungan Cannot Be Empty');
            return;
        }

        if ($('#WP02001_TXT_ADD_DAMPAK_PENCEGAHAN').val() == null || $('#WP02001_TXT_ADD_DAMPAK_PENCEGAHAN').val() == '') {
            toastr.warning('Tindakan Pencegahan Cannot Be Empty');
            return;
        }

        if ($('#WP02001_DDL_ADD_DAMPAK_PIC').val() == null || $('#WP02001_DDL_ADD_DAMPAK_PIC').val() == '') {
            toastr.warning('PIC Cannot Be Empty');
            return;
        }

        if ($('#WP02001_TXT_ADD_DAMPAK_KETERANGAN').val() == null || $('#WP02001_TXT_ADD_DAMPAK_KETERANGAN').val() == '') {
            toastr.warning('Henkaten Cannot Be Empty');
            return;
        }


        //tableBuilderDampak($('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN option:selected'), $("#WP02001_TXT_ADD_DAMPAK_LINGKUNGAN"), $("#WP02001_TXT_ADD_DAMPAK_PENCEGAHAN"), $("#WP02001_DDL_ADD_DAMPAK_PIC option:selected"), $('#WP02001_DDL_ADD_DAMPAK_KETERANGAN option:selected'));

        tableBuilderDampak($('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN option:selected'), $("#WP02001_TXT_ADD_DAMPAK_LINGKUNGAN"), $("#WP02001_TXT_ADD_DAMPAK_PENCEGAHAN"), $("#WP02001_DDL_ADD_DAMPAK_PIC option:selected"), $('#WP02001_TXT_ADD_DAMPAK_KETERANGAN'));

        var _pekerjaan = $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').val();
        var _pic = $('#WP02001_DDL_ADD_DAMPAK_PIC').val();
        //var _keterangan = $('#WP02001_DDL_ADD_DAMPAK_KETERANGAN').val();
        $("#WP02001_DDL_ADD_DAMPAK_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02001_DDL_ADD_DAMPAK_PIC option[value='" + _pic + "']").remove();
        //$("#WP02001_DDL_ADD_DAMPAK_KETERANGAN option[value='" + _keterangan + "']").remove();

        $("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02001_DDL_EDIT_DAMPAK_PIC option[value='" + _pic + "']").remove();
        // $("#WP02001_DDL_EDIT_DAMPAK_KETERANGAN option[value='" + _keterangan + "']").remove();
    }

    function tableBuilderDampak(_pekerjaan, _potensi, _pencegahan, _pic, _keterangan) {
        var html = '<tr>';
        html += '<td style="width: 200px; padding:0!important" name="' + $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').val() + '">' + _pekerjaan.text() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _potensi.val() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _pencegahan.val() + '</td>';

        html += '<td style="width: 100PX; padding:0!important" name="' + $('#WP02001_DDL_ADD_DAMPAK_PIC').val() + '">' + _pic.text() + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _keterangan.val() + '</td>';

        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditDampak(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataDampak(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02001_TBL_LIST_DAMPAK').append(html);
        $('#WP02001_TBL_ADD_DAMPAK').hide();
    }

    function actionEditDampak(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();

        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN').append('<option value="' + $(row).find('td:first-child').attr('name') + '" selected="selected">' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN').val($(value).attr("name"));
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi DAMPAK
                $('#WP02001_TXT_EDIT_DAMPAK_LINGKUNGAN').val($(value).text());
            }
            else if (index == 2) { //set value for text area Tindakan Pencegahan
                $('#WP02001_TXT_EDIT_DAMPAK_PENCEGAHAN').val($(value).text());
            }
            else if (index == 3) { //set value for text area PIC
                $('#WP02001_DDL_EDIT_DAMPAK_PIC').append('<option value="' + $(row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(4)').text() + '</option>');
                $('#WP02001_DDL_EDIT_DAMPAK_PIC').val($(value).attr("name"));
            }
            else if (index == 4) { //set value for text area Keterangan (Henkaten Safety)
                $('#WP02001_TXT_EDIT_DAMPAK_KETERANGAN').val($(value).text());
                //$('#WP02001_DDL_EDIT_DAMPAK_KETERANGAN').append('<option value="' + $(row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(5)').text() + '</option>');
                //$('#WP02001_DDL_EDIT_DAMPAK_KETERANGAN').val($(value).attr("name"));
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02001_BTN_ADD_SHOW_DAMPAK').attr('disabled', 'disabled');

        $('#WP02001_TBL_EDIT_DAMPAK').show();
        $("#WP02001_BTN_EDIT_DAMPAK_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02001_TBL_EDIT_DAMPAK').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02001_BTN_ADD_SHOW_DAMPAK').removeAttr('disabled');
            $("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
            $("#WP02001_DDL_EDIT_DAMPAK_PIC option[value='" + $(row).find('td:nth-child(4)').attr('name') + "']").remove();
            //$("#WP02001_DDL_EDIT_DAMPAK_KETERANGAN option[value='" + $(row).find('td:nth-child(5)').attr('name') + "']").remove();
        });

        $('#WP02001_BTN_EDIT_DAMPAK').on("click", function () {
            editDataDampak();
        })
    }

    function confirmEditDampak() {
        $('#WP02001_DDL_ADD_DAMPAK_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_ADD_DAMPAK_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02001_DDL_ADD_DAMPAK_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        //set field pekerjaan
        $(_row).find('td:first-child').text($("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN option:selected").text());
        $(_row).find('td:first-child').attr('name', $("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN").val());
        $("#WP02001_DDL_ADD_DAMPAK_PEKERJAAN option[value='" + $("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN").val() + "']").remove();
        $("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN option[value='" + $("#WP02001_DDL_EDIT_DAMPAK_PEKERJAAN").val() + "']").remove();

        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(2)').text($('#WP02001_TXT_EDIT_DAMPAK_LINGKUNGAN').val());

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(3)').text($('#WP02001_TXT_EDIT_DAMPAK_PENCEGAHAN').val());

        //set value for text area PIC
        $(_row).find('td:nth-child(4)').text($('#WP02001_DDL_EDIT_DAMPAK_PIC option:selected').text());
        $(_row).find('td:nth-child(4)').attr('name', $("#WP02001_DDL_EDIT_DAMPAK_PIC").val());
        $("#WP02001_DDL_ADD_DAMPAK_PIC option[value='" + $("#WP02001_DDL_EDIT_DAMPAK_PIC").val() + "']").remove();
        $("#WP02001_DDL_EDIT_DAMPAK_PIC option[value='" + $("#WP02001_DDL_EDIT_DAMPAK_PIC").val() + "']").remove();

        $(_row).find('td:nth-child(5)').text($('#WP02001_TXT_EDIT_DAMPAK_KETERANGAN').val());
        //$(_row).find('td:nth-child(5)').text($('#WP02001_DDL_EDIT_DAMPAK_KETERANGAN option:selected').text());
        //$(_row).find('td:nth-child(5)').attr('name', $("#WP02001_DDL_EDIT_DAMPAK_KETERANGAN").val());
        //$("#WP02001_DDL_ADD_DAMPAK_KETERANGAN option[value='" + $("#WP02001_DDL_EDIT_DAMPAK_KETERANGAN").val() + "']").remove();
        //$("#WP02001_DDL_EDIT_DAMPAK_KETERANGAN option[value='" + $("#WP02001_DDL_EDIT_DAMPAK_KETERANGAN").val() + "']").remove();

        $(_row).show();
        $('#WP02001_TBL_EDIT_DAMPAK').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02001_BTN_ADD_SHOW_DAMPAK').removeAttr('disabled');
    }
    //<----------------------------------------------END   D. DAMPK REGION------------------------------------------->

    //<----------------------------------------------START   E. PENGAWASAN------------------------------------------->
    function addDataPengawasan() {
        $('#add_ID').val('pengawasan');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataPengawasan() {
        $('#edit_ID').val('pengawasan');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataPengawasan(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('pengawasan');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02001_BTN_ADD_SHOW_PENGAWASAN").on("click", function () {
        $('#NoDataFound').closest('tr').remove();

        $('#WP02001_DDL_ADD_USER').val('');
        $('#WP02001_TXT_ADD_NOREG').val('');
        $('#WP02001_TXT_ADD_NOHANDPHONE').val('');
        $('#WP02001_TXT_ADD_NODEPT').val('');
        $('#WP02001_TXT_ADD_NOANZEN').val('');

        document.getElementById("WP02001_TBL_ADD_PENGAWASAN").style.display = "";

        $("#WP02001_BTN_ADD_PENGAWASAN_CLOSE").on("click", function () {
            $('#WP02001_TBL_ADD_PENGAWASAN').hide();
        });
    });

    $('#WP02001_DDL_ADD_USER').on("change", function () {
        var _data = $(this).find('option:selected').attr('name').split(',');
        console.log(_data);

        $('#WP02001_TXT_ADD_NOREG').val(_data[0]);

        $('#WP02001_TXT_ADD_NOHANDPHONE').val(_data[1]);

        $('#WP02001_TXT_ADD_NODEPT').val(_data[2]);

        $('#WP02001_TXT_ADD_NOANZEN').val(_data[3]);

    })

    $('#WP02001_DDL_EDIT_USER').on("change", function () {
        var _data = $(this).find('option:selected').attr('name').split(',');
        console.log(_data);

        $('#WP02001_TXT_EDIT_NOREG').val(_data[0]);

        $('#WP02001_TXT_EDIT_NOHANDPHONE').val(_data[1]);

        $('#WP02001_TXT_EDIT_NODEPT').val(_data[2]);

        $('#WP02001_TXT_EDIT_NOANZEN').val(_data[3]);

    })

    function confirmDeletePengawasan() {
        var name = $(_row).find('td:nth-child(2)').text() + ',' + $(_row).find('td:nth-child(3)').text() + ',' + $(_row).find('td:nth-child(4)').text() + ',' + $(_row).find('td:nth-child(5)').text();
        $('#WP02001_DDL_ADD_USER').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" name="' + name + '"  >' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02001_DDL_EDIT_USER').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" name="' + name + '"  >' + $(_row).find('td:first-child').text() + '</option>');
        _row.remove();
    }

    function confirmAddPengawasan() {

        if ($('#WP02001_DDL_ADD_USER').val() == null || $('#WP02001_DDL_ADD_USER').val() == '') {
            toastr.warning('PIC Cannot Be Empty');
            return;
        }

        var _data = $('#WP02001_DDL_ADD_USER option:selected').attr('name').split(',');

        tableBuilderPengawasan($('#WP02001_DDL_ADD_USER option:selected'), _data[0], _data[1], _data[2], _data[3]);

        var _user = $('#WP02001_DDL_ADD_USER').val();
        $("#WP02001_DDL_ADD_USER option[value='" + _user + "']").remove();

        $("#WP02001_DDL_EDIT_USER option[value='" + _user + "']").remove();

    }

    function tableBuilderPengawasan(_user, _noreg, _nohandphone, _dept, _anzen) {
        var html = '<tr>';
        html += '<td style="width: 150px; padding:0!important" name="' + _user.val() + '">' + _user.text() + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _noreg + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _nohandphone + '</td>';

        html += '<td style="width: 125PX; padding:0!important">' + _dept + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _anzen + '</td>';

        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditPengawasan(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataPengawasan(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02001_TBL_LIST_PENGAWASAN').append(html);
        $('#WP02001_TBL_ADD_PENGAWASAN').hide();
    }

    function actionEditPengawasan(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();
        var name = $(_row).find('td:nth-child(2)').text() + ',' + $(_row).find('td:nth-child(3)').text() + ',' + $(_row).find('td:nth-child(4)').text() + ',' + $(_row).find('td:nth-child(5)').text();
        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02001_DDL_EDIT_USER').append('<option value="' + $(row).find('td:first-child').attr('name') + '" name="' + name + '"  >' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02001_DDL_EDIT_USER').val($(value).attr("name"));
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi DAMPAK
                $('#WP02001_TXT_EDIT_NOREG').val($(value).text());
            }
            else if (index == 2) { //set value for text area Tindakan Pencegahan
                $('#WP02001_TXT_EDIT_NOHANDPHONE').val($(value).text());
            }
            else if (index == 3) { //set value for text area PIC
                $('#WP02001_TXT_EDIT_NODEPT').val($(value).text());
            }
            else if (index == 4) { //set value for text area Keterangan (Henkaten Safety)
                $('#WP02001_TXT_EDIT_NOANZEN').val($(value).text());
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02001_BTN_ADD_SHOW_PENGAWASAN').attr('disabled', 'disabled');

        $('#WP02001_TBL_EDIT_PENGAWASAN').show();
        $("#WP02001_BTN_EDIT_PENGAWASAN_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02001_TBL_EDIT_PENGAWASAN').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02001_BTN_ADD_SHOW_PENGAWASAN').removeAttr('disabled');
            $("#WP02001_DDL_EDIT_USER option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
        });

        $('#WP02001_BTN_EDIT_PENGAWASAN').on("click", function () {
            editDataPengawasan();
        })
    }

    function confirmEditPengawasan() {
        $('#WP02001_DDL_ADD_USER').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');
        var _data = $('#WP02001_DDL_EDIT_USER option:selected').attr('name').split(',');


        $(_row).find('td:first-child').text($("#WP02001_DDL_EDIT_USER option:selected").text());
        $(_row).find('td:first-child').attr('name', $("#WP02001_DDL_EDIT_USER").val());
        $("#WP02001_DDL_ADD_USER option[value='" + $("#WP02001_DDL_EDIT_USER").val() + "']").remove();
        $("#WP02001_DDL_EDIT_USER option[value='" + $("#WP02001_DDL_EDIT_USER").val() + "']").remove();

        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(2)').text(_data[0]);

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(3)').text(_data[1]);

        //set value for text area PIC
        $(_row).find('td:nth-child(4)').text(_data[2]);

        $(_row).find('td:nth-child(5)').text(_data[3]);

        $(_row).show();
        $('#WP02001_TBL_EDIT_PENGAWASAN').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02001_BTN_ADD_SHOW_PENGAWASAN').removeAttr('disabled');
    }



    //<----------------------------------------------END   E. PENGAWASAN------------------------------------------->
    
    //<----------------------------------------------START   JOB PROYEK------------------------------------------->
    function addDataJobProyek() {
        $('#add_ID').val('jobproyek');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataJobProyek() {
        $('#edit_ID').val('jobproyek');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataProyek(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('jobproyek');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02001_BTN_ADD_SHOW_JOBPROYEK").on("click", function () {
        $('#NoDataFound').closest('tr').remove();

        $('#WP02001_TXT_ADD_JOBNAME').val('');
        $('#WP02001_TXT_ADD_NOIMPB').val('');

        document.getElementById("WP02001_TBL_ADD_JOBPROYEK").style.display = "";

        $("#WP02001_BTN_ADD_JOBPROYEK_CLOSE").on("click", function () {
            $('#WP02001_TBL_ADD_JOBPROYEK').hide();
        });
    });

    function confirmDeleteJobProyek() {
        var name = $(_row).find('td:nth-child(1)').text() + ',' + $(_row).find('td:nth-child(2)').text();
        _row.remove();
    }

    function confirmAddJobProyek() {

        CounterIMPB = CounterIMPB + 1;

        var _JobName = $('#WP02001_TXT_ADD_JOBNAME').val();
        var _IMPBNo = $('#WP02001_TXT_ADD_NOIMPB').val();


        var statejob = CheckExistsArray(_JobName, ListDataJob);

        if (statejob == false) {
            tableBuilderJobProyek(_JobName, _IMPBNo,0);
            ListDataJob.push(_JobName);
        }
        else {
            toastr.error("Nama Job sudah digunakan !");
        }
        

    }

    function tableBuilderJobProyek(_JobName, _IMPBNo, JobId) {
        var html = '<tr>';

        html += '<td style="width: 125PX; padding:0!important" data-title="'+ JobId +'">' + _JobName + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _IMPBNo + '</td>';

        html += '<td style="width: 100px">';
        //html += '<button type="button" class="btn btn-primary btn-xs" id="btn_impb" name="btn_impb" style="width: 80px; margin-left:5px;" onclick="actionProcessIMPB(this)" ><i class="fa fa-file"></i> IMPB</button>';
        html += '<button type="button" class="btn btn-primary btn-xs actionbtn" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditProyek(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs actionbtn" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataProyek(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02001_TBL_LIST_JOBPROYEK').append(html);
        $('#WP02001_TBL_ADD_JOBPROYEK').hide();
    }

    function actionEditProyek(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();
        
        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02001_TXT_EDIT_JOBNAME').val($(value).text());
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi DAMPAK
                $('#WP02001_TXT_EDIT_NOIMPB').val($(value).text());
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02001_BTN_ADD_SHOW_JOBPROYEK').attr('disabled', 'disabled');

        $('#WP02001_TBL_EDIT_JOBPROYEK').show();
        $("#WP02001_BTN_EDIT_JOBPROYEK_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02001_TBL_EDIT_JOBPROYEK').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02001_BTN_ADD_SHOW_JOBPROYEK').removeAttr('disabled');
        });

        $('#WP02001_BTN_EDIT_JOBPROYEK').on("click", function () {
            confirmEditProyek();
        })
    }

    function confirmEditProyek() {
        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(1)').text($('#WP02001_TXT_EDIT_JOBNAME').val());

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(2)').text($('#WP02001_TXT_EDIT_NOIMPB').val());

        $(_row).show();
        $('#WP02001_TBL_EDIT_JOBPROYEK').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02001_BTN_ADD_SHOW_JOBPROYEK').removeAttr('disabled');
    }

    function actionProcessIMPB(obj) {
        var vld = validationProyekData();

        if (vld.ValidationState == true) {
            var row = $(obj).closest("tr")[0];
            _row = row;
            $(row).hide();

            IMPBSelected = {};
            var IMPBNO = "";

            $.each(row.cells, function (index, value) {
                if (index == 0) { //set value for dropdown pekerjaan
                    $('#WP02001_TXT_EDIT_JOBNAME').val($(value).text());
                }
                else if (index == 1) { //set value for text area Identifikasi Potensi DAMPAK
                    $('#WP02001_TXT_EDIT_NOIMPB').val($(value).text());
                    IMPBNO = $(value).text();
                }
            });

            $('button[name="btn_edit_row"').attr('disabled', 'disabled');
            $('button[name="btn_delete_row"').attr('disabled', 'disabled');
            $('#WP02001_BTN_ADD_SHOW_JOBPROYEK').attr('disabled', 'disabled');

            $('#WP02001_TBL_EDIT_JOBPROYEK').show();
            $("#WP02001_BTN_EDIT_JOBPROYEK_CLOSE").on("click", function () {
                $(row).show();
                $('#WP02001_TBL_EDIT_JOBPROYEK').hide();
                $('button[name="btn_edit_row"]').removeAttr('disabled');
                $('button[name="btn_delete_row"]').removeAttr('disabled');
                $('#WP02001_BTN_ADD_SHOW_JOBPROYEK').removeAttr('disabled');
            });

            $('#WP02001_BTN_EDIT_JOBPROYEK').on("click", function () {
                confirmEditProyek();
            })

            if (IMPBNO != "") {
                for (var i = 0; i < DataIMPB.length; i++) {
                    if (DataIMPB[i].WP_IMPB_NO == IMPBNO) {
                        IMPBSelected = DataIMPB[i];
                        i = DataIMPB.length;
                    }
                }

                MappingDataIMPB(IMPBSelected);
            }
            else {
                CreateIMPBJob();
            }
        }
        else
            toastr.error(vld.ValidationMessage);

    }

    function CreateIMPBJob() {
        $('#WP02001_TBL_LIST_PENGAWASAN').html("");
        $('#WP02001_TBL_LIST_PEKERJAAN').html("");
        $('#WP02001_TBL_LIST_BAHAYA').html(""); 
        $('#WP02001_TBL_LIST_DAMPAK').html("");
        $('#WP02001_TBL_LIST_PENGAWASAN').html("");
        $('#FormHeaderInput').hide();
        $('#GroupSave').hide();

        refreshClass();

        MappingListOption("WP02001_DDL_ADD_USER", ListUser);
        MappingListOption("WP02001_DDL_ADD_PEKERJAAN", ListPekerjaan);
        MappingListOption("WP02001_DDL_ADD_DAMPAK_PIC", ListDampakPIC);
        MappingListOption("WP02001_DDL_ADD_BAHAYA_PIC", ListBahayaPIC);

        $("#WP02001_CHK_ADD_TMMIN").attr('checked', true).trigger('change');

        $('#formIMPB').show();
    }

    //<----------------------------------------------END   JOB PROYEK------------------------------------------->


    //<----------------------------------------------END DATA REGION------------------------------------------->

    function ProcessSaveDraft() {
        
        var _data = JSON.stringify({
            WP_IMPB_NO: "",
            ID_TB_M_AREA: $('#WP02001_DDL_ADD_AREA').val(),
            WP_PROJECT_NAME: $("#WP02001_TXT_ADD_PROJECTNAME").val(),
            ID_TB_M_LOCATION: $("#WP02001_DDL_ADD_LOC").val(),
            DEP_OR_DIV_CODE: $("#WP02001_DDL_ADD_DIV").val(),
            IMPLEMENT_DATE_FROM: $("#WP02001_DT_ADD_PELAKSANAAN").val(),
            IMPLEMENT_DATE_TO: $("#WP02001_DT_TO_ADD_PELAKSANAAN").val(),
            WORKING_STATUS: document.querySelector('input[name="WorkingStatus"]:checked').value,
            WORKING_NOTES: $("#WP02001_TXT_ADD_NOTED").val(),
            WP_PROJECT_ID: $('#WP_PROJECT_ID').val(),
            WP_PROJECT_JOB_ID: "0",
            PROJECT_STATUS: "DRAFT",
            //project_list_working: getListWorking(),
            //project_list_identification: getListIdentification(),
            //project_list_impact: getListImpact(),
            //project_list_supervision: getListSupervision(),
            project_job: getListJob()
        })

        var Method = 'Insert_Data';
        if ($('#WP_PROJECT_ID').val() != '0') {
            Method = 'Update_Data';
        }

        $.ajax({
            type: "POST",
            url: SITE_URL + Method,
            async: false,
            dataType: "json",
            contentType: "application/json",
            data: _data,
            success: function (res) {
                console.log(res);
                if (res.sts == "TRUE") {
                    cancelAdd();
                    btnsearch = document.getElementById("btn_search");
                    btnsearch.click();
                    toastr.success("Data Has Been Save Successfuly");
                    //searchData();
                    //$('#btncloselookup').click();
                } else {
                    toastr.warning(res.message);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    function ProcessSubmitProject() {

        var _data = JSON.stringify({
            WP_IMPB_NO: "",
            ID_TB_M_AREA: $('#WP02001_DDL_ADD_AREA').val(),
            WP_PROJECT_NAME: $("#WP02001_TXT_ADD_PROJECTNAME").val(),
            ID_TB_M_LOCATION: $("#WP02001_DDL_ADD_LOC").val(),
            DEP_OR_DIV_CODE: $("#WP02001_DDL_ADD_DIV").val(),
            IMPLEMENT_DATE_FROM: $("#WP02001_DT_ADD_PELAKSANAAN").val(),
            IMPLEMENT_DATE_TO: $("#WP02001_DT_TO_ADD_PELAKSANAAN").val(),
            WORKING_STATUS: document.querySelector('input[name="WorkingStatus"]:checked').value,
            WORKING_NOTES: $("#WP02001_TXT_ADD_NOTED").val(),
            WP_PROJECT_ID: $('#WP_PROJECT_ID').val(),
            WP_PROJECT_JOB_ID: "0",
            PROJECT_STATUS: "SUBMITED",
            project_job: getListJob()
        })

        var Method = 'Insert_Data';
        if ($('#WP_PROJECT_ID').val() != '0') {
            Method = 'Update_Data';
        }

        $.ajax({
            type: "POST",
            url: SITE_URL + Method,
            async: false,
            dataType: "json",
            contentType: "application/json",
            data: _data,
            success: function (res) {
                console.log(res);
                if (res.sts == "TRUE") {
                    cancelAdd();
                    btnsearch = document.getElementById("btn_search");
                    btnsearch.click();
                    toastr.success("Data Has Been Save Successfuly");
                    //searchData();
                    //$('#btncloselookup').click();
                } else {
                    toastr.warning(res.message);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    function EditDataProject(element) {
        
        var data = element.dataset.title;
        var Obj = JSON.parse($('#rowData-' + data).val());
        $('#inputForm').show();
        $('#formData').hide();
        $('#formPage').hide();
        $('#formSearch').hide();
        $('#GridProject').hide();

        if (Obj.WORKING_STATUS == "True") {
            radiobtn = document.getElementById("WP02001_CHK_ADD_STNEW");
            radiobtn.checked = true;
        }
        else {
            radiobtns = document.getElementById("WP02001_CHK_ADD_STEXTEND");
            radiobtns.checked = true;
        }
        var date = new Date();
        $('#WP02001_TXT_ADD_PROJECTCODE').val(Obj.PROJECT_CODE).trigger("change");
        $('#WP02001_TXT_ADD_PROJECTNAME').val(Obj.PROJECT_NAME).trigger("change");
        $('#WP02001_DDL_ADD_AREA').val(Obj.ID_TB_M_AREA).trigger("change");
        $('#WP02001_DDL_ADD_LOC').val(Obj.ID_TB_M_LOCATION).trigger("change");
        $('#WP02001_DDL_ADD_DIV').val(Obj.DEP_OR_DIV_CODE).trigger("change");
        $('#WP02001_DT_ADD_PELAKSANAAN').val(MappingDateStringToInputDate(Obj.IMPLEMENT_DATE_FROM));
        $('#WP02001_DT_TO_ADD_PELAKSANAAN').val(MappingDateStringToInputDate(Obj.IMPLEMENT_DATE_TO));
        $('#WP02001_TXT_ADD_NOTED').val(Obj.WORKING_NOTES).trigger("change");
        $('#WP_PROJECT_ID').val(Obj.ID).trigger("change");

        BindDataJobProject(Obj.ID);

        if (Obj.PROJECT_STATUS == "SUBMITED") {
            $('.actionbtn').attr("disabled", "disabled");
            $('.submitbtn').hide();
            $('.input-project').attr("disabled", "disabled");
        }
        else {
            $('.submitbtn').show();
            $('.actionbtn').removeAttr("disabled");
            $('.input-project').removeAttr("disabled");
        }
    }

    function BindDataJobProject(ProjectId) {
        $('#WP02001_TBL_LIST_JOBPROYEK').html('');

        $.ajax({
            type: "GET",
            url: SITE_URL + 'getProjectJob',
            async: false,
            data: { WP_PROJECT_ID: ProjectId },
            success: function (res) {
                console.log(res);
                if (res.sts == "TRUE") {
                    for (var i = 0; i < res.list.length; i++) {
                        tableBuilderJobProyek(res.list[i].JOB_NAME, res.list[i].WP_IMPB_NO, res.list[i].ID);
                    }
                } else {
                    toastr.warning(res.message);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    function MappingDateStringToInputDate(strDate) {
        var arrDate = strDate.toString().substring(0, 10).split('/');
        var NewStr = arrDate[2].toString().substring(0,4).trim() + "-" + (parseInt(arrDate[0].toString()) > 9 ? arrDate[0] : ("0" + arrDate[0])) + "-" + (parseInt(arrDate[1].toString()) > 9 ? arrDate[1] : ("0" + arrDate[1]));

        return NewStr;
    }

    function DeleteDataProject(ProjectID) {

        var _data = JSON.stringify({
            WP_PROJECT_ID: ProjectID
        })

        $.ajax({
            type: "POST",
            url: SITE_URL + 'Delete_Data',
            async: false,
            dataType: "json",
            contentType: "application/json",
            data: _data,
            success: function (res) {
                console.log(res);
                if (res.sts == "TRUE") {
                    btnsearch = document.getElementById("btn_search");
                    btnsearch.click();
                    toastr.success("Data Has Been Deleted");
                } else {
                    toastr.warning(res.Exec[0].LINE_STS);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    function saveAsDraft() {
        var vld = validationProyekData();

        if (vld.ValidationState == true)
            ProcessSaveDraft();
        else
            toastr.error(vld.ValidationMessage);
    }

    function SubmitDataProject() {
        var vld = validationProyekData();

        if (vld.ValidationState == true)
            ProcessSubmitProject();
        else
            toastr.error(vld.ValidationMessage);
    }

    function validationProyekData() {
        var ValidationState = true;
        var ValidationMessage = "";

        var ProyekData = {
            ID_TB_M_AREA: $('#WP02001_DDL_ADD_AREA').val(),
            WP_PROJECT_NAME: $("#WP02001_TXT_ADD_PROJECTNAME").val(),
            ID_TB_M_LOCATION: $("#WP02001_DDL_ADD_LOC").val(),
            DEP_OR_DIV_CODE: $("#WP02001_DDL_ADD_DIV").val(),
            IMPLEMENT_DATE_FROM: $("#WP02001_DT_ADD_PELAKSANAAN").val(),
            IMPLEMENT_DATE_TO: $("#WP02001_DT_TO_ADD_PELAKSANAAN").val(),
            WORKING_STATUS: $("#WP02001_CHK_ADD_ST").prop('checked') ? '1' : '2',
            WORKING_NOTES: $("#WP02001_TXT_ADD_NOTED").val()
        }

        if (ProyekData.WP_PROJECT_NAME == "") {
            ValidationState = false;
            ValidationMessage = "Please fill Project Name!"
        }
        else if (ProyekData.ID_TB_M_AREA == "") {
            ValidationState = false;
            ValidationMessage = "Please Select Project Area!"
        }
        else if (ProyekData.ID_TB_M_LOCATION == "") {
            ValidationState = false;
            ValidationMessage = "Please Select Project Location!"
        }
        else if (ProyekData.DEP_OR_DIV_CODE == "") {
            ValidationState = false;
            ValidationMessage = "Please Select Division / Department!"
        }
        else if (ProyekData.IMPLEMENT_DATE_FROM == "") {
            ValidationState = false;
            ValidationMessage = "Please Select Start Date!"
        }
        else if (ProyekData.IMPLEMENT_DATE_TO == "") {
            ValidationState = false;
            ValidationMessage = "Please Select End Date!"
        }
        else if (ProyekData.WORKING_STATUS == "") {
            ValidationState = false;
            ValidationMessage = "Please choose one of Working Status!"
        }

        //console.log(ProyekData.WORKING_STATUS);

        var rst = {
            ValidationState: ValidationState,
            ValidationMessage: ValidationMessage
        }

        return rst;
    }

    function saveIMPB() {

    }

    function cancelIMPB() {
        confirmEditProyek();
        $('#FormHeaderInput').show();
        $('#GroupSave').show();

        $('#formIMPB').hide();
    }


    function getListWorking() {
        var _list = [];

        $('#WP02001_TBL_LIST_PEKERJAAN > tr').each(function (index, value) {
            var _data = {};
            _data["ID_TB_M_WORKING_TYPE"] = $(value).find('td:first-child').attr("name");
            _data["DANGER_TYPE"] = $(value).find('td:nth-child(2)').children().prop("checked") ? '1' : $(value).find('td:nth-child(3)').children().prop("checked") ? '2' : '3';
            _data["DAY_1"] = $(value).find('td:nth-child(5)').children().prop("checked") ? '1' : '0';
            _data["DAY_2"] = $(value).find('td:nth-child(6)').children().prop("checked") ? '1' : '0';
            _data["DAY_3"] = $(value).find('td:nth-child(7)').children().prop("checked") ? '1' : '0';
            _data["DAY_4"] = $(value).find('td:nth-child(8)').children().prop("checked") ? '1' : '0';
            _data["DAY_5"] = $(value).find('td:nth-child(9)').children().prop("checked") ? '1' : '0';
            _data["DAY_6"] = $(value).find('td:nth-child(10)').children().prop("checked") ? '1' : '0';
            _data["DAY_7"] = $(value).find('td:nth-child(11)').children().prop("checked") ? '1' : '0';
            _data["SIX_A"] = $(value).find('td:nth-child(12)').children().prop("checked") ? '1' : '0';
            _data["SIX_B"] = $(value).find('td:nth-child(13)').children().prop("checked") ? '1' : '0';
            _data["SIX_C"] = $(value).find('td:nth-child(14)').children().prop("checked") ? '1' : '0';
            _data["SIX_D"] = $(value).find('td:nth-child(15)').children().prop("checked") ? '1' : '0';
            _data["SIX_E"] = $(value).find('td:nth-child(16)').children().prop("checked") ? '1' : '0';
            _data["SIX_F"] = $(value).find('td:nth-child(17)').children().prop("checked") ? '1' : '0';
            _data["SIX_ALPHA"] = $(value).find('td:nth-child(18)').children().prop("checked") ? '1' : '0';

            _list.push(_data);
        });
        return _list;
    }

    function getListIdentification() {
        var _list = [];

        $('#WP02001_TBL_LIST_BAHAYA > tr').each(function (index, value) {
            var _data = {};
            _data["ID_TB_M_WORKING_TYPE"] = $(value).find('td:first-child').attr("name");
            _data["IDENTITY_DANGER_POTENTIAL"] = $(value).find('td:nth-child(2)').text()
            _data["IDENTITY_DANGER_PREVENTION"] = $(value).find('td:nth-child(3)').text();
            _data["ID_TB_M_EMPLOYEE"] = $(value).find('td:nth-child(4)').attr("name");
            _data["HENKANTEN_SAFETY"] = $(value).find('td:nth-child(5)').text();
            console.log(_data);
            _list.push(_data);
        });
        return _list;
    }

    function getListImpact() {
        var _list = [];

        $('#WP02001_TBL_LIST_DAMPAK > tr').each(function (index, value) {
            var _data = {};
            _data["ID_TB_M_WORKING_TYPE"] = $(value).find('td:first-child').attr("name");
            _data["IDENTITY_IMPACT_POTENTIAL"] = $(value).find('td:nth-child(2)').text()
            _data["IDENTITY_IMPACT_PREVENTION"] = $(value).find('td:nth-child(3)').text();
            _data["ID_TB_M_EMPLOYEE"] = $(value).find('td:nth-child(4)').attr("name");
            _data["HENKANTEN_ENV"] = $(value).find('td:nth-child(5)').text();
            console.log(_data);
            _list.push(_data);
        });
        return _list;
    }

    function getListSupervision() {
        var _list = [];

        $('#WP02001_TBL_LIST_PENGAWASAN > tr').each(function (index, value) {
            var _data = {};
            _data["ID_TB_M_EMPLOYEE"] = $(value).find('td:first-child').attr("name");
            console.log(_data);
            _list.push(_data);
        });
        return _list;
    }

    function getListJob() {
        var _list = [];

        $('#WP02001_TBL_LIST_JOBPROYEK > tr').each(function (index, value) {
            var _data = {};
            _data["ID"] = $(value).find('td:first-child')[0].dataset.title;
            _data["JOB_NAME"] = $(value).find('td:first-child').text();
            _data["WP_IMPB_NO"] = $(value).find('td:nth-child(2)').text();
            _list.push(_data);
        });
        return _list;
    }


    function CheckExistsArray(value, arr) {
        var isExist = false;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == value) {
                isExist = true;
                break;
            }
        }
        return isExist;
    }
</script>