﻿@inherits System.Web.Mvc.WebViewPage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadScript{
    <style>
        #widget-content
        {
            margin-top: 8px;
        }
        
        .widget-header
        {
            color: #000 !important;
        }
        
        .widget-box
        {
            margin-bottom: 12px !important;
        }
        
        li.divider
        {
            border: 2px solid #e5e5e5;   
        }
    </style>
}

<div id="widget-content">

    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">Application Desk</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-xs-12 col-sm-4">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">Worklist and Task</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main" style="max-height: 364px; overflow: scroll;">

                    <ul class="list-unstyled">
                        <li>
                            <strong>Title</strong>
                            <br />
                            Description
                            <br />
                            <i class="fa fa-commenting-o" title="Notice"></i> Notice
                            <br />
                            <div class="text-right">
                                <a class="btn btn-xs btn-success">Approve</a>
                                <a class="btn btn-xs btn-danger">Reject</a>
                            </div>
                        </li>
                        <li>
                            <hr />
                            <strong>Title</strong>
                            <br />
                            Description
                            <br />
                            <i class="fa fa-commenting-o" title="Notice"></i> Notice
                            <br />
                            <div class="text-right">
                                <a class="btn btn-xs btn-success">Approve</a>
                                <a class="btn btn-xs btn-danger">Reject</a>
                            </div>
                        </li>
                        <li>
                            <hr />
                            <strong>Title</strong>
                            <br />
                            Description
                            <br />
                            <i class="fa fa-commenting-o" title="Notice"></i> Notice
                            <br />
                            <div class="text-right">
                                <a class="btn btn-xs btn-success">Approve</a>
                                <a class="btn btn-xs btn-danger">Reject</a>
                            </div>
                        </li>
                    </ul>
                
                </div>
            </div>
                
        </div>

        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">IT Helpdesk</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <strong>We're here to help.</strong>
                    <br />
                    For Application assistance, please contact:
                    <br />
                    <i class="fa fa-envelope"></i> 
                    <a href="mailto:app.helpdesk@toyota.co.id">app.helpdesk@toyota.co.id</a>, 
                    <i class="fa fa-phone"></i> 
                    602020

                </div>
            </div>
        </div>
    </div>*@

</div>