﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP01006Master;
@{
    List<WP01006Master> DataWP = (List<WP01006Master>)ViewData["DataWP01006"];
    List<WP01006> Status_Cmb = (List<WP01006>)ViewData["Status_Cmb"];
    List<WP01006> Time_Cmb = (List<WP01006>)ViewData["Time_Cmb"];
    List<WP01006> ExecTime_Cmb = (List<WP01006>)ViewData["Time_Cmb"];
    List<WP01006> Model_type = (List<WP01006>)ViewData["Model_type"];
    var seletc_data_unit_time = "";
    var seletc_data_exec_time = "";
    var seletc_data_status = "";
    var error = 0;
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2">No</th>
                            <th style="width: 150px;" rowspan="2">Company Code</th>
                            <th style="width: 250px;" rowspan="2">Company Name</th>
                            <th style="width: 150px;" rowspan="2">Company Initial</th>
                            <th style="width: 150px;" rowspan="2">Contact Person</th>
                            <th style="width: 150px;" rowspan="2">Email</th>
                            <th style="width: 150px;" rowspan="2">Address</th>
                            <th style="width: 150px;" rowspan="2">Phone</th>
                            <th style="width: 150px;" rowspan="2">Flag</th>
                            @*<th style="width: 150px;" rowspan="2">Status</th>*@
                            <th style="width: 300px;" colspan="2">Created</th>
                            <th style="width: 300px;" colspan="2">Changed</th>
                        </tr>
                        <tr>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                        </tr>
                    </thead>
                    @{
                        if (DataWP == null || DataWP.Count == 0)
                        {
                            <tr id="NoDataFound">
                                <td colspan="14" class="text-center">No data found</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 200px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP01006Master item in DataWP)
                                    {
                                        <tr id="row-@number" class="row-@item.ID">
                                            <td style="width: 100px;text-align: center;" class="grid-checkbox-col">
                                                <input class="grid-checkbox" value="@item.ID,@item.COMPANY_CODE, @item.COMPANY_NAME,@item.COMPANY_INITIAL,@item.CONTACT_PERSON,@item.EMAIL,@item.PHONE,@item.ADDRESS,@item.FLAG" type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                            </td>
                                            <td style="width: 60px
">
                                                @number
                                            </td>
                                            <td style="width: 150px"> @item.COMPANY_CODE </td>
                                            <td style="width: 250px"> @item.COMPANY_NAME </td>
                                            <td style="width: 150px"> @item.COMPANY_INITIAL </td>
                                            <td style="width: 150px"> @item.CONTACT_PERSON </td>
                                            <td style="width: 150px"> @item.EMAIL </td>
                                            <td style="width: 150px"> @item.ADDRESS </td>
                                            <td style="width: 150px"> @item.PHONE </td>
                                            <td style="width: 150px"> @item.FLAG </td>
                                            @*<td style="width: 150px"> @item.STATUS </td>*@
                                            <td style="width: 150px"> @item.CREATED_BY </td>
                                            <td style="width: 150px"> @item.CREATED_DT </td>
                                            <td style="width: 150px"> @item.UPDATED_BY </td>
                                            <td style="width: 150px"> @item.UPDATED_DT </td>
                                        </tr>
                                        number++;
                                    }
                                }
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
