﻿<style>
    .menu-text-panel {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
        vertical-align: middle;
    }

    .menu-panel:hover{
        background-color:rgb(84, 96, 125);
        cursor:pointer;
    }

    @@media only screen and (max-width: 600px) {
        .menu-panel {
            min-height: 250px;
        }

        .fa-menu-icon{
            font-size: 80px;
            font-weight: 800;
        }

        #menu-container {
            margin: 20px 20px 20px 20px;
            padding: 10px;
        }
    }

    @@media only screen and (min-width: 600px) {
        .menu-panel {
            min-height: 350px;
        }

        .fa-menu-icon {
            font-size: 80px;
            font-weight: 800;
        }

        .menu-text{
            font-size: 25px;
        }

        #menu-container {
            margin: 20px 20px 20px 20px;
            padding: 10px;
        }
    }
    
</style>

<div id="menu-container" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default menu-panel" data-target="REGISTER_WORKER">
                    <div class="panel-body">
                        <p class="menu-text-panel">
                            <i class="fa fa-tasks fa-menu-icon"></i><br />
                            <b class="menu-text">REGISTER WORKER</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default  menu-panel" data-target="TRAINING">
                    <div class="panel-body">
                        <p class="menu-text-panel">
                            <i class="fa fa-graduation-cap fa-menu-icon"></i><br />
                            <b class="menu-text">TRAINING</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default menu-panel" data-target="EXAM">
                    <div class="panel-body">
                        <p class="menu-text-panel">
                            <i class="fa fa-book fa-menu-icon"></i><br />
                            <b class="menu-text">EXAM</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default  menu-panel" data-target="SCORE">
                    <div class="panel-body">
                        <p class="menu-text-panel">
                            <i class="fa fa-tasks fa-menu-icon"></i><br />
                            <b class="menu-text">SCORE</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default  menu-panel" data-target="REG_WORKER_PROJECT">
                    <div class="panel-body">
                        <p class="menu-text-panel">
                            <i class="fa fa-tasks fa-menu-icon"></i><br />
                            <b class="menu-text">REGISTER WORKER IN PROJECT</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
