﻿<style>

    #data-container{
        display:initial;
    }

    @@media only screen and (max-width: 600px) {
        .panel-member{
            600px;
        }
    }

    @@media only screen and (min-width: 600px) {
        .panel-member {
            min-height: 520px;
            padding: 0;
            margin: 0;
        }
    }

    .text-test {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        vertical-align: middle;
    }
</style>

<div id="data-container" style="display:none" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-member">
                    <div class="pull-left button-back">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-left"></i></button>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-test">
                            IM HERE
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
