﻿<div class="row" style="margin-top: -13px; margin-left: 10px; margin-right: 10px">
    <div class="col-xs-12 col-sm-12 col-md-11">
        <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">

                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col">
                            <table id="tableSearch">
                                <tr>
                                    <td>Exam Subject : </td>
                                    <td>
                                        <input id="examSubject" class="form-control" type="text" />
                                    </td>
                                    <td>Company : </td>
                                    <td>
                                        <input id="companyName" class="form-control" type="text" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 text-right">
                            <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                            <button type="button" class="btn btn-primary btn-xs" id="btn_search" style="width: 80px;" onclick="OnSearch(1)"><i class="fa fa-search"></i> Search</button>
                            <button type="button" class="btn btn-grey btn-xs" id="btn_clear" style="width: 80px;" onclick="clear_search()"><i class="fa fa-eraser"></i> Clear</button>

                            <div class="dropdown" style="float:right; padding-left: 4px">
                                <button class="btn btn-yellow btn-xs dropdown-toggle" style="width: 80px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print"></i> Print
                                </button>
                                <div class="dropdown-content" style="text-align:left;">
                                    <a class="dropdown-item" href="#" onclick="printPDF()">Printout PDF</a>
                                    <a class="dropdown-item" href="#" onclick="printEXCEL()">Printout EXCEL</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>