﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tableSearch {
        border-spacing: 10px;
        border-collapse: separate;
    }

    td {
        padding-left: 5px;
    }
</style>

<div id="filter">
    @Html.Partial("SearchCriteria")
</div>
<div id="main-data">
    @Html.Partial("Datagrid_SummaryData")
</div>

@Html.Partial("Javascript")

