﻿@{
    Random random = new Random();
    int r = 0;
    string color = "white";
}

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.7%; overflow: hidden;">
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 1245px;">
                    <thead>
                        <tr>
                            <th width="30px">
                                No
                            </th>
                            <th width="100px">
                                Criteria
                            </th>
                            <th width="30px">
                                Jan
                            </th>
                            <th width="30px">
                                Feb
                            </th>
                            <th width="30px">
                                Mar
                            </th>
                            <th width="30px">
                                Apr
                            </th>
                            <th width="30px">
                                May
                            </th>
                            <th width="30px">
                                Jun
                            </th>
                            <th width="30px">
                                Jul
                            </th>
                            <th width="30px">
                                Aug
                            </th>
                            <th width="30px">
                                Sep
                            </th>
                            <th width="30px">
                                Oct
                            </th>
                            <th width="30px">
                                Nov
                            </th>
                            <th width="30px">
                                Des
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div id="tScrollBody" style="overflow: scroll; height: 355px;">
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 1245px">
                    <tbody>

                        @for (int a = 1; a <= 20; a++)
                        {
                        <tr>
                            <td width="30px" class="text-center">@a</td>
                            <td width="100px">Criteria @a</td>

                            @for (int b = 1; b <= 12; b++)
                            {                                
                                r = random.Next(0, 1000*b) / b;
                                if (r <= 250)
                                {
                                    color = "blue";
                                }
                                else if (r > 250 && r <= 500)
                                {
                                    color = "light-green";
                                }
                                else if (r > 500 && r <= 750)
                                {
                                    color = "purple";
                                }
                                else if (r > 750)
                                {
                                    color = "red";
                                }
                                
                                <td width="30px" class="text-center">
                                    <i class="fa fa-circle fa-2x @color"></i>
                                </td>
                            }

                        </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });
</script>