﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03005;

@{
    List<WP03005DetailScore> DataParticipant_DetailExam = (List<WP03005DetailScore>)ViewData["DataParticipant_DetailExam"];
}
<div class="row" style="margin-top: -13px; margin-left: 10px; margin-right: 10px">
    <div class="col-xs-12 col-sm-12 col-md-11">
        <h4><b>[ @ViewData["Title"] ]</b></h4>
        <h4>@ViewData["RegNo"]  ,  @ViewData["Name"]</h4>
    </div>
    <div class="col align-right align-bottom">
        <button type="button" class="btn btn-danger btn-close" id="btn_close" onclick="back()"><i class="fa fa-close"></i></button>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
            <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
                <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
                <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0;">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                        <thead>
                            <tr>
                                <td class="align-center align-middle" style="width: 30px;"> No. </td>
                                <td class="align-center align-middle" style="width: 150px"> Title </td>
                                <td class="align-center align-middle" style="width: 150px"> Remedial </td>
                                <td class="align-center align-middle" style="width: 150px"> Company </td>
                                <td class="align-center align-middle" style="width: 150px"> Answer </td>
                                <td class="align-center align-middle" style="width: 150px"> Correct </td>
                                <td class="align-center align-middle" style="width: 150px"> Wrong </td>
                                <td class="align-center align-middle" style="width: 150px"> Not Answer </td>
                                <td class="align-center align-middle" style="width: 150px"> Score </td>
                                <td class="align-center align-middle" style="width: 150px"> Pass </td>
                                <td class="align-center align-middle" style="width: 150px"> Duration </td>
                                <td class="align-center align-middle" style="width: 150px"> Submit Date </td>
                                <td class="align-center align-middle" style="width: 150px"> Status </td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <!--data grid-->
                <div id="tScrollBody" style="height: 430px;">
                    <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                        <tbody id="tableBody">
                            <!----><!----><!---->
                            @{
                                if (DataParticipant_DetailExam != null)
                                {
                                    if (DataParticipant_DetailExam.Count > 0)
                                    {
                                        var number = 1;
                                        foreach (WP03005DetailScore item in DataParticipant_DetailExam)
                                        {
                                            <tr id="row-@number">
                                                <td class="align-center align-middle" style="width: 30px;"> @item.ROWNUM </td>
                                                <td class="align-left align-middle" style="width: 150px"> @item.TITLE </td>
                                                <td class="align-left align-middle" style="width: 150px"> @item.REMEDIAL </td>
                                                <td class="align-left align-middle" style="width: 150px"> @item.COMPANY_NAME </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.ANSWER </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.CORRECT_AMOUNT </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.WRONG_AMOUNT </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.NOT_ANSWERED_AMOUNT </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.SCORE </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.PASS_GRADUATED </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.TIMER </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.SUBMIT_DATE </td>
                                                <td class="align-center align-middle" style="width: 150px"> @item.STATUS </td>
                                            </tr>
                                            number++;
                                        }
                                    }
                                    else
                                    {
                                        <tr id="NoDataFound">
                                            <td colspan="8" width="90%" class="text-center">No data found</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="8" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                            }
                            <!----><!----><!---->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>