﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03005;

@{
    List<KeyList> GetRegNo = (List<KeyList>)ViewData["GetRegNo"];
    List<KeyList> GetCompany = (List<KeyList>)ViewData["GetCompany"];
    List<WP03005Master> dataParticipant = (List<WP03005Master>)ViewData["dataParticipant"];
}
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }


    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }

</style>


<div class="row" style="margin-top: -13px; margin-left: 10px; margin-right: 10px">
    <div class="col-xs-12 col-sm-12 col-md-11">
        <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">

                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col">
                            <table id="tableSearch">
                                <tr>
                                    <td>Reg. Number : </td>
                                    <td>
                                        <select id="searchID_EMPLOYEE" required class="form-control">
                                            <option value=""></option>
                                            @{
                                                if (GetRegNo != null)
                                                {
                                                    if (GetRegNo.Count() > 0)
                                                    {
                                                        foreach (KeyList item in GetRegNo)
                                                        {
                                                            <option value="@item.ID">@item.REG_NO</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>Company : </td>
                                    <td>
                                        <select id="searchID_COMPANY" required class="form-control">
                                            <option value=""></option>
                                            @{
                                                if (GetCompany != null)
                                                {
                                                    if (GetCompany.Count() > 0)
                                                    {
                                                        foreach (KeyList item in GetCompany)
                                                        {
                                                            <option value="@item.ID">@item.COMPANY</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 text-right">
                            <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                            <button type="button" class="btn btn-primary btn-xs" id="btn_search" style="width: 80px;" onclick="reloadSummary()"><i class="fa fa-search"></i> Search</button>
                            <button type="button" class="btn btn-grey btn-xs" id="btn_clear" style="width: 80px;" onclick="clear_search()"><i class="fa fa-eraser"></i> Clear</button>

                            <div class="dropdown" style="float:right; padding-left: 4px">
                                <button class="btn btn-yellow btn-xs dropdown-toggle" style="width: 80px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print"></i> Print
                                </button>
                                <div class="dropdown-content " style="text-align:left;">
                                    <a class="dropdown-item" href="#" onclick="printPDF()">PRINTOUT PDF</a>
                                    <a class="dropdown-item" href="#" onclick="printEXCEL()">PRINTOUT EXCEL</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                    <thead>
                        <tr>
                            <td class="align-center align-middle" style="width: 30px;"> No. </td>
                            <td class="align-center align-middle" style="width: 60px"> Detail Ujian </td>
                            <td class="align-center align-middle" style="width: 150px"> Reg. Number </td>
                            <td class="align-center align-middle" style="width: 150px"> First Name </td>
                            <td class="align-center align-middle" style="width: 150px"> Last Name </td>
                            <td class="align-center align-middle" style="width: 150px"> Company </td>
                            <td class="align-center align-middle" style="width: 150px"> Username </td>
                            <td class="align-center align-middle" style="width: 150px"> Email </td>
                            <td class="align-center align-middle" style="width: 150px"> Identity Type </td>
                            <td class="align-center align-middle" style="width: 150px"> Identity No. </td>
                            <td class="align-center align-middle" style="width: 150px"> Address </td>
                            <td class="align-center align-middle" style="width: 150px"> Phone </td>
                            <td class="align-center align-middle" style="width: 150px"> Safety Induction No. </td>
                            <td class="align-center align-middle" style="width: 150px"> Safety Date Start </td>
                            <td class="align-center align-middle" style="width: 150px"> Safety Date End </td>
                        </tr>
                    </thead>
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 315px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (dataParticipant != null)
                            {
                                if (dataParticipant.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP03005Master item in dataParticipant)
                                    {
                                        <tr id="row-@number">
                                            <td class="align-center align-middle" style="width: 30px;"> @item.ROWNUM </td>
                                            <td style="width: 60px; text-align: center;">
                                                <button type="button" id="@item.ID" class="btn btn-success btn-xs" onclick="reloadDetail(this)" style="display: inline-block;">Show</button>
                                            </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.REG_NO </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.FIRST_NAME </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.LAST_NAME </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.COMPANY_NAME </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.USERNAME </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.EMAIL </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.IDENTITY_TYPE </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.IDENTITY_NO </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.ADDRESS </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.PHONE </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.SAFETY_INDUCTION_NO </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.SAFETY_DATE_START </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.SAFETY_DATE_END </td>
                                        </tr>
                                        number++;
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="14" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="NoDataFound">
                                    <td colspan="14" width="90%" class="text-center">No data found</td>
                                </tr>
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>