﻿@model AI070.Models.WP03014Master.WP03014Master
@{
    List<SelectListItem> CompanyList = (List<SelectListItem>)ViewData["CompanyList"];
    List<SelectListItem> ProjectList = (List<SelectListItem>)ViewData["ProjectList"];
}

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col align-right">
            <button type="button" class="btn btn-danger btn-sm btn-close" id="btn_close" onclick="back()"><i class="fa fa-close"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11" style="margin-top: -13px; margin-left: 10px;">
            <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
        <h4>WP03014Master</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectId, ProjectList)
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CompanyId, CompanyList)
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyFromName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CompanyFromId, CompanyList)
                @Html.ValidationMessageFor(model => model.CompanyFromId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyToName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CompanyToId, CompanyList)
                @Html.ValidationMessageFor(model => model.CompanyToId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsProgress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsProgress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsProgress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <i class="fa fa-check"></i>
                <input type="submit" value="Save" class="btn btn-primary btn-xs" />
            </div>
        </div>
    }
</div>


	}
<style>

    #data-container {
        display: initial;
    }

    @@media only screen and (max-width: 600px) {
        .panel-member {
            600px;
        }
    }

    @@media only screen and (min-width: 600px) {
        .panel-member {
            min-height: 520px;
            padding: 0;
            margin: 0;
        }
    }

    .text-test {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        vertical-align: middle;
    }
</style>

<div id="data-container" style="display:none" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-member">
                    <div class="pull-left button-back">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-arrow-circle-left"></i></button>
                    </div>
                    <div class="panel-body">
                        <h1 class="text-test">
                            IM HERE
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>