﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03014Master;
@{
    List<WP03014Master> DataWP = (List<WP03014Master>)ViewData["DataWP03014"];
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 101.40%; border-right:17px solid #fff; position:sticky; top:0;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 60px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2"> No. </th>
                            <th style="width: 150px;" rowspan="2"> Employee Name </th>
                            <th style="width: 150px;" rowspan="2"> Project Name </th>
                            <th style="width: 150px;" rowspan="2"> Company Name </th>
                            <th style="width: 150px;" rowspan="2"> Date Join Project </th>
                            <th style="width: 150px;" rowspan="2"> Company From </th>
                            <th style="width: 150px;" rowspan="2"> Company To </th>
                            <th style="width: 150px;" rowspan="2"> Is Progress </th>
                            <th style="width: 150px;" rowspan="2"> Created By </th>
                            <th style="width: 150px;" rowspan="2"> Created Date </th>
                            <th style="width: 150px;" rowspan="2"> Modified By </th>
                            <th style="width: 150px;" rowspan="2"> Modified Date </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 265px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP03014Master item in DataWP)
                                    {
                                                <tr id="row-@number" class="row-@item.No">
                                                    <td style="width: 60px;text-align: center;" class="grid-checkbox-col">
                                                        <input class="grid-checkbox" value="@item.Id"
                                                               type="checkbox" name="checkdata[]" id="check-@item.No" style="height: 12px; display: inline-block;" />
                                                    </td>
                                                    <td style="width: 60px"> @item.No </td>
                                                    <td style="width: 150px"> @item.EmployeeName </td>
                                                    <td style="width: 150px"> @item.ProjectName </td>
                                                    <td style="width: 150px"> @item.CompanyName </td>
                                                    <td style="width: 150px"> @item.DateJoinProject.ToString("dd-MMM-yy") </td>
                                                    <td style="width: 150px"> @item.CompanyFromName </td>
                                                    <td style="width: 150px"> @item.CompanyToName </td>
                                                    <td style="width: 150px"> @item.IsProgress </td>
                                                    <td style="width: 150px"> @item.CreatedBy </td>
                                                    <td style="width: 150px"> @item.CreatedDate.ToString("dd-MMM-yy hh:mm:ss") </td>
                                                    <td style="width: 150px"> @item.ModifiedBy </td>

                                                    @if (item.ModifiedDate.HasValue)
                                                    {
                                                        <td style="width: 150px"> @item.ModifiedDate.Value.ToString("dd-MMM-yy hh:mm:ss") </td>
                                                    }
                                                    else
                                                    {
                                                        <td style="width: 150px"> </td>
                                                    }


                                                </tr>
                                        number++;
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="8" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="NoDataFound">
                                    <td colspan="8" width="90%" class="text-center">No data found</td>
                                </tr>
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
