﻿@model AI070.Models.WP03004Master.TrainingDTO
@{
    var form_type = ViewBag.form_type;
}

<script type="text/javascript">
    tinymce.init(
        {
            selector: 'textarea',
            width: 800,
            height: 300,
            encoding: 'raw'
        });
</script>

@{

    if (form_type == "New")
    {
    <div class="container">
        <div class="row">
            <div class="col align-right">
                <button type="button" class="btn btn-danger btn-close" id="btn_close" onclick="back()"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-sm-11 col-md-11" style="margin-top: -13px; margin-left: 10px;">
                <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
            </div>
        </div>


        @using (Html.BeginForm("Add", "WP03004", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
        {

            <div class="form-horizontal">
                <h4>TrainingDTO</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="File" required />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", rows = "20" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }


        @*<div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Title : </label>
                <div class="col-sm-8">
                    <input class="form-control" id="addTitle" placeholder="Enter Title">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Description : </label>
                <div class="col-sm-8">
                    <input class="form-control" id="addDescription" placeholder="Enter Description">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">File Modul : </label>
                <div class="col-sm-8">
                    <form id="form1" runat="server">
                        <input type='file' id="imgInp" />
                    </form>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Content Training : </label>
                <div class="col-sm-8">
                    <textarea type="text" id="addContent"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary btn-xs" id="btn_insert" onclick="Insert()"><i class="fa fa-check"></i>Save</button>
                </div>
            </div>
        </div>*@
    </div>
    }
    else
    {
<div class="container">
    <div class="row">
        <div class="col align-right">
            <button type="button" class="btn btn-danger btn-close" id="btn_close" onclick="back()"><i class="fa fa-close"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-sm-11 col-md-11" style="margin-top: -13px; margin-left: 10px;">
            <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
        </div>
    </div>

    @using (Html.BeginForm("Update", "WP03004", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {

<div class="form-horizontal">
    <h4>TrainingDTO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="File" required />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", rows = "20" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
    }

    @*<div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Title : </label>
                <div class="col-sm-8">
                    <input value="@ViewBag.Id" style="display:none" type="text" maxlength="50" id="editID" class="form-control" placeholder="">
                    <input value="@ViewBag.Title_form" class="form-control" id="editTitle" placeholder="Enter Title">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Description : </label>
                <div class="col-sm-8">
                    <input value="@ViewBag.Description" class="form-control" id="editDescription" placeholder="Enter Description">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">File Modul : </label>
                <div class="col-sm-8">
                    <form id="form1" runat="server">
                        <input type='file' id="editFileModul" />
                    </form>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Content Training : </label>
                <div class="col-sm-8">
                    <textarea type="text" id="editContent"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary btn-xs" id="btn_insert" onclick="Update()"><i class="fa fa-check"></i>Save</button>
                </div>
            </div>
        </div>*@
</div>
    }
}



