﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP01001Master;
@{
    List<WP01001Master> DataWP = (List<WP01001Master>)ViewData["DataWP01001"];
    List<WP01001> Status_Cmb = (List<WP01001>)ViewData["Status_Cmb"];
    List<WP01001> Time_Cmb = (List<WP01001>)ViewData["Time_Cmb"];
    List<WP01001> ExecTime_Cmb = (List<WP01001>)ViewData["Time_Cmb"];
    List<WP01001> Model_type = (List<WP01001>)ViewData["Model_type"];
    var seletc_data_unit_time = "";
    var seletc_data_exec_time = "";
    var seletc_data_status = "";
    var error = 0;
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2">No</th>
                            <th style="width: 150px;" rowspan="2">System ID</th>
                            <th style="width: 150px;" rowspan="2">System Type</th>
                            <th style="width: 150px;" rowspan="2">System CD</th>
                            <th style="width: 125px;" rowspan="2">System Valid From</th>
                            <th style="width: 125px;" rowspan="2">System Valid To</th>
                            <th style="width: 150px;" rowspan="2">System Value Text</th>
                            <th style="width: 150px;" rowspan="2">System Value Num</th>
                            <th style="width: 125px;" rowspan="2">System Date</th>
                            <th style="width: 300px;" colspan="2">Created</th>
                            <th style="width: 300px;" colspan="2">Changed</th>
                        </tr>
                        <tr>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                        </tr>
                    </thead>
                    @{
                        if (DataWP == null || DataWP.Count == 0)
                        {
                            <tr id="NoDataFound">
                                <td colspan="14" class="text-center">No data found</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 205px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP01001Master item in DataWP)
                                    {
                                        <tr id="row-@number" class="row-@item.SYSTEM_ID">
                                            <td style="width: 100px;text-align: center;" class="grid-checkbox-col">
                                                <input class="grid-checkbox" value="@item.SYSTEM_ID,@item.SYSTEM_TYPE,@item.SYSTEM_CD,@item.SYSTEM_VALID_FR.ToString("yyyy-MM-dd"),@item.SYSTEM_VALID_TO.ToString("yyyy-MM-dd"),@item.SYSTEM_VALUE_TXT,@item.SYSTEM_VALUE_NUM,@item.SYSTEM_VALUE_DT.ToString("yyyy-MM-dd")" type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                            </td>
                                            <td style="width: 60px
">
                                                @item.ROW_NUM
                                            </td>
                                            <td style="width: 150px"> @item.SYSTEM_ID </td>
                                            <td style="width: 150px"> @item.SYSTEM_TYPE </td>
                                            <td style="width: 150px"> @item.SYSTEM_CD </td>
                                            <td style="width: 125px; text-align:center"> @item.SYSTEM_VALID_FR.ToString("dd-MM-yyyy")</td>
                                            <td style="width: 125px; text-align:center"> @item.SYSTEM_VALID_TO.ToString("dd-MM-yyyy") </td>
                                            <td style="width: 150px"> @item.SYSTEM_VALUE_TXT </td>
                                            <td style="width: 150px; text-align: center"> @item.SYSTEM_VALUE_NUM </td>
                                            <td style="width: 125px; text-align:center"> @item.SYSTEM_VALUE_DT.ToString("dd-MM-yyyy") </td>
                                            <td style="width: 150px"> @item.CREATED_BY </td>
                                            <td style="width: 150px; text-align:center"> @item.CREATED_DT.ToString("dd-MM-yyyy") </td>
                                            <td style="width: 150px"> @item.CHANGED_BY </td>
                                            <td style="width: 150px; text-align:center"> @item.CHANGED_DT.ToString("dd-MM-yyyy") </td>
                                        </tr>
                                            number++;
                                        }
                                    }
                                }
                            }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="14" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
