﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP03006;

@{
    List<KeyList> examSubject = (List<KeyList>)ViewData["ExamSubject"];
    List<KeyList> company = (List<KeyList>)ViewData["Company"];
    List<WP03006Master> summaryScore = (List<WP03006Master>)ViewData["SummaryData"];
}
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>


<div class="row" style="margin-top: -13px; margin-left: 10px; margin-right: 10px">
    <div class="col-xs-12 col-sm-12 col-md-11">
        <label class="control-label text-muted"><h2>@ViewData["Title"]</h2></label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" class="form-horizontal" id="searchForm">

                    <div class="row" style="margin-bottom: -25px;margin-top: -10px">
                        <div class="col">
                            <table id="tableSearch">
                                <tr>
                                    <td>Exam Subject : </td>
                                    <td>
                                        <select id="listExamSubject" required class="form-control" onchange="subject_OnChange(this.value)">
                                            <option value=""></option>
                                            @{
                                                if (examSubject != null)
                                                {
                                                    if (examSubject.Count() > 0)
                                                    {
                                                        foreach (KeyList item in examSubject)
                                                        {
                                                            <option value="@item.Id">@item.Title</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>Company : </td>
                                    <td>
                                        <select id="listCompany" required class="form-control">
                                            <option value=""></option>
                                            @{
                                                if (company != null)
                                                {
                                                    if (company.Count() > 0)
                                                    {
                                                        foreach (KeyList item in company)
                                                        {
                                                            <option value="@item.Id">@item.Title</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div style="margin-bottom: 10px"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 text-right">
                            <img id="_reloading" src="Content/Bootstrap/img/loading.gif" alt="Please Wait" style="width: 30px; height: 30px; margin-right: 4px; opacity: 0;" />
                            <button type="button" class="btn btn-grey btn-xs" id="btn_clear" style="width: 80px;" onclick="clear_search()"><i class="fa fa-eraser"></i> Clear</button>

                            <div class="dropdown" style="float:right; padding-left: 4px">
                                <button class="btn btn-yellow btn-xs dropdown-toggle" style="width: 80px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print"></i> Print
                                </button>
                                <div class="dropdown-content" style="text-align:left;">
                                    <a class="dropdown-item" href="#" onclick="printPDF()">Printout PDF</a>
                                    <a class="dropdown-item" href="#" onclick="printEXCEL()">Printout EXCEL</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%;  border-right:17px solid #fff; position:sticky; top:0;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <td class="align-center align-middle" style="width: 30px;"> No. </td>
                            <td class="align-center align-middle" style="width: 150px"> Exam Subject </td>
                            <td class="align-center align-middle" style="width: 150px"> Participan </td>
                            <td class="align-center align-middle" style="width: 150px"> Company </td>
                            <td class="align-center align-middle" style="width: 80px"> Answer </td>
                            <td class="align-center align-middle" style="width: 80px"> Correct </td>
                            <td class="align-center align-middle" style="width: 80px"> Wrong </td>
                            <td class="align-center align-middle" style="width: 80px"> Not Answer </td>
                            <td class="align-center align-middle" style="width: 100px"> Remedial </td>
                            <td class="align-center align-middle" style="width: 80px"> Score </td>
                            <td class="align-center align-middle" style="width: 80px"> Pass </td>
                            <td class="align-center align-middle" style="width: 100px"> Duration </td>
                            <td class="align-center align-middle" style="width: 150px"> Submit Date </td>
                            <td class="align-center align-middle" style="width: 150px"> Status </td>
                            <td class="align-center align-middle" style="width: 80px"> ID Card </td>
                            <td class="align-center align-middle" style="width: 80px"> Certificate </td>
                        </tr>
                    </thead>
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 325px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (summaryScore != null)
                            {
                                if (summaryScore.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP03006Master item in summaryScore)
                                    {
                                        <tr id="row-@number">
                                            <td class="align-center align-middle" style="width: 30px;"> @item.RowNum </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.Subject </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.EmployeeName </td>
                                            <td class="align-left align-middle" style="width: 150px"> @item.CompanyName </td>
                                            <td class="align-center align-middle" style="width: 80px"> @item.TotalQuestion </td>
                                            <td class="align-center align-middle" style="width: 80px"> @item.CorrectAnswere </td>
                                            <td class="align-center align-middle" style="width: 80px"> @item.InCorrectAnswere </td>
                                            <td class="align-center align-middle" style="width: 80px"> @item.UnassignQuestion </td>
                                            <td class="align-center align-middle" style="width: 100px"> Remedial ke-@item.Remedial </td>
                                            <td class="align-center align-middle" style="width: 80px"> @item.Score </td>
                                            <td class="align-center align-middle" style="width: 80px"> @item.PassGraduateScore </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.TimeSubmit menit </td>
                                            <td class="align-center align-middle" style="width: 150px"> @item.SubmitDate </td>
                                            <td class="align-center align-middle" style="width: 100px">
                                                @{
                                                    if (Convert.ToInt32(item.ExamStatus) == 1)
                                                    { <span>PASS</span> }
                                                    else
                                                    { <span>NOT PASS</span> }
                                                }
                                            </td>
                                            <td class="align-center align-middle" style="width: 80px">
                                                @{
                                                    if (Convert.ToInt32(item.ExamStatus) == 1)
                                                    { <a href="WP03012/NameCardByScore?id=@item.Id" target="_blank">Print</a> }
                                                    else
                                                    { <span style="color:red;">Not Available</span> }
                                                }
                                            </td>
                                            <td class="align-center align-middle" style="width: 80px">
                                                @{
                                                    if (Convert.ToInt32(item.ExamStatus) == 1)
                                                    { <a href="WP03012/CertifiedByScore?id=@item.Id" target="_blank">Print</a> }
                                                    else
                                                    { <span style="color:red;">Not Available</span> }
                                                }
                                            </td>
                                        </tr>
                                        number++;
                                    }
                                }
                                else
                                {
                                    <tr id="NoDataFound">
                                        <td colspan="8" width="90%" class="text-center">No data found</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr id="NoDataFound">
                                    <td colspan="8" width="90%" class="text-center">No data found</td>
                                </tr>
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
