﻿
@{
    ViewBag.Title = "Congratulation";
    ViewBag.Breadcum = "Congratulation";
    Layout = "~/Views/WP03007/_Layout.cshtml";
}

<div class="container pl-0 pr-0">
    <div style="margin-top: 80px; margin-bottom: 60px">
        <div class="row">
            <div class="col-md-6 pr-5">
                <h2>Congratulations !!</h2>
                <p class="mt-3">
                    Congratulations! You've run the course and passed the exams! There are no secret of success. It is the result of preparation, hard work and learning from failure. Well done!
                </p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>

</div>