﻿@using AI070.Models.WP03007;
@model IEnumerable<MasterExamQuestion>

@{
    Layout = "~/Views/WP03007/_Layout.cshtml";
}

<div class="container pl-0 pr-0">
    <div class="pt-5">
        <div class="row justify-content-between">
            @Html.Hidden("SubjectId", (int)ViewData["SubjectId"])
            @Html.Hidden("ExamDuration", (int)ViewData["examDuration"])
            <main class="question-container col-9 ml-1" role="main">

                <div class="tab-content" data-spy="scroll" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-0" role="tabpanel" aria-labelledby="v-pills-0-tab">
                        <h1 class="font-weight-lighter">Wellcome in Exam</h1>
                        <p class="mt-3">
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>

                        <button class="btn btn-primary" onclick="goNext(0)" type="button">
                            Start
                        </button>
                    </div>

                    @{
                        int n = Model.Count();
                    }

                    @Html.Hidden("nData", n)

                    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <div class="tab-pane fade" id="v-pills-@item.Data.Id" role="tabpanel" aria-labelledby="v-pills-@item.Data.Id-tab">
                            <div class="row">
                                <div class="col-6">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.Hidden("Id", item.Data.Id, new { @id = "Id-" + item.Index })

                                        <div class="d-flex justify-content-start">
                                            @item.Index
                                            <p class="mr-2"> . </p>
                                            @Html.Raw(item.Data.Question)
                                        </div>


                                        <div class="form-check">
                                            @Html.RadioButton("AnswerUserChoose-" + item.Index, item.Data.AnswerChoice_A, new { @id = ("AnswerUserChooseA-" + @item.Data.Id) })
                                            <label class="form-check-label" for="AnswerUserChooseA-@item.Data.Id">
                                                @Html.Raw(item.Data.AnswerChoice_A)
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            @Html.RadioButton("AnswerUserChoose-" + item.Index, item.Data.AnswerChoice_B, new { @id = ("AnswerUserChooseB-" + @item.Data.Id) })
                                            <label class="form-check-label" for="AnswerUserChooseB-@item.Data.Id">
                                                @Html.Raw(item.Data.AnswerChoice_B)
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            @Html.RadioButton("AnswerUserChoose-" + item.Index, item.Data.AnswerChoice_C, new { @id = ("AnswerUserChooseC-" + @item.Data.Id) })
                                            <label class="form-check-label" for="AnswerUserChooseC-@item.Data.Id">
                                                @Html.Raw(item.Data.AnswerChoice_C)
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            @Html.RadioButton("AnswerUserChoose-" + item.Index, item.Data.AnswerChoice_D, new { @id = ("AnswerUserChooseD-" + @item.Data.Id) })
                                            <label class="form-check-label" for="AnswerUserChooseD-@item.Data.Id">
                                                @Html.Raw(item.Data.AnswerChoice_D)
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            @Html.RadioButton("AnswerUserChoose-" + item.Index, item.Data.AnswerChoice_E, new { @id = ("AnswerUserChooseE-" + @item.Data.Id) })
                                            <label class="form-check-label" for="AnswerUserChooseE-@item.Data.Id">
                                                @Html.Raw(item.Data.AnswerChoice_E)
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="col-6">

                                    @if (item.Data.ImagePath != "undefined")
                                    {
                                        <img src="@item.Data.ImagePath" onerror="this.style.display='none'" class="shadow-none border-0 pl-1" style="width: 120%; height: 90%" alt="">
                                    }
                                </div>

                            </div>
                            <div class="row position-absolute w-100 d-flex justify-content-between" style="bottom: 0; overflow:auto">

                                <div class="d-flex flex-row col-3">
                                    <div class="col-4">
                                        @if (item.Index > 1)
                                        {
                                            <button class="btn btn-outline-primary dropleft" onclick="goBack(@item.Index)" type="button">
                                                Back
                                            </button>
                                        }
                                    </div>

                                    <div class="col-4">
                                        @if (item.Index < n)
                                        {
                                            <button class="btn btn-outline-primary" onclick="goNext(@item.Index)" type="button">
                                                Next
                                            </button>
                                        }
                                    </div>
                                </div>


                                <button class="btn btn-success dropright" type="submit" onclick="submitAnswer()">
                                    Finish
                                </button>

                            </div>
                        </div>

                    }

                </div>



            </main>

            <div class="col-2 mr-1">

                <div class="nav nav-pills flex-fill d-flex justify-content-end" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <a class="nav-link btn btn-outline-primary text-center m-2" style="width:50px;" data-toggle="pill" id="v-pills-@item.Index-tab" href="#v-pills-@item.Data.Id" role="tab" aria-controls="v-pills-@item.Data.Id" aria-selected="true">
                            @item.Index
                        </a>
                    }
                </div>
            </div>


        </div>
    </div>

</div>




