﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP01007Master;
@{
    List<WP01007Master> DataWP = (List<WP01007Master>)ViewData["DataWP01007"];
    List<WP01007> Status_Cmb = (List<WP01007>)ViewData["Status_Cmb"];
    List<WP01007> Time_Cmb = (List<WP01007>)ViewData["Time_Cmb"];
    List<WP01007> ExecTime_Cmb = (List<WP01007>)ViewData["Time_Cmb"];
    List<WP01007> Model_type = (List<WP01007>)ViewData["Model_type"];
    var seletc_data_unit_time = "";
    var seletc_data_exec_time = "";
    var seletc_data_status = "";
    var error = 0;
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="width: 100px; text-align: center; " class="grid-checkbox-col" rowspan="2">
                                <input type="checkbox" value="All" style="height: 12px;" id="checkall" />
                            </th>
                            <th style="width: 60px;" rowspan="2">No</th>
                            <th style="width: 150px;" rowspan="2">Item Name</th>
                            <th style="width: 150px;" rowspan="2">Item Type</th>
                            <th style="width: 350px;" rowspan="2">Item Description</th>
                            <th style="width: 75px;" rowspan="2">Item Status</th>
                            <th style="width: 300px;" colspan="2">Created</th>
                            <th style="width: 300px;" colspan="2">Changed</th>
                        </tr>
                        <tr>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                        </tr>
                    </thead>
                    @{
                        if (DataWP == null || DataWP.Count == 0)
                        {
                            <tr id="NoDataFound">
                                <td colspan="10" class="text-center">No data found</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 200px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP01007Master item in DataWP)
                                    {
                                                <tr id="row-@number" class="row-@item.ID">
                                                    <td style="width: 100px;text-align: center;" class="grid-checkbox-col">
                                                        <input class="grid-checkbox" value="@item.ID,@item.ITEM_NAME,@item.ITEM_TYPE,@item.ITEM_ST, @item.ITEM_DESC" type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                                    </td>
                                                    <td style="width: 60px
">
                                                        @number
                                                    </td>
                                                    <td style="width: 150px"> @item.ITEM_NAME </td>
                                                    <td style="width: 150px"> @item.ITEM_TYPE_VAL </td>
                                                    <td style="width: 350px"> @item.ITEM_DESC </td>
                                                    <td style="width: 75px">
                                                        @{ if (Convert.ToInt32(item.ITEM_ST) == 1)
                                                            { <span>Active</span> }
                                                            else
                                                            { <span>Not Active</span> } }
                                                    </td>
                                                    <td style="width: 150px"> @item.CREATED_BY </td>
                                                    <td style="width: 150px"> @item.CREATED_DT </td>
                                                    <td style="width: 150px"> @item.UPDATED_BY </td>
                                                    <td style="width: 150px"> @item.UPDATED_DT </td>
                                                </tr>
                                        number++;
                                    }
                                }
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
