﻿<form role="form" class="form-horizontal _criteria" id="searchForm">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label required-left">Division</label>

                <div class="input-group input-group-xs col-xs-8 col-sm-9 col-md-8" style="padding-left:11px;padding-right:11px; height: 26px;">
                    <input id="txtUsername" class="form-control" type="text" style="font-size: 9pt;" required />
                    <span class="input-group-btn">
                        <button id="btnlookup" class=" btn btn-default btn-sm" type="button" style="height: 30px; line-height: 0;">&nbsp<i class="fa fa-search"></i>&nbsp</button>
                    </span>
                </div>

            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label required-left">Vendor</label>
                <div class="input-group input-group-xs col-xs-8 col-sm-9 col-md-8" style="padding-left:11px;padding-right:10px; height: 26px;">
                    <input id="txtVendor" class="form-control" type="text" style="font-size: 9pt;" value=""  placeholder="Select item" >
                    <span class="input-group-btn">
                        <div class="btn-group" id="btn-group">
                            <button id="btnlookup" class="multiselect dropdown-toggle btn btn-default btn-sm" type="button" 
                                style="height: 30px; line-height: 0;" aria-expanded="false" onclick="javascript:openPopup()"><i class="fa fa-caret-down"></i>&nbsp</button>

                            <div class="form-horizontal multiselect-container dropdown-menu" style="left: -148px;">
                                <div class="form-group form-group-xs">
                                    <div>
                                        <div class="input-group">
                                            <input id="txtsearchlookup" class="form-control" type="text" placeholder="input name...." style="margin-left: 5px;" />
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchlookupuser"
                                                        data-loading-text="
                                                    <i class='glyphicon-refresh-animate glyphicon glyphicon-refresh'></i>"
                                                    class=" btn btn-default btn-sm " style="margin-left: 5px; margin-right: 5px; height: 30px;">&nbsp<i class="fa fa-search"></i>
                                                </button>
                                                <button id="btnclearlookup" class=" btn btn-default btn-sm " title="Clear" type="button" style="margin-right: 5px; height: 30px;" onclick="javascript:clearPopupFilter()">&nbsp<i class="fa  fa-eraser"></i>&nbsp</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs">
                                    <div class="table-responsive multiselect-item filter" style="overflow: hidden;">
                                        <div>
                                            <table class="table table-striped table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 50px;">
                                                            <input class="gridLookup-checkbox cursor-link" type="checkbox" style="height: 13px; margin-top: 3px;" id="gridLookup-checkAll" />
                                                        </th>
                                                        <th class="text-center" style="width: 111px;">Field 1</th>
                                                        <th class="text-center" style="width: 112px;">Field 2</th>
                                                        <th class="text-center" style="width: 112px;">Field 3</th>
                                                        <th class="text-center" style="width: 112px;">Field 4</th>
                                                        <th class="text-center" style="width: 17px;">&nbsp</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div style="overflow: scroll; height:153px;">
                                            <table class="table table-striped table-bordered table-condensed">
                                                @for (int i = 1; i <= 8; i++)
                                                {
                                                    <tr>
                                                        @*<td class="text-center cursor-link" onclick="javascript:onGridLookupSelected('Data-@i')">Data-@i</td>*@
                                                        <td class="text-center" style="width: 50px;">
                                                            <input type="checkbox" class="gridLookup-checkbox gridLookup-checkbox-body cursor-link" style="height: 13px; margin-top: 3px;" data-value="Data-@i" />
                                                        </td>
                                                        <td class="text-center" style="width: 111px;">Data-@i</td>
                                                        <td class="text-center" style="width: 112px;">Data-@i</td>
                                                        <td class="text-center" style="width: 112px;">Data-@i</td>
                                                        <td class="text-center" style="width: 112px;">Data-@i</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-group-xs">
                                    <div class="text-right" style="margin-right: 7px;">
                                        <button type="button" class="btn btn-primary btn-xs" style="width: 70px;" onclick="javascript:gridlookupSelected('OK')">Ok</button>
                                        <button type="button" class="btn btn-danger btn-xs" style="width: 70px;" onclick="javascript:gridlookupSelected('CS')">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label">Plant</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    @*<input id="txtdesc" type="text" class="form-control" style="height: 26px; width: 210px;" />*@
                    @*<input type="text" class="navsearchinput" id="navtxtdesc" autocomplete="off" style="height: 26px; width: 210px;" />*@
                    
                    <div class="input-group pos-rel" style="width: 100%;">
						<input id="navtxtdesc" class="form-control" type="text" value="" />
					</div>

                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label">Created</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <div class="input-group">
						<span class="input-group-addon" style="cursor: pointer;">
							<i class="fa fa-calendar bigger-110"></i>
						</span>

						<input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" data-date-format="dd.mm.yyyy" />
					</div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label">Doc. Date</label>
                <div class="input-group input-group-xs col-xs-8 col-sm-9 col-md-8" style="padding-left:11px;padding-right:11px">
                    <div class="input-group" style="cursor: pointer;">
						<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd.mm.yyyy" />
						<span class="input-group-addon">
							<i class="fa fa-calendar bigger-110"></i>
						</span>
					</div>
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label">PR Status</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <select id="cmb_status" class="cursor-1 mandatory" style="width: 100%;">
                        <option class="cursor-1"></option>
                        <option class="cursor-1">Created</option>
                        <option class="cursor-1">Outstanding</option>
                        <option class="cursor-1">Released</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label">Amount</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <input type="number" id="amount" class="form-control text-right" min="1" onkeydown="javascript:Key(event)" onblur="javascript:CheckAmount()" />
                </div>
            </div>
            <div class="form-group form-group-xs _criteria">
                <label class="col-xs-4 col-sm-3 col-md-4 control-label required-left">Released</label>
                <div class="col-xs-8 col-sm-9 col-md-8">
                    <label>
						<input name="switch-field-1" class="ace ace-switch ace-switch-6" type="checkbox" />
						<span class="lbl"></span>
					</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" style="margin-top: 5px;">
            
        </div>
        <div class="col-xs-6 text-right">
            <div class="form-group-xs _criteria">
                <button type="button" class="btn btn-primary btn-xs" onclick="javascript:searchData()">Search</button>
                <button type="reset" class="btn btn-default btn-xs" onclick="javascript:clearData()">Clear</button>
            </div>
        </div>
    </div>

</form>