﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP02002Master;
@{
    List<WP02002Master> DataWP = (List<WP02002Master>)ViewData["DataWP02002"];
    List<WP02002> Status_Cmb = (List<WP02002>)ViewData["Status_Cmb"];
    List<WP02002> Time_Cmb = (List<WP02002>)ViewData["Time_Cmb"];
    List<WP02002> ExecTime_Cmb = (List<WP02002>)ViewData["Time_Cmb"];
    List<WP02002> Model_type = (List<WP02002>)ViewData["Model_type"];
    List<ProjectCodeModel> ProjectCode = (List<ProjectCodeModel>)ViewData["Project_Code"];
    List<JobsModel> Jobs = (List<JobsModel>)ViewData["Jobs"];
    List<CategoryModel> Category = (List<CategoryModel>)ViewData["Category"];
    List<LocationModel> Location = (List<LocationModel>)ViewData["Location"];
    var seletc_data_unit_time = "";
    var seletc_data_exec_time = "";
    var seletc_data_status = "";
    var error = 0;
}

<style>
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>

<div class="row" id="GridProject">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 60px;" rowspan="2">No</th>
                            <th style="width: 100px;" rowspan="2">Status Activity</th>
                            <th style="width: 100px;" rowspan="2">Project Code</th>
                            <th style="width: 200px;" rowspan="2">Project Name</th>
                            <th style="width: 200px;" rowspan="2">Area</th>
                            <th style="width: 100px;" rowspan="2">Location</th>
                            <th style="width: 100px;" rowspan="2">Date From</th>
                            <th style="width: 100px;" rowspan="2">Date To</th>
                            <th style="width: 100px;" rowspan="2">Division / Dept</th>
                            <th style="width: 100px;" rowspan="2">Executor</th>
                            <th style="width: 250px;" rowspan="2">Company</th>
                            <th style="width: 100px;" rowspan="2">Leader</th>
                            <th style="width: 100px;" rowspan="2">Supervisor</th>
                            <th style="width: 300px;" colspan="2">Created</th>
                            <th style="width: 300px;" colspan="2">Changed</th>
                            <th style="width: 200px;" rowspan="2">Aksi</th>
                        </tr>
                        <tr>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                            <!--Colspan Dari "Created"-->
                            <th style="width: 150px; ">By</th>
                            <th style="width: 150px; border: initial; ">Date</th>
                        </tr>
                    </thead>
                    @{
                        if (DataWP == null || DataWP.Count == 0)
                        {
                            <tr id="NoDataFound">
                                <td colspan="14" class="text-center">No data found</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 205px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (WP02002Master item in DataWP)
                                    {
                                                <tr id="row-@number" class="row-@item.ID">
                                                    <td style="width: 60px">
                                                        @item.ROW_NUM
                                                    </td>
                                                    <td style="width: 100px"> @item.JOB_STATUS </td>
                                                    <td style="width: 100px"> @item.PROJECT_CODE </td>
                                                    <td style="width: 200px"> @item.PROJECT_NAME </td>
                                                    <td style="width: 200px"> @item.AREA_NAME </td>
                                                    <td style="width: 100px"> @item.LOC_NAME </td>
                                                    <td style="width: 100px"> @item.IMPLEMENT_DATE_FROM_DISP </td>
                                                    <td style="width: 100px"> @item.IMPLEMENT_DATE_TO_DISP </td>
                                                    <td style="width: 100px"> @item.DEP_OR_DIV_CODE </td>
                                                    <td style="width: 100px"> @item.EXECUTOR_DESC </td>
                                                    <td style="width: 250px"> @item.COMPANY_NAME </td>
                                                    <td style="width: 100px"> @item.LEADER_NAME </td>
                                                    <td style="width: 100px"> @item.SUPERVISOR_NAME </td>
                                                    <td style="width: 150px"> @item.CREATED_BY </td>
                                                    <td style="width: 150px; text-align:center">  @item.CREATED_DT.ToString("dd-MMM-yyyy HH:mm:ss") </td>
                                                    <td style="width: 150px"> @item.CHANGED_BY </td>
                                                    <td style="width: 150px; text-align:center"> @DateTime.Parse(item.CHANGED_DT.ToString()).ToString("dd-MMM-yyyy HH:mm:ss")</td>
                                                    <td style="width: 200px">
                                                        <input type="hidden" id="rowData-@item.ID" value="@Json.Encode(item)" />
                                                        <button type="button" data-title="@item.ID" onclick="EditDataDetail(this)" class="btn btn-primary btn-xs" id="btn_edit_data" name="btn_edit_data" style="width: 70px; margin-left:10px;"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                                        <button type="button" onclick="DeleteDataDetail(@item.ID)" data-title="@item.ID" class="btn btn-danger btn-xs" id="btn_delete_data" name="btn_delete_data" style="width: 70px; margin-left:3px;"><i class="fa fa-trash-o"></i> Delete</button>
                                                    </td>
                                                </tr>
                                        number++;
                                    }
                                }
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="14" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
