﻿<style>
    .container-form {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .section-wrapper {
        border: 1px solid #ced4da;
        background-color: #fff;
        padding: 40px;
        border-radius: 4px;
    }

    .section-wrapper-child {
        border: 1px dashed #ced4da;
        background-color: #fff;
        padding: 5px;
        border-radius: 4px;
    }

    .section-splitter {
        border-right: 1px dashed #ced4da;
        background-color: #fff;
    }

    .section-pageheader {
        padding: 15px 0;
    }

    .section-pagetitle {
        margin-top: 15px;
        margin-bottom: 10px;
        color: #343a40;
        padding-left: 10px;
        border-left: 4px solid #4662D4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: .5px;
    }

    .section-pagetitle-child {
        margin-top: 15px;
        margin-bottom: 10px;
        color: #343a40;
        padding-left: 10px;
        border-left: 4px solid #4662D4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .5px;
    }

    .section-wrapper .section-title:first-child {
        margin-top: 0;
    }

    :root {
        --blue: #1b84e7;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #f27510;
        --yellow: #F49917;
        --green: #23BF08;
        --teal: #1CAF9A;
        --cyan: #5B93D3;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #1b84e7;
        --secondary: #6c757d;
        --success: #23BF08;
        --info: #5B93D3;
        --warning: #F49917;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .section-title {
        font-size: 14px;
        font-weight: 700;
        color: #343a40;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        letter-spacing: 1px;
    }

    .unset-padding {
        padding-left: unset;
        padding-right: unset;
        padding-top: 4px;
        width: unset;
    }

    .unset-padding-chkbox {
        padding-right: 10px;
        width: unset;
    }

    .space-input {
        padding: 0.2rem 1rem !important;
    }
</style>


<div id="inputForm" class="container-form" style="display:none;">
    <div class="section-pageheader">
        <h6 class="section-pagetitle">Project Activity Detail Form</h6>
    </div>
    <div class="section-wrapper">
        @Html.Partial("InputHeader")
        <hr />
        @Html.Partial("InputJenisPekerjaan")
        <hr />
        @Html.Partial("InputIndetifikasiBahaya")
        @Html.Partial("InputIdentifikasiDampak")
        <hr />
        @Html.Partial("InputPengawasan")
        <hr />

        <div class="row" id="GroupSave">
            <button type="button" onclick="saveAsDraft()" class="btn btn-info btn-sm submitbtn">Save as Draft</button>
            <button type="button" onclick="SubmitDataProject()" class="btn btn-info btn-sm submitbtn">Submit</button>
            <button type="button" class="btn btn-info btn-sm" onclick="cancelAdd()">Cancel</button>
        </div>
    </div>
</div>



