﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP02002Master;
@{
    List<CompanyModel> Company = (List<CompanyModel>)ViewData["Company"];
    List<EmployeeModel> Employee = (List<EmployeeModel>)ViewData["Employee"];

    List<AreaModel> Areas = (List<AreaModel>)ViewData["Area"];
    List<DivisionModel> Division = (List<DivisionModel>)ViewData["Division"];

    List<LocationModel> Location = (List<LocationModel>)ViewData["Location"];

}



    <div class="row">
        <div class="col-lg-6">
            <label class="section-title">
                <u>A. Header</u>
            </label>
            <div class="form-group">
                <label>No. IPMB </label>
                <input type="text" maxlength="25" class="form-control space-input input-project" id="WP02002_TXT_ADD_IMPBNO" placeholder="Auto Generate" disabled>
            </div>
            <label class="section-title">
                <u>B. Project Info</u>
            </label>
            <div class="form-group">
                <label>Project Code </label>
                <input type="hidden" id="WP_PROJECT_ID" value="0" />
                <input type="text" maxlength="25" class="form-control space-input input-project" id="WP02002_TXT_ADD_PROJECTCODE" placeholder="Auto Generate" disabled>
            </div>
            <div class="form-group">
                <label>Project Name <span style="color:red">*</span></label>
                <input required type="text" maxlength="25" class="form-control space-input input-project" id="WP02002_TXT_ADD_PROJECTNAME" placeholder="Nama Proyek">
            </div>
            <div class="form-group">
                <label>Project Area <span style="color:red">*</span></label>
                <select class="form-control space-input input-project" id="WP02002_DDL_ADD_AREA" required>
                    <option value="">- select -</option>
                    @{
                        if (Areas != null)
                        {
                            if (Areas.Count() > 0)
                            {
                                foreach (AreaModel item in Areas)
                                {
                                    <option value="@item.ID_TB_M_AREA">@item.AREA_NAME</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Project Location <span style="color:red">*</span></label>
                    <select class="form-control space-input input-project" id="WP02002_DDL_ADD_LOC" disabled required>
                        <option value="">- select -</option>
                        @{
                            if (Location != null)
                            {
                                if (Location.Count() > 0)
                                {
                                    foreach (LocationModel item in Location)
                                    {
                                        <option style="display:none" value="@item.ID_TB_M_LOCATION" area="@item.ID_TB_M_AREA">@item.LOC_NAME</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-6">
                    <label>Division/Departement <span style="color:red">*</span></label>
                    <select class="form-control space-input input-project" id="WP02002_DDL_ADD_DIV" required>
                        <option value="">- select -</option>
                        @{
                            if (Division != null)
                            {
                                if (Division.Count() > 0)
                                {
                                    foreach (DivisionModel item in Division)
                                    {
                                        <option value="@item.Division">@item.Division</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label>Start Date <span style="color:red">*</span></label>
                    <input id="WP02002_DT_ADD_PELAKSANAAN" class="form-control input-project" type="date" required>
                </div>
                <div class="col-lg-6">
                    <label>End Date <span style="color:red">*</span></label>
                    <input id="WP02002_DT_TO_ADD_PELAKSANAAN" class="form-control input-project" type="date" required>
                </div>
            </div>
            <div class="form-check">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Working Status <span style="color:red">*</span> :</label>
                    </div>
                    <div class="col-lg-2 unset-padding-chkbox ">
                        <input class="form-check-input input-project" type="radio" value="1" name="WorkingStatus" id="WP02002_CHK_ADD_STNEW">
                        <label class="form-check-label" for="WP02002_CHK_ADD_STNEW">
                            New
                        </label>
                    </div>
                    <div class="col-lg-2 unset-padding-chkbox ">
                        <input class="form-check-input input-project" type="radio" value="0" name="WorkingStatus" id="WP02002_CHK_ADD_STEXTEND">
                        <label class="form-check-label" for="WP02002_CHK_ADD_STEXTEND">
                            Extend
                        </label>
                    </div>
                    <div class="col-lg-1" style="margin-left:30px; width:unset; padding-right:5px; ">
                        <label>*)</label>
                    </div>
                    <div class="col-lg-5" style="padding-left:unset">
                        <textarea type="text" maxlength="25" style="margin: 0px -51.7969px 0px 0px; width: 343px; height: 106px;" class="form-control space-input input-project" id="WP02002_TXT_ADD_NOTED" placeholder="Noted"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <label class="section-title">
                <u>C. Pelaksana Proyek</u>
            </label>
            <div class="form-check" style="margin-bottom:20px;">
                <label>Pelaksana Dari :</label>
                <div class="row">
                    <div class="col-lg-2 unset-padding-chkbox ">
                        <input class="form-check-input cbpelaksana" type="radio" value="TMMI" name="pelaksana" id="WP02002_CHK_ADD_TMMIN">
                        <label class="form-check-label" for="WP02002_CHK_ADD_STNEW">
                            TMMIN
                        </label>
                    </div>
                    <div class="col-lg-2 unset-padding-chkbox ">
                        <input class="form-check-input ace-checkbox-2 cbpelaksana" type="radio" name="pelaksana" value="VENDOR" id="WP02002_CHK_ADD_ST">
                        <label class="form-check-label" for="WP02002_CHK_ADD_CTR">
                            Kontraktor
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Bagian / PT. / CV. </label>
                @*<input type="text" maxlength="25" class="form-control space-input" id="WP02002_TXT_ADD_BAGIAN" placeholder="Pengisian Bagian/ PT. / CV.">*@
                <select class="form-control space-input" id="WP02002_DDL_ADD_BAGIAN" disabled>
                    <option value="">- select -</option>
                    @{
                        if (Company != null)
                        {
                            if (Company.Count() > 0)
                            {
                                foreach (CompanyModel item in Company)
                                {
                                    <option style="display:none" value="@item.ID_TB_M_COMPANY" code="@item.COMPANY_CODE">@item.COMPANY_NAME</option>
                                }
                            }
                        }
                    }
                </select>
            </div>
            <div class="row" style="margin:unset">
                <div class="col-lg-6 section-wrapper-child">
                    <label class="section-title-child">
                        <b><u>Pimpinan</u></b>
                    </label>
                    <div class="form-group">
                        <label>Nama </label>
                        <select class="form-control space-input" id="WP02002_DDL_ADD_NAMALEAD" disabled>
                            <option value="">- select -</option>
                            @{
                                if (Employee != null)
                                {
                                    if (Employee.Count() > 0)
                                    {
                                        foreach (EmployeeModel item in Employee)
                                        {
                                            <option style="display:none" value="@item.ID_TB_M_EMPLOYEE" code="@item.ID_TB_M_COMPANY,@item.PIC_STATUS" noanzen="@item.ANZEN_SERTIFICATE_NO" phone="@item.PHONE">@item.NAME</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>No A/L </label>
                        <input type="text" class="form-control space-input" id="WP02002_TXT_ADD_NOALLEAD" disabled placeholder="Pengisian No A/L Pimpinan">
                    </div>
                    <div class="form-group">
                        <label>No HP </label>
                        <input type="text" class="form-control space-input" disabled id="WP02002_TXT_ADD_NOHPLEAD" placeholder="Pengisian No HP Pimpinan">
                    </div>
                </div>

                <div class="col-lg-6 section-wrapper-child">
                    <label class="section-title-child">
                        <b><u>Pengawas</u></b>
                    </label>
                    <div class="form-group">
                        <label>Nama </label>
                        <select class="form-control space-input" id="WP02002_DDL_ADD_NAMAPGWS" disabled>
                            <option value="">- select -</option>
                            @{
                                if (Employee != null)
                                {
                                    if (Employee.Count() > 0)
                                    {
                                        foreach (EmployeeModel item in Employee)
                                        {
                                            <option style="display:none" value="@item.ID_TB_M_EMPLOYEE" code="@item.ID_TB_M_COMPANY,@item.PIC_STATUS" noanzen="@item.ANZEN_SERTIFICATE_NO" phone="@item.PHONE">@item.NAME</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>No A/L </label>
                        <input type="text" class="form-control space-input" id="WP02002_TXT_ADD_NOALPGWS" placeholder="Pengisian No A/L Pengawas" disabled>
                    </div>
                    <div class="form-group">
                        <label>No HP </label>
                        <input type="text" class="form-control space-input" id="WP02002_TXT_ADD_NOHPPGWS" placeholder="Pengisian No HP Pengawas" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
