﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP02002Master;
@{
    List<PicModel> Pic = (List<PicModel>)ViewData["Pic"];
}
<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary btn-xs pull-right" id="WP02002_BTN_ADD_SHOW_DAMPAK" style="width: 80px; margin-bottom:20px" disabled><i class="fa fa-plus"></i> Add</button>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
            <div style="border: 1px solid #ccc; overflow:scroll; position: relative;">
                <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
                <div id="tScrollHead" style="width: 100%; border-right:1px solid #fff">
                    <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                        <thead>
                            <tr>
                                <th style="width: 200px;">PEKERJAAN</th>
                                <th style="width: 130px;">Identifikasi Dampak Lingkungan</th>
                                <th style="width: 130px;">Tindakan Pencegahan</th>
                                <th style="width: 100px;">PIC</th>
                                <th style="width: 125px;">Keterangan (Henkaten Env)</th>
                                <th style="width: 100px;">Aksi</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <!--data grid-->
                <div id="tScrollBody" style="height: 255px;">
                    <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                        <tbody id="WP02002_TBL_ADD_DAMPAK" style="display: none;">
                            <tr>
                                <td style="width: 200px; padding:0!important">
                                    <select style="width:100%" id="WP02002_DDL_ADD_DAMPAK_PEKERJAAN" class="bg-danger">
                                    </select>
                                </td>
                                <td style="width: 130px; padding:0!important">
                                    <textarea type="text" maxlength="25" style="margin: 0px -51.7969px 0px 0px; width: 100%; height: 75px;" class="form-control space-input" id="WP02002_TXT_ADD_DAMPAK_LINGKUNGAN" placeholder="Identifikasi Potensi DAMPAK"></textarea>
                                </td>
                                <td style="width: 130px; padding:0!important">
                                    <textarea type="text" maxlength="25" style="margin: 0px -51.7969px 0px 0px; width: 100%; height: 75px;" class="form-control space-input" id="WP02002_TXT_ADD_DAMPAK_PENCEGAHAN" placeholder="Tindakan Pencegahan"></textarea>
                                </td>
                                <td style="width: 100px; padding:0!important">
                                    <select style="width:100%" id="WP02002_DDL_ADD_DAMPAK_PIC" class="bg-danger">
                                        @{
                                            if (Pic != null)
                                            {
                                                if (Pic.Count() > 0)
                                                {
                                                    foreach (PicModel item in Pic)
                                                    {
                                                        <option value="@item.ID_TB_M_EMPLOYEE" name="@item.REG_NO,@item.PHONE,@item.SECTION, @item.ANZEN_SERTIFICATE_NO">@item.NAME</option>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="width: 125px; padding:0!important">
                                    @*<select style="width:100%" id="WP02002_DDL_ADD_DAMPAK_KETERANGAN" class="bg-danger">
            <option value="HKTN001">Perubahan Proses</option>
            <option value="HKTN002">Mesin Baru</option>
            <option value="HKTN003">Modifikasi MC</option>
        </select>*@
                                    <textarea type="text" maxlength="150" style="margin: 0px -51.7969px 0px 0px; width: 100%; height: 75px;" class="form-control space-input" id="WP02002_TXT_ADD_DAMPAK_KETERANGAN" placeholder="Henkanten Env"></textarea>
                                </td>
                                <td style="width: 100px">
                                    <button type="button" id="WP02002_BTN_ADD_DAMPAK" onclick="addDataDampak()" class="btn btn-primary btn-xs" style="width: 70px; margin-left:10px;">
                                        <i class="fa fa-save">
                                        </i>
                                    </button>
                                    <button type="button" id="WP02002_BTN_ADD_DAMPAK_CLOSE" class="btn btn-danger btn-xs" style="width: 70px"><i class="fa fa-sign-out"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="WP02002_TBL_EDIT_DAMPAK" style="display: none;">
                            <tr>
                                <td style="width: 200px; padding:0!important">
                                    <select style="width:100%" id="WP02002_DDL_EDIT_DAMPAK_PEKERJAAN" class="bg-danger">
                                    </select>
                                </td>
                                <td style="width: 130px; padding:0!important">
                                    <textarea type="text" maxlength="25" style="margin: 0px -51.7969px 0px 0px; width: 100%; height: 75px;" class="form-control space-input" id="WP02002_TXT_EDIT_DAMPAK_LINGKUNGAN" placeholder="Identifikasi Dampak Lingkungan"></textarea>
                                </td>
                                <td style="width: 130px; padding:0!important">
                                    <textarea type="text" maxlength="25" style="margin: 0px -51.7969px 0px 0px; width: 100%; height: 75px;" class="form-control space-input" id="WP02002_TXT_EDIT_DAMPAK_PENCEGAHAN" placeholder="Tindakan Pencegahan"></textarea>
                                </td>
                                <td style="width: 100px; padding:0!important">
                                    <select style="width:100%" id="WP02002_DDL_EDIT_DAMPAK_PIC" class="bg-danger">
                                        @{
                                            if (Pic != null)
                                            {
                                                if (Pic.Count() > 0)
                                                {
                                                    foreach (PicModel item in Pic)
                                                    {
                                                        <option value="@item.ID_TB_M_EMPLOYEE" name="@item.REG_NO,@item.PHONE,@item.SECTION, @item.ANZEN_SERTIFICATE_NO">@item.NAME</option>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="width: 125px; padding:0!important">
                                    @*<select style="width:100%" id="WP02002_DDL_EDIT_DAMPAK_KETERANGAN" class="bg-danger">
            <option value="HKTN001">Perubahan Proses</option>
            <option value="HKTN002">Mesin Baru</option>
            <option value="HKTN003">Modifikasi MC</option>
        </select>*@
                                    <textarea type="text" maxlength="150" style="margin: 0px -51.7969px 0px 0px; width: 100%; height: 75px;" class="form-control space-input" id="WP02002_TXT_EDIT_DAMPAK_KETERANGAN" placeholder="Henkanten Env"></textarea>
                                </td>
                                <td style="width: 100px">
                                    <button type="button" id="WP02002_BTN_EDIT_DAMPAK" class="btn btn-primary btn-xs" style="width: 70px; margin-left:10px;">
                                        <i class="fa fa-save">
                                        </i>
                                    </button>
                                    <button type="button" id="WP02002_BTN_EDIT_DAMPAK_CLOSE" class="btn btn-danger btn-xs" style="width: 70px"><i class="fa fa-sign-out"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="WP02002_TBL_LIST_DAMPAK">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>