﻿@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.WP02002Master;
@{
    List<PengawasModel> Pengawas = (List<PengawasModel>)ViewData["Pengawas"];
}
    <div class="row">
        <div class="col-lg-6">
            <label class="section-title">
                <u>E. Pengawasan Oleh PT. Toyota Motor Manufacturing Indonesia</u>
            </label>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-xs pull-right" id="WP02002_BTN_ADD_SHOW_PENGAWASAN" style="width: 80px;"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row space-bottom">
            <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
                <div style="border: 1px solid #ccc; overflow:scroll; position: relative;">
                    <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
                    <div id="tScrollHead" style="width: 100%; border-right:1px solid #fff">
                        <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">User / Safety Officer Divisi</th>
                                    <th style="width: 125px;">No Reg</th>
                                    <th style="width: 125px;">No Handphone</th>
                                    <th style="width: 125px;">Departement/Seksi</th>
                                    <th style="width: 125px;">No Anzen Leader</th>
                                    <th style="width: 100px;">Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <!--data grid-->
                    <div id="tScrollBody" style="height: 255px;">
                        <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="min-width: 100%; table-layout: fixed; border: none">
                            <tbody id="WP02002_TBL_ADD_PENGAWASAN" style="display: none;">
                                <tr>
                                    <td style="width: 150px; padding:0!important">
                                        <select style="width:100%" id="WP02002_DDL_ADD_USER" class="bg-danger">
                                            @{
                                                if (Pengawas != null)
                                                {
                                                    if (Pengawas.Count() > 0)
                                                    {
                                                        foreach (PengawasModel item in Pengawas)
                                                        {
                                                            <option value="@item.ID_TB_M_EMPLOYEE" name="@item.REG_NO,@item.PHONE,@item.SECTION, @item.ANZEN_SERTIFICATE_NO" >@item.NAME</option>
                                                        }
                                                    }
                                                }
                                            }
                                       
                                        </select>
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_ADD_NOREG">
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_ADD_NOHANDPHONE">
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_ADD_NODEPT">
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_ADD_NOANZEN">
                                    </td>
                                    <td style="width: 100px">
                                        <button type="button" id="WP02002_BTN_ADD_PENGAWASAN" onclick="addDataPengawasan()" class="btn btn-primary btn-xs" style="width: 70px; margin-left:10px;">
                                            <i class="fa fa-save">
                                            </i>
                                        </button>
                                        <button type="button" id="WP02002_BTN_ADD_PENGAWASAN_CLOSE" class="btn btn-danger btn-xs" style="width: 70px"><i class="fa fa-sign-out"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody id="WP02002_TBL_EDIT_PENGAWASAN" style="display: none;">
                                <tr>
                                    <td style="width: 150px; padding:0!important">
                                        <select style="width:100%" id="WP02002_DDL_EDIT_USER" class="bg-danger">
                                            @{
                                                if (Pengawas != null)
                                                {
                                                    if (Pengawas.Count() > 0)
                                                    {
                                                        foreach (PengawasModel item in Pengawas)
                                                        {
                                                            <option value="@item.ID_TB_M_EMPLOYEE" name="@item.REG_NO,@item.PHONE,@item.SECTION, @item.ANZEN_SERTIFICATE_NO">@item.NAME</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_EDIT_NOREG">
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_EDIT_NOHANDPHONE">
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_EDIT_NODEPT">
                                    </td>
                                    <td style="width: 125px; padding:0!important">
                                        <input type="text" disabled class="form-control space-input" id="WP02002_TXT_EDIT_NOANZEN">
                                    </td>
                                    <td style="width: 100px">
                                        <button type="button" id="WP02002_BTN_EDIT_PENGAWASAN" class="btn btn-primary btn-xs" style="width: 70px; margin-left:10px;">
                                            <i class="fa fa-save">
                                            </i>
                                        </button>
                                        <button type="button" id="WP02002_BTN_EDIT_PENGAWASAN_CLOSE" class="btn btn-danger btn-xs" style="width: 70px"><i class="fa fa-sign-out"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody id="WP02002_TBL_LIST_PENGAWASAN">
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>