﻿
<script>
    var SITE_URL = window.location.href+"/";

    $(document).ready(function () {
        $('#btn_Delete').prop('disabled', true);
        $('#btn_edit').prop('disabled', true);
        $('#btn_clear').prop('disabled', true);
        $('#inputForm').hide();

        $('#searchStatus').on('change', function () {
            if (this.value == 'Other') {
                $('#otherStatus').show();
            } else {
                $('#otherStatus').hide();
            }
        });
    });

    $('#searchStatus').on('click', function () {

    });

    // tombol Add Confirm
    function addDataConfirm() {
        $('#PopupForm_AddNewConfirm').modal();
    }

    // auto fill location
    function getDataLocation() {
        $.ajax({
        url: SITE_URL + 'getLocation',
        dataType: "JSON",
        data: {
            PROJECT_CODE : $('#addProjectCode').val()
        },
        success: function (e) {
            $('#addLocation').val(e.data[0].AREA_CD);
        },
        error: function (e) {
            console.log(e);
        }
    });
    }

    // auto fill location
    function getEditDataLocation() {
        $.ajax({
        url: SITE_URL + 'getLocation',
        dataType: "JSON",
        data: {
            PROJECT_CODE : $('#editProjectCode').val()
        },
        success: function (e) {
            $('#editLocation').val(e.data[0].Location);
        },
        error: function (e) {
            console.log(e);
        }
    });
    }

    //tombol Add New
    function addNew() {
        var projectCode = $('#addProjectCode').val();
        var jobs = $('#addJobs').val();
        var dangerLevel = $('.dangerLevel:checked').val();
        var date = $('#addDate').val();
        var CATA = $('#addCatA:checked').val();
        var CATB = $('#addCatB:checked').val();
        var CATC = $('#addCatC:checked').val();
        var CATD = $('#addCatD:checked').val();
        var CATE = $('#addCatE:checked').val();
        var CATF = $('#addCatF:checked').val();
        var remarks = $('#addRemarks').val();
        var sts = true;
        
        if (projectCode == null || projectCode == "") {
            toastr.warning("PROJECT CODE Cannot Be Empty");
            sts = false;
        }

        if (jobs == null || jobs == "") {
            toastr.warning("JOBS Cannot Be Empty");
            sts = false;
        }

        if (dangerLevel == null || dangerLevel == "") {
            toastr.warning("DANGER LEVEL Must Checked 1");
            sts = false;
        }

        if (date == null || date == "") {
            toastr.warning("DATE Cannot Be Empty");
            sts = false;
        }

        if (CATA == null && CATB == null && CATC == null && CATD == null && CATE == null && CATF == null) {
            toastr.warning("CATEGORY Cannot Be Empty");
            sts = false;
        }

        if (remarks == null || remarks == "") {
            toastr.warning("REMARKS Cannot Be Empty");
            sts = false;
        }

        if (sts == false) {
            return;
        }

        $.ajax({
            type: "POST",
            url: SITE_URL + 'ADD_NEW',
            async: false,
            data: {
                PROJECT_CODE: projectCode,
                JOBS: jobs,
                DANGERLEVEL: dangerLevel,
                DATE: date,
                CATA: CATA,
                CATB: CATB,
                CATC: CATC,
                CATD: CATD,
                CATE: CATE,
                CATF: CATF,
                REMARKS: remarks
            },
            success: function (res) {
                if (res.sts == "TRUE") {
                    toastr.success("Data Has Been Save Successfuly");
                    searchData();
                    $('#btncloselookup').click();
                } else {
                    toastr.warning(res.Exec[0].LINE_STS);
                }
            },
            error: function (res) {
                toastr.error(res.Message);
            }
        });
    }

    //tombol Edit

    $('#btn_edit').on('click', function () {
        var ID = $('#EditID');
        var project_code = $('#editProjectCode');
        var jobs = $('#editJobs');
        var low = $('#editLow');
        var medium = $('#editMedium');
        var high = $('#editHigh');
        var date = $('#editDate');
        var catA = $('#editCatA');
        var catB = $('#editCatB');
        var catC = $('#editCatC');
        var catD = $('#editCatD');
        var catE = $('#editCatE');
        var catF = $('#editCatF');
        var remarks = $('#editRemarks');
        var Var = "";
        var Send_Var = "";
        var Send_Var = "";

        $("input[name='checkdata[]']").each(function () {
            if ($(this).is(':checked')) {
                Var = "";
                Var = Var + $(this).val();
                Send_Var = Var.split(',');
            }
        });
        ID.val(Send_Var[0]);
        project_code.append('<option>'+Send_Var[1]+'</option>');
        project_code.val(Send_Var[1]);
        jobs.val(Send_Var[2]);

        if (Send_Var[3] == 1) {
            $('.editDangerLevel').prop('checked', false);
            $(low).prop('checked', true);
        } else if (Send_Var[4] == 1) {
            $('.editDangerLevel').prop('checked', false);
            $(medium).prop('checked', true);
        } else {
            $('.editDangerLevel').prop('checked', false);
            $(high).prop('checked', true);
        }

        date.val(Send_Var[6]);
        if (Send_Var[7] == 1) {
            catA.prop('checked', true);
        } else if (Send_Var[8] == 1) {
            catB.prop('checked', true);
        } else if (Send_Var[9] == 1) {
            catC.prop('checked', true);
        } else if (Send_Var[10] == 1) {
            catD.prop('checked', true);
        } else if (Send_Var[11] == 1) {
            catE.prop('checked', true);
        } else if (Send_Var[12] == 1) {
            catF.prop('checked', true);
        }
        
        remarks.val(Send_Var[13]);

        $('#edit_data').show();
        $('.row-' + Send_Var[0]).hide();

    });

    function cancel_edit() {
        var ID = $('#EditID').val();
        $('#edit_data').hide();
        $('.row-' + ID).show();
    }

    //EditDataConfirm
    function EditDataConfirm() {
        $('#PopupForm_EditConfirm').modal();
    }

    function updateData() {
        $("input[name='checkdata[]']").each(function () {
            if ($(this).is(':checked')) {
                var ID = $('#EditID').val();
                var project_code = $('#editProjectCode').val();
                var jobs = $('#editJobs').val();
                var low = $('#editLow').val();
                var medium = $('#editMedium').val();
                var high = $('#editHigh').val();
                var date = $('#editDate').val();
                var CATA = $('#editCatA:checked').val();
                var CATB = $('#editCatB:checked').val();
                var CATC = $('#editCatC:checked').val();
                var CATD = $('#editCatD:checked').val();
                var CATE = $('#editCatE:checked').val();
                var CATF = $('#editCatF:checked').val();
                
                if (CATA != 1) {
                    CATA = 0;
                }

                if (CATB != 1) {
                    CATB = 0;
                }

                if (CATC != 1) {
                    CATC = 0;
                }

                if (CATD != 1) {
                    CATD = 0;
                }

                if (CATE != 1) {
                    CATE = 0;
                }

                if (CATF != 1) {
                    CATF = 0;
                }
                var dangerLevel = $('.editDangerLevel:checked').val();
                var remarks = $('#editRemarks').val();
                var Send_Var = ID + "," + project_code + "," + jobs + "," + low + "," + medium + "," + high + "," + date + "," + CATA+ "," + CATB+ "," + CATC+ "," + CATD+ "," + CATE+ "," + CATF + "," + remarks;

                var sts = true;
        
                if (project_code == null || project_code == "") {
                    toastr.warning("PROJECT CODE Cannot Be Empty");
                    sts = false;
                }

                if (jobs == null || jobs == "") {
                    toastr.warning("JOBS Cannot Be Empty");
                    sts = false;
                }

                if (dangerLevel == null || dangerLevel == "") {
                    toastr.warning("DANGER LEVEL Must Checked 1");
                    sts = false;
                }

                if (date == null || date == "") {
                    toastr.warning("DATE Cannot Be Empty");
                    sts = false;
                }

                if (CATA == null && CATB == null && CATC == null && CATD == null && CATE == null && CATF == null) {
                    toastr.warning("CATEGORY Cannot Be Empty");
                    sts = false;
                }

                if (remarks == null || remarks == "") {
                    toastr.warning("REMARKS Cannot Be Empty");
                    sts = false;
                }

                if (sts == false) {
                    return;
                }

                 $.ajax({
                    type: "POST",
                    url: 'WP02002/Update_Data',
                    async: false,
                    data: {
                        DATA: Send_Var
                    },
                     success: function (data) {
                        if (data.sts == "TRUE") {
                            toastr.success(data.message);
                        }
                        else {
                            toastr.warning(data.message);
                        }
                        $("#PopupForm_EditConfirm").modal('hide');
                    
                        OnSearch(1);
                        //xxx
                    }
                });
            }
        });

    }

    //tombol Delete
    $("#btn_Delete").on("click", function () {
        $('#Confirmation_Delete_Popup').modal();
    });

    function delete_data() {
        var chk = $("input[name='checkdata[]']:checked").length;
        //alert('hai >> ' + chk);

        if (chk == 0) {
            toastr.warning('Select One or More record to Delete');
            //toastr.warning('Select One or More record to delete.');
        }
        else {
            var Var = "";
            var Send_Var = "";
            $("input[name='checkdata[]']").each(function () {
                if ($(this).is(':checked')) {
                    Var = "";
                    Var = Var + $(this).val();
                    if (Var != '') {
                        Send_Var = Send_Var + Var.split(',')[0] + ",";
                    } else {
                        Send_Var = Send_Var + "," + Var.split(',')[0] ;
                    }
                    
                }
            });
            console.log(Send_Var);

            $.ajax({
                type: "POST",
                url: 'WP02002/Delete_Data',
                async: false,
                data: {
                    DATA: Send_Var
                },
                success: function (data) {
                    if (data.sts == "TRUE") {
                        toastr.success(data.message);
                    }
                    else {
                        toastr.warning(data.message);
                    }
                    $("#Confirmation_Delete_Popup").modal('hide');
                    
                    OnSearch(1);
                    //xxx
                }
            });
        }
    }

    //tombol clear
    function clear_search() {
        $('#searchProjectCode').val("");
        $.ajax({
            type: "POST",
            url: SITE_URL + 'Search_Data',
            async: false,
            data: {
                start: 1,
                display: 10,
                DATA_ID: $("#data_nm").val(),
                EXECUTION_TIME: $("#exec_time_cd").val(),
                TIME_UNIT_CRITERIA: $("#time_unit_cd").val(),
                STATUS_ACTIVE: $("#sts_cd").val(),
                PROJECT_CODE: "xxxxxxxxx",
            },
            success: function (data) {
                $("#GridTable").html(data);
                $("#paging").val(Last_Record_Per_Page);
                if ($('#cntPage').val() == "1") {
                    $('#btn_clear').prop('disabled', false);
                    $('#btn_edit').prop('disabled', true);
                    $('#btn_Delete').prop('disabled', true);
                } else {
                    $('#btn_clear').prop('disabled', false);
                    $('#btn_edit').prop('disabled', true);
                    $('#btn_Delete').prop('disabled', true);
                }
                
                scroll_and_checkbox();
                cek_perdata();    
            }
        });
    }

    // tombol search
    $("#btn_search").on("click", function () {
        OnSearch(1);
    });

    // tombol new
    $("#btn_new").on("click", function ()
    {
        $('#NoDataFound').closest('tr').remove();
        $('#addProjectCode').val('');
        $('#addProjectName').val('');
        $('#addLocation').val('');
        $('#addDate').val('');
        $('#addDivision').val('');
        $('#addExecutor').val('');
        $('#addContractorName').val('');
        $('#addLeaderName').val('');
        $('#addSupervisorName').val('');
        $('.dangerLevel').prop('checked', false);
        $('.CategoryCheck').prop('checked', false);
        document.getElementById("tambah_data").style.display = "";
        $("#btncloselookup").on("click", function () {
            $('#tambah_data').hide();
        });
    });

    function CheckDanger(checked) {
        $('.dangerLevel').prop('checked', false);
        $(checked).prop('checked', true);
    }

    function editCheckDanger(checked) {
        $('.editDangerLevel').prop('checked', false);
        $(checked).prop('checked', true);
    }

    // tombol pencarian data
    function OnSearch(page)
    {   
        searchData(page, $('#paging').val());
        $('#btn_download').prop('disabled', false);
        $('#btn_clear').prop('disabled', false);
    }

    // proses pencarian data
    function searchData(page, size) {
        

        Last_Record_Per_Page = $("#paging").val();
        $.ajax({
            type: "POST",
            url: SITE_URL + 'Search_Data',
            async: false,
            data: {
                start: page,
                display: size,
                DATA_ID: $("#data_nm").val(),
                EXECUTION_TIME: $("#exec_time_cd").val(),
                TIME_UNIT_CRITERIA: $("#time_unit_cd").val(),
                STATUS_ACTIVE: $("#sts_cd").val(),
                PROJECT_CODE: $('#searchProjectCode').val()
            },
            success: function (data) {
                $("#GridTable").html(data);
                $("#paging").val(Last_Record_Per_Page);
                if ($('#cntPage').val() == "1") {
                    $('#btn_clear').prop('disabled', false);
                } else {
                    $('#btn_clear').prop('disabled', false);
                }
                
                scroll_and_checkbox();
                cek_perdata();    
            }
        });
    }

    // ceklist per data
    function cek_perdata()
    {
        $("input[name='checkdata[]']").on("click", function () {
            if ($(this).is(':checked')) {
                $('#btn_Delete').prop('disabled', false);
                total_check = $('.grid-checkbox:checkbox:checked').length;
                if (total_check == 1) {
                    $('#btn_edit').prop('disabled', false);
                }

                Var = "";

                $("input[name='checkdata[]']").each(function () {
                    if ($(this).is(':checked')) {
                        Var = Var + $(this).val();
                    }
                });
                
                
                //// time unit
                //var time_unit_val = Var.split(',')[6].replace(/^\s+|\s+$/g, '');
                //$('#' + time_unit_val).prop('disabled', true);
                
                //// time value 
                //var time_value_val = Var.split(',')[7].replace(/^\s+|\s+$/g, '');
                //$('#' + time_value_val).prop('disabled', true);
                //$('#' + time_value_val).attr('placeholder', Var.split(',')[2].replace(/^\s+|\s+$/g, ''));

                //// exec time
                //var exec_time_val = Var.split(',')[8].replace(/^\s+|\s+$/g, '');
                //$('#' + exec_time_val).prop('disabled', true);

                //// status
                //var status_val = Var.split(',')[9].replace(/^\s+|\s+$/g, '');
                //$('#' + status_val).prop('disabled', true);
                                

                // tombol save edit
                //var save_edit = Var.split(',')[11].replace(/^\s+|\s+$/g, '');

                //// tombol cancel edit
                //var cancel_edit = Var.split(',')[12].replace(/^\s+|\s+$/g, '');

            }
            else {
                $('#btn_Delete').prop('disabled', true);
                $('#btn_edit').prop('disabled', true);

                $("input[name='time_unit_data[]']").prop('disabled', true);
                $("input[name='time_value_data[]']").prop('disabled', true);
                $("input[name='exec_time_data[]']").prop('disabled', true);
                $("input[name='status_data[]']").prop('disabled', true);

                $("button[name='btnConfirmEditData[]']").prop('disabled', true);
                $("button[name='btncloselookup[]']").prop('disabled', true);
            }
        });
    }

    // ceklist all data dan scroll
    function scroll_and_checkbox() {
        $("#tScrollBody").scroll(function () {
            $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
        });


        $("#checkall").click(function () {
            if ($("#checkall").is(":checked"))
            {
                $(".grid-checkbox").prop('checked', true);
                $('#btn_Delete').prop('disabled', false);
                $('#btn_edit').prop('disabled', true);
            }
            else
            {
                $(".grid-checkbox").prop('checked', false);
                $('#btn_Delete').prop('disabled', true);
                $('#btn_edit').prop('disabled', true);
            }
        });
    }

    function EditDataDetail(element) {

        var data = element.dataset.title;
        var Obj = JSON.parse($('#rowData-' + data).val());
        console.log($('#rowData-' + data).val());
        $('#inputForm').show();
        $('#formData').hide();
        $('#formPage').hide();
        $('#formSearch').hide();
        $('#GridProject').hide();
        $('#SearchCriteriaForm').hide();

        if (Obj.WORKING_STATUS == "True") {
            radiobtn = document.getElementById("WP02002_CHK_ADD_STNEW");
            radiobtn.checked = true;
        }
        else {
            radiobtns = document.getElementById("WP02002_CHK_ADD_STEXTEND");
            radiobtns.checked = true;
        }
        var date = new Date();
        $('#WP02002_TXT_ADD_PROJECTCODE').val(Obj.PROJECT_CODE).trigger("change");
        $('#WP02002_TXT_ADD_PROJECTNAME').val(Obj.PROJECT_NAME).trigger("change");
        $('#WP02002_DDL_ADD_AREA').val(Obj.ID_TB_M_AREA).trigger("change");
        $('#WP02002_DDL_ADD_LOC').val(Obj.ID_TB_M_LOCATION).trigger("change");
        $('#WP02002_DDL_ADD_DIV').val(Obj.DEP_OR_DIV_CODE).trigger("change");
        $('#WP02002_DT_ADD_PELAKSANAAN').val(MappingDateStringToInputDate(Obj.IMPLEMENT_DATE_FROM));
        $('#WP02002_DT_TO_ADD_PELAKSANAAN').val(MappingDateStringToInputDate(Obj.IMPLEMENT_DATE_TO));
        $('#WP02002_TXT_ADD_NOTED').val(Obj.WORKING_NOTES).trigger("change");
        $('#WP_PROJECT_ID').val(Obj.ID).trigger("change");

        if (Obj.PROJECT_STATUS == "SUBMITED") {
            $('.actionbtn').attr("disabled", "disabled");
            $('.input-project').attr("disabled", "disabled");
        }
        else {
            $('.actionbtn').removeAttr("disabled");
            $('.input-project').removeAttr("disabled");
        }

        if (Obj.JOB_STATUS == "SUBMITED") {
            $('.submitbtn').hide();
        }
        else {
            $('.submitbtn').show();
        }

    }

    function MappingDateStringToInputDate(strDate) {
        var arrDate = strDate.toString().substring(0, 10).split('/');
        var NewStr = arrDate[2].toString().substring(0, 4).trim() + "-" + (parseInt(arrDate[0].toString()) > 9 ? arrDate[0] : ("0" + arrDate[0])) + "-" + (parseInt(arrDate[1].toString()) > 9 ? arrDate[1] : ("0" + arrDate[1]));

        return NewStr;
    }

    function confirmAdd() {
        var value_id = $('#add_ID').val();

        switch (value_id) {
            case 'pekerjaan':
                confirmAddPekerjaan();
                break;
            case 'bahaya':
                confirmAddBahaya();
                break;
            case 'dampak':
                confirmAddDampak();
                break;
            case 'pengawasan':
                confirmAddPengawasan();
                break;
            case 'jobproyek':
                confirmAddJobProyek();
                break;
        }
    }

    function confirmEdit() {
        var value_id = $('#edit_ID').val();

        switch (value_id) {
            case 'pekerjaan':
                confirmEditPekerjaan();
                break;
            case 'bahaya':
                confirmEditBahaya();
                break;
            case 'dampak':
                confirmEditDampak();
                break;
            case 'pengawasan':
                confirmEditPengawasan();
                break;
            case 'jobproyek':
                confirmEditJobProyek();
                break;
        }
    }

    function confirmDelete() {
        var value_id = $('#delete_ID').val();

        switch (value_id) {
            case 'pekerjaan':
                confirmDeletePekerjaan();
                break;
            case 'bahaya':
                confirmDeleteBahaya();
                break;
            case 'dampak':
                confirmDeleteDampak();
                break;
            case 'pengawasan':
                confirmDeletePengawasan();
                break;
            case 'jobproyek':
                confirmDeleteJobProyek();
                break;
        }
    }

    function cancelAdd() {
        $('#inputForm').hide();
        $('#formData').show();
        $('#formPage').show();
        $('#formSearch').show();
        $('#GridProject').show();
        $('#SearchCriteriaForm').show();
    }

    //<----------------------------------------------START B. PELAKSANA PROYEK------------------------------------------->

    $('#WP02002_DT_ADD_PELAKSANAAN').on("blur", function () {
        var valueOfDate = $(this).val().split('-');
        const _date = new Date(valueOfDate[0], parseInt(valueOfDate[1]) - 1, valueOfDate[2]);
        _date.setDate(_date.getDate() + 7);
        var day = 1;
        for (var d = new Date(valueOfDate[0], parseInt(valueOfDate[1]) - 1, valueOfDate[2]); d < _date; d.setDate(d.getDate() + 1)) {
            console.log(d);
            $('#WP02002_TH_ADD_D' + day).text(d.getDate());
            day++;
        }


    })


    $('input[type=radio][name=pelaksana]').change(function () {
        $('#WP02002_DDL_ADD_BAGIAN').removeAttr('disabled');
        $('#WP02002_DDL_ADD_BAGIAN').val('');
        $("#WP02002_DDL_ADD_BAGIAN option").hide();

        $('#WP02002_DDL_ADD_NAMALEAD').val('');
        $('#WP02002_DDL_ADD_NAMAPGWS').val('');
        $('#WP02002_DDL_ADD_NAMALEAD').attr('disabled', 'disabled');
        $('#WP02002_DDL_ADD_NAMAPGWS').attr('disabled', 'disabled');

        $('#WP02002_TXT_ADD_NOALPGWS').val('');
        $('#WP02002_TXT_ADD_NOHPPGWS').val('');

        $('#WP02002_TXT_ADD_NOALLEAD').val('');
        $('#WP02002_TXT_ADD_NOHPLEAD').val('');

        if (this.value == 'TMMI') {
            $("#WP02002_DDL_ADD_BAGIAN option[code=TMMI]").show();
        }
        else {
            $("#WP02002_DDL_ADD_BAGIAN option:not([code=TMMI])").show();
        }
    });

    $("#WP02002_DDL_ADD_BAGIAN").on("change", function () {
        $('#WP02002_DDL_ADD_NAMALEAD').attr('disabled', 'disabled');
        $('#WP02002_DDL_ADD_NAMALEAD').val('');

        $('#WP02002_DDL_ADD_NAMAPGWS').attr('disabled', 'disabled');
        $('#WP02002_DDL_ADD_NAMAPGWS').val('');

        $('#WP02002_TXT_ADD_NOALLEAD').val('');
        $('#WP02002_TXT_ADD_NOHPLEAD').val('');

        $('#WP02002_TXT_ADD_NOALPGWS').val('');
        $('#WP02002_TXT_ADD_NOHPPGWS').val('');

        var value = $('#WP02002_DDL_ADD_BAGIAN option:selected').val();
        if (value != '') {
            $('#WP02002_DDL_ADD_NAMALEAD').removeAttr('disabled');
            $("#WP02002_DDL_ADD_NAMALEAD option").hide();
            var code = value + ',' + "PIMPINAN"
            console.log(code);
            $("#WP02002_DDL_ADD_NAMALEAD option[code='" + code + "']").show();

            $('#WP02002_DDL_ADD_NAMAPGWS').removeAttr('disabled');
            $("#WP02002_DDL_ADD_NAMAPGWS option").hide();
            var code = value + ',' + "PENGAWAS"

            $("#WP02002_DDL_ADD_NAMAPGWS option[code='" + code + "']").show();
        }
    });


    $('#WP02002_DDL_ADD_NAMALEAD').change(function () {
        $('#WP02002_TXT_ADD_NOALLEAD').val($('#WP02002_DDL_ADD_NAMALEAD option:selected').attr('noanzen'));
        $('#WP02002_TXT_ADD_NOHPLEAD').val($('#WP02002_DDL_ADD_NAMALEAD option:selected').attr('phone'));
    });

    $('#WP02002_DDL_ADD_NAMAPGWS').change(function () {
        $('#WP02002_TXT_ADD_NOALPGWS').val($('#WP02002_DDL_ADD_NAMAPGWS option:selected').attr('noanzen'));
        $('#WP02002_TXT_ADD_NOHPPGWS').val($('#WP02002_DDL_ADD_NAMAPGWS option:selected').attr('phone'));
    });

    //<----------------------------------------------END B. PELAKSANA PROYEK--------------------------------------------->

    //<----------------------------------------------START C. PEKERJAAN REGION------------------------------------------->
    function selectOnlyThis(id) {

        document.getElementById("WP02002_CHK_EDIT_TKTINGGI").checked = false;
        document.getElementById("WP02002_CHK_EDIT_TKSEDANG").checked = false;
        document.getElementById("WP02002_CHK_EDIT_TKRENDAH").checked = false;

        document.getElementById("WP02002_CHK_ADD_TKTINGGI").checked = false;
        document.getElementById("WP02002_CHK_ADD_TKSEDANG").checked = false;
        document.getElementById("WP02002_CHK_ADD_TKRENDAH").checked = false;

        document.getElementById(id).checked = true;
    }

    function refreshClass() {
        $('.tk-bahaya').removeAttr('checked');
        $('.tk-bahaya').removeAttr('disabled');

        $('.day-class').removeAttr('checked');
        $('.day-class').removeAttr('disabled');

        $('.stop6-class').removeAttr('checked');
        $('.stop6-class').removeAttr('disabled');
    }

    function addDataPekerjaan() {
        $('#add_ID').val('pekerjaan');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataPekerjaan() {
        $('#edit_ID').val('pekerjaan');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataPekerjaan(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('pekerjaan');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02002_BTN_ADD_SHOW_PEKERJAAN").on("click", function () {
        $('#NoDataFound').closest('tr').remove();
        $('#WP02002_DDL_ADD_PEKERJAAN').val('');

        refreshClass();

        document.getElementById("WP02002_TBL_ADD_PEKERJAAN").style.display = "";

        $("#WP02002_BTN_ADD_PEKERJAANCLOSE").on("click", function () {

            $('#WP02002_TBL_ADD_PEKERJAAN').hide();
        });
    });

    function confirmDeletePekerjaan() {
        _row.remove();
        $('#WP02002_DDL_ADD_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_EDIT_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');

        if ($("#WP02002_TBL_LIST_PEKERJAAN > tr").length < 1) {
            $('#WP02002_BTN_ADD_SHOW_BAHAYA').attr('disabled', 'disabled');
            $('#WP02002_BTN_ADD_SHOW_DAMPAK').attr('disabled', 'disabled');
        }
    }

    function confirmAddPekerjaan() {
        var _tk_bahaya = $('.tk-bahaya');
        var _day_class = $('.day-class:checked');
        var _stop6_class = $('.stop6-class:checked');

        var _arr_tk_bahaya = $('.tk-bahaya');
        var _arr_day_class = $('.day-class');
        var _arr_stop6_class = $('.stop6-class');

        var _arr_new_tk_bahaya = [];
        var _arr_new_day_class = [];
        var _arr_new_stop6_class = [];

        for (var i = 0; _arr_tk_bahaya[i]; ++i) {
            if (_arr_tk_bahaya[i].checked) $(_arr_tk_bahaya[i]).attr('checked', 'checked');
            $(_arr_tk_bahaya[i]).attr('disabled', 'disabled');
            $(_arr_tk_bahaya[i]).removeClass('tk-bahaya');
            var data = $('<div>').append($(_arr_tk_bahaya[i]).clone()).html();
            _arr_new_tk_bahaya.push(data);
            $(_arr_tk_bahaya[i]).addClass('tk-bahaya');
        }

        for (var i = 0; _arr_day_class[i]; ++i) {
            if (_arr_day_class[i].checked) $(_arr_day_class[i]).attr('checked', 'checked');
            $(_arr_day_class[i]).attr('disabled', 'disabled');
            $(_arr_day_class[i]).removeClass('day-class');
            var data = $('<div>').append($(_arr_day_class[i]).clone()).html();
            _arr_new_day_class.push(data);
            $(_arr_day_class[i]).addClass('day-class');

        }

        for (var i = 0; _arr_stop6_class[i]; ++i) {
            if (_arr_stop6_class[i].checked) $(_arr_stop6_class[i]).attr('checked', 'checked');
            $(_arr_stop6_class[i]).attr('disabled', 'disabled');
            $(_arr_stop6_class[i]).removeClass('stop6-class');
            var data = $('<div>').append($(_arr_stop6_class[i]).clone()).html();
            _arr_new_stop6_class.push(data);
            $(_arr_stop6_class[i]).addClass('stop6-class');
        }

        if ($('#WP02002_DDL_ADD_PEKERJAAN').val() == null || $('#WP02002_DDL_ADD_PEKERJAAN').val() == '') {
            toastr.warning('Pekerjaan Cannot Be Empty');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');

            return;
        }

        if (_tk_bahaya.length < 1) {
            toastr.warning('Tingkat Bahaya must Be checked');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');
            return;
        }

        if (_day_class.length < 1) {
            toastr.warning('Tanggal must Be checked, Minimal 1');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');
            return;
        }

        if (_stop6_class.length < 1) {
            toastr.warning('Stop 6 Category must Be checked, Minimal 1');
            $('.tk-bahaya').removeAttr('disabled');
            $('.day-class').removeAttr('disabled');
            $('.stop6-class').removeAttr('disabled');
            return;
        }

        tableBuilder(_arr_new_tk_bahaya, _arr_new_day_class, _arr_new_stop6_class);

        $('#WP02002_BTN_ADD_SHOW_BAHAYA').removeAttr('disabled');
        $('#WP02002_BTN_ADD_SHOW_DAMPAK').removeAttr('disabled');

        $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').append('<option value="' + $('#WP02002_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02002_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');
        $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').append('<option value="' + $('#WP02002_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02002_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');

        $('#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN').append('<option value="' + $('#WP02002_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02002_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');
        $('#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN').append('<option value="' + $('#WP02002_DDL_ADD_PEKERJAAN').val() + '" selected="selected">' + $("#WP02002_DDL_ADD_PEKERJAAN option:selected").text() + '</option>');

        var value = $('#WP02002_DDL_ADD_PEKERJAAN').val();
        $("#WP02002_DDL_ADD_PEKERJAAN option[value='" + value + "']").remove();
        $("#WP02002_DDL_EDIT_PEKERJAAN option[value='" + value + "']").remove();

    }

    function tableBuilder(_arr_tk_bahaya, _arr_day_class, _arr_stop6_class) {
        var html = '<tr>';
        html += '<td style="width: 200px; padding:0!important" name="' + $('#WP02002_DDL_ADD_PEKERJAAN').val() + '" >' + $("#WP02002_DDL_ADD_PEKERJAAN option:selected").text() + '</td>';
        for (var i = 0; _arr_tk_bahaya[i]; ++i) {
            html += '<td style="width: 40px; padding:0!important">' + _arr_tk_bahaya[i] + '</td>';
        }
        for (var i = 0; _arr_day_class[i]; ++i) {
            html += '<td style="width: 20px; padding:0!important">' + _arr_day_class[i] + '</td>';
        }
        for (var i = 0; _arr_stop6_class[i]; ++i) {
            html += '<td style="width: 20px; padding:0!important">' + _arr_stop6_class[i] + '</td>';
        }
        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 70px; margin-left:10px;" onclick="actionEditPekerjaan(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 70px; margin-left:3px;" onclick="deleteDataPekerjaan(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02002_TBL_LIST_PEKERJAAN').append(html);
        $('#WP02002_TBL_ADD_PEKERJAAN').hide();
    }

    function actionEditPekerjaan(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();

        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02002_DDL_EDIT_PEKERJAAN').append('<option value="' + $(row).find('td:first-child').attr('name') + '" selected="selected">' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02002_DDL_EDIT_PEKERJAAN').val($(value).attr("name"));

            }
            else {
                $('input[name="edit_' + index + '"]').prop('checked', false);
                if ($($(value).children()).is(':checked'))
                    $('input[name="edit_' + index + '"]').prop('checked', true);
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02002_BTN_ADD_SHOW_PEKERJAAN').attr('disabled', 'disabled');

        $('#WP02002_TBL_EDIT_PEKERJAAN').show();
        $("#WP02002_BTN_EDIT_PEKERJAANCLOSE").on("click", function () {
            $(row).show();
            $('#WP02002_TBL_EDIT_PEKERJAAN').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02002_BTN_ADD_SHOW_PEKERJAAN').removeAttr('disabled');
            $("#WP02002_DDL_EDIT_PEKERJAAN option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
        });

        $('#WP02002_BTN_EDIT_PEKERJAAN').on("click", function () {
            editDataPekerjaan();
        })
    }

    function confirmEditPekerjaan() {
        $('#WP02002_DDL_ADD_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');

        $.each(_row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $(value).text($("#WP02002_DDL_EDIT_PEKERJAAN option:selected").text());
                $(value).attr('name', $("#WP02002_DDL_EDIT_PEKERJAAN").val());
                $("#WP02002_DDL_ADD_PEKERJAAN option[value='" + $("#WP02002_DDL_EDIT_PEKERJAAN").val() + "']").remove();
                $("#WP02002_DDL_EDIT_PEKERJAAN option[value='" + $("#WP02002_DDL_EDIT_PEKERJAAN").val() + "']").remove();
            }
            else {
                $($(value).children()).prop('checked', false);
                if ($('input[name="edit_' + index + '"]').is(':checked')) {
                    $($(value).children()).prop('checked', true);
                }
            }
        });

        $(_row).show();
        $('#WP02002_TBL_EDIT_PEKERJAAN').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02002_BTN_ADD_SHOW_PEKERJAAN').removeAttr('disabled');
    }

    //<----------------------------------------------END   C. PEKERJAAN REGION------------------------------------------->


    //<----------------------------------------------START D. BAHAYA REGION------------------------------------------->
    function addDataBahaya() {
        $('#add_ID').val('bahaya');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataBahaya() {
        $('#edit_ID').val('bahaya');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataBahaya(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('bahaya');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02002_BTN_ADD_SHOW_BAHAYA").on("click", function () {
        $('#NoDataFound').closest('tr').remove();
        $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').val('');

        document.getElementById("WP02002_TBL_ADD_BAHAYA").style.display = "";

        $("#WP02002_BTN_ADD_BAHAYA_CLOSE").on("click", function () {
            $('#WP02002_TBL_ADD_BAHAYA').hide();
        });
    });

    function confirmDeleteBahaya() {


        $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_ADD_BAHAYA_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02002_DDL_ADD_BAHAYA_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        $('#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_EDIT_BAHAYA_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02002_DDL_EDIT_BAHAYA_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        _row.remove();
    }

    function confirmAddBahaya() {

        if ($('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').val() == null || $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').val() == '') {
            toastr.warning('Pekerjaan Cannot Be Empty');
            return;
        }

        if ($('#WP02002_TXT_ADD_BAHAYA_POTENSI').val() == null || $('#WP02002_TXT_ADD_BAHAYA_POTENSI').val() == '') {
            toastr.warning('Identifikasi Potensi Bahaya Cannot Be Empty');
            return;
        }

        if ($('#WP02002_TXT_ADD_BAHAYA_PENCEGAHAN').val() == null || $('#WP02002_TXT_ADD_BAHAYA_PENCEGAHAN').val() == '') {
            toastr.warning('Tindakan Pencegahan Cannot Be Empt');
            return;
        }

        if ($('#WP02002_DDL_ADD_BAHAYA_PIC').val() == null || $('#WP02002_DDL_ADD_BAHAYA_PIC').val() == '') {
            toastr.warning('PIC Cannot Be Empty');
            return;
        }

        if ($('#WP02002_TXT_ADD_BAHAYA_KETERANGAN').val() == null || $('#WP02002_TXT_ADD_BAHAYA_KETERANGAN').val() == '') {
            toastr.warning('Henkaten Cannot Be Empty');
            return;
        }


        //tableBuilderBahaya($('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN option:selected'), $("#WP02002_TXT_ADD_BAHAYA_POTENSI"), $("#WP02002_TXT_ADD_BAHAYA_PENCEGAHAN"), $("#WP02002_DDL_ADD_BAHAYA_PIC option:selected"), $('#WP02002_DDL_ADD_BAHAYA_KETERANGAN option:selected'));

        tableBuilderBahaya($('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN option:selected'), $("#WP02002_TXT_ADD_BAHAYA_POTENSI"), $("#WP02002_TXT_ADD_BAHAYA_PENCEGAHAN"), $("#WP02002_DDL_ADD_BAHAYA_PIC option:selected"), $("#WP02002_TXT_ADD_BAHAYA_KETERANGAN"));

        var _pekerjaan = $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').val();
        var _pic = $('#WP02002_DDL_ADD_BAHAYA_PIC').val();
        //var _keterangan = $('#WP02002_DDL_ADD_BAHAYA_KETERANGAN').val();
        $("#WP02002_DDL_ADD_BAHAYA_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02002_DDL_ADD_BAHAYA_PIC option[value='" + _pic + "']").remove();
        //$("#WP02002_DDL_ADD_BAHAYA_KETERANGAN option[value='" + _keterangan + "']").remove();

        $("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02002_DDL_EDIT_BAHAYA_PIC option[value='" + _pic + "']").remove();
        //$("#WP02002_DDL_EDIT_BAHAYA_KETERANGAN option[value='" + _keterangan + "']").remove();
    }

    function tableBuilderBahaya(_pekerjaan, _potensi, _pencegahan, _pic, _keterangan) {
        var html = '<tr>';
        html += '<td style="width: 200px; padding:0!important" name="' + $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').val() + '">' + _pekerjaan.text() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _potensi.val() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _pencegahan.val() + '</td>';

        html += '<td style="width: 100PX; padding:0!important" name="' + $('#WP02002_DDL_ADD_BAHAYA_PIC').val() + '">' + _pic.text() + '</td>';

        //html += '<td style="width: 125px; padding:0!important" name="' + $('#WP02002_DDL_ADD_BAHAYA_KETERANGAN').val() + '">' + _keterangan.text() + '</td>';
        html += '<td style="width: 125px; padding:0!important">' + _keterangan.val() + '</td>';

        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditBahaya(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataBahaya(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02002_TBL_LIST_BAHAYA').append(html);
        $('#WP02002_TBL_ADD_BAHAYA').hide();
    }

    function actionEditBahaya(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();

        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN').append('<option value="' + $(row).find('td:first-child').attr('name') + '" selected="selected">' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN').val($(value).attr("name"));
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi Bahaya
                $('#WP02002_TXT_EDIT_BAHAYA_POTENSI').val($(value).text());
            }
            else if (index == 2) { //set value for text area Tindakan Pencegahan
                $('#WP02002_TXT_EDIT_BAHAYA_PENCEGAHAN').val($(value).text());
            }
            else if (index == 3) { //set value for text area PIC
                $('#WP02002_DDL_EDIT_BAHAYA_PIC').append('<option value="' + $(row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(4)').text() + '</option>');
                $('#WP02002_DDL_EDIT_BAHAYA_PIC').val($(value).attr("name"));
            }
            else if (index == 4) { //set value for text area Keterangan (Henkaten Safety)

                //$('#WP02002_DDL_EDIT_BAHAYA_KETERANGAN').append('<option value="' + $(row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(5)').text() + '</option>');
                //$('#WP02002_DDL_EDIT_BAHAYA_KETERANGAN').val($(value).attr("name"));
                $('#WP02002_TXT_EDIT_BAHAYA_KETERANGAN').val($(value).text());
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02002_BTN_ADD_SHOW_BAHAYA').attr('disabled', 'disabled');

        $('#WP02002_TBL_EDIT_BAHAYA').show();
        $("#WP02002_BTN_EDIT_BAHAYA_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02002_TBL_EDIT_BAHAYA').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02002_BTN_ADD_SHOW_BAHAYA').removeAttr('disabled');
            $("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
            $("#WP02002_DDL_EDIT_BAHAYA_PIC option[value='" + $(row).find('td:nth-child(4)').attr('name') + "']").remove();
            //$("#WP02002_DDL_EDIT_BAHAYA_KETERANGAN option[value='" + $(row).find('td:nth-child(5)').attr('name') + "']").remove();
        });

        $('#WP02002_BTN_EDIT_BAHAYA').on("click", function () {
            editDataBahaya();
        })
    }

    function confirmEditBahaya() {
        $('#WP02002_DDL_ADD_BAHAYA_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_ADD_BAHAYA_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02002_DDL_ADD_BAHAYA_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        //set field pekerjaan
        $(_row).find('td:first-child').text($("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN option:selected").text());
        $(_row).find('td:first-child').attr('name', $("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN").val());
        $("#WP02002_DDL_ADD_BAHAYA_PEKERJAAN option[value='" + $("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN").val() + "']").remove();
        $("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN option[value='" + $("#WP02002_DDL_EDIT_BAHAYA_PEKERJAAN").val() + "']").remove();

        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(2)').text($('#WP02002_TXT_EDIT_BAHAYA_POTENSI').val());

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(3)').text($('#WP02002_TXT_EDIT_BAHAYA_PENCEGAHAN').val());

        //set value for text area PIC
        $(_row).find('td:nth-child(4)').text($('#WP02002_DDL_EDIT_BAHAYA_PIC option:selected').text());
        $(_row).find('td:nth-child(4)').attr('name', $("#WP02002_DDL_EDIT_BAHAYA_PIC").val());
        $("#WP02002_DDL_ADD_BAHAYA_PIC option[value='" + $("#WP02002_DDL_EDIT_BAHAYA_PIC").val() + "']").remove();
        $("#WP02002_DDL_EDIT_BAHAYA_PIC option[value='" + $("#WP02002_DDL_EDIT_BAHAYA_PIC").val() + "']").remove();

        $(_row).find('td:nth-child(5)').text($('#WP02002_TXT_EDIT_BAHAYA_KETERANGAN').val());
        //$(_row).find('td:nth-child(5)').text($('#WP02002_DDL_EDIT_BAHAYA_KETERANGAN option:selected').text());
        //$(_row).find('td:nth-child(5)').attr('name', $("#WP02002_DDL_EDIT_BAHAYA_KETERANGAN").val());
        //$("#WP02002_DDL_ADD_BAHAYA_KETERANGAN option[value='" + $("#WP02002_DDL_EDIT_BAHAYA_KETERANGAN").val() + "']").remove();
        //$("#WP02002_DDL_EDIT_BAHAYA_KETERANGAN option[value='" + $("#WP02002_DDL_EDIT_BAHAYA_KETERANGAN").val() + "']").remove();


        $(_row).show();
        $('#WP02002_TBL_EDIT_BAHAYA').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02002_BTN_ADD_SHOW_BAHAYA').removeAttr('disabled');
    }
    //<----------------------------------------------END   D. BAHAYA REGION------------------------------------------->

    //<----------------------------------------------START D. DAMPAK REGION------------------------------------------->
    function addDataDampak() {
        $('#add_ID').val('dampak');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataDampak() {
        $('#edit_ID').val('dampak');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataDampak(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('dampak');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02002_BTN_ADD_SHOW_DAMPAK").on("click", function () {
        $('#NoDataFound').closest('tr').remove();
        $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').val('');

        document.getElementById("WP02002_TBL_ADD_DAMPAK").style.display = "";

        $("#WP02002_BTN_ADD_DAMPAK_CLOSE").on("click", function () {
            $('#WP02002_TBL_ADD_DAMPAK').hide();
        });
    });

    function confirmDeleteDampak() {
        $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_ADD_DAMPAK_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        // $('#WP02002_DDL_ADD_DAMPAK_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        $('#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" selected="selected">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_EDIT_DAMPAK_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02002_DDL_EDIT_DAMPAK_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(_row).find('td:nth-child(5)').text() + '</option>');
        _row.remove();
    }

    function confirmAddDampak() {

        if ($('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').val() == null || $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').val() == '') {
            toastr.warning('Pekerjaan Cannot Be Empty');
            return;
        }

        if ($('#WP02002_TXT_ADD_DAMPAK_LINGKUNGAN').val() == null || $('#WP02002_TXT_ADD_DAMPAK_LINGKUNGAN').val() == '') {
            toastr.warning('Identifikasi Dampak Lingkungan Cannot Be Empty');
            return;
        }

        if ($('#WP02002_TXT_ADD_DAMPAK_PENCEGAHAN').val() == null || $('#WP02002_TXT_ADD_DAMPAK_PENCEGAHAN').val() == '') {
            toastr.warning('Tindakan Pencegahan Cannot Be Empty');
            return;
        }

        if ($('#WP02002_DDL_ADD_DAMPAK_PIC').val() == null || $('#WP02002_DDL_ADD_DAMPAK_PIC').val() == '') {
            toastr.warning('PIC Cannot Be Empty');
            return;
        }

        if ($('#WP02002_TXT_ADD_DAMPAK_KETERANGAN').val() == null || $('#WP02002_TXT_ADD_DAMPAK_KETERANGAN').val() == '') {
            toastr.warning('Henkaten Cannot Be Empty');
            return;
        }


        //tableBuilderDampak($('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN option:selected'), $("#WP02002_TXT_ADD_DAMPAK_LINGKUNGAN"), $("#WP02002_TXT_ADD_DAMPAK_PENCEGAHAN"), $("#WP02002_DDL_ADD_DAMPAK_PIC option:selected"), $('#WP02002_DDL_ADD_DAMPAK_KETERANGAN option:selected'));

        tableBuilderDampak($('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN option:selected'), $("#WP02002_TXT_ADD_DAMPAK_LINGKUNGAN"), $("#WP02002_TXT_ADD_DAMPAK_PENCEGAHAN"), $("#WP02002_DDL_ADD_DAMPAK_PIC option:selected"), $('#WP02002_TXT_ADD_DAMPAK_KETERANGAN'));

        var _pekerjaan = $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').val();
        var _pic = $('#WP02002_DDL_ADD_DAMPAK_PIC').val();
        //var _keterangan = $('#WP02002_DDL_ADD_DAMPAK_KETERANGAN').val();
        $("#WP02002_DDL_ADD_DAMPAK_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02002_DDL_ADD_DAMPAK_PIC option[value='" + _pic + "']").remove();
        //$("#WP02002_DDL_ADD_DAMPAK_KETERANGAN option[value='" + _keterangan + "']").remove();

        $("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN option[value='" + _pekerjaan + "']").remove();
        $("#WP02002_DDL_EDIT_DAMPAK_PIC option[value='" + _pic + "']").remove();
        // $("#WP02002_DDL_EDIT_DAMPAK_KETERANGAN option[value='" + _keterangan + "']").remove();
    }

    function tableBuilderDampak(_pekerjaan, _potensi, _pencegahan, _pic, _keterangan) {
        var html = '<tr>';
        html += '<td style="width: 200px; padding:0!important" name="' + $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').val() + '">' + _pekerjaan.text() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _potensi.val() + '</td>';

        html += '<td style="width: 130px; padding:0!important">' + _pencegahan.val() + '</td>';

        html += '<td style="width: 100PX; padding:0!important" name="' + $('#WP02002_DDL_ADD_DAMPAK_PIC').val() + '">' + _pic.text() + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _keterangan.val() + '</td>';

        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditDampak(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataDampak(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02002_TBL_LIST_DAMPAK').append(html);
        $('#WP02002_TBL_ADD_DAMPAK').hide();
    }

    function actionEditDampak(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();

        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN').append('<option value="' + $(row).find('td:first-child').attr('name') + '" selected="selected">' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN').val($(value).attr("name"));
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi DAMPAK
                $('#WP02002_TXT_EDIT_DAMPAK_LINGKUNGAN').val($(value).text());
            }
            else if (index == 2) { //set value for text area Tindakan Pencegahan
                $('#WP02002_TXT_EDIT_DAMPAK_PENCEGAHAN').val($(value).text());
            }
            else if (index == 3) { //set value for text area PIC
                $('#WP02002_DDL_EDIT_DAMPAK_PIC').append('<option value="' + $(row).find('td:nth-child(4)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(4)').text() + '</option>');
                $('#WP02002_DDL_EDIT_DAMPAK_PIC').val($(value).attr("name"));
            }
            else if (index == 4) { //set value for text area Keterangan (Henkaten Safety)
                $('#WP02002_TXT_EDIT_DAMPAK_KETERANGAN').val($(value).text());
                //$('#WP02002_DDL_EDIT_DAMPAK_KETERANGAN').append('<option value="' + $(row).find('td:nth-child(5)').attr('name') + '" selected="selected">' + $(row).find('td:nth-child(5)').text() + '</option>');
                //$('#WP02002_DDL_EDIT_DAMPAK_KETERANGAN').val($(value).attr("name"));
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02002_BTN_ADD_SHOW_DAMPAK').attr('disabled', 'disabled');

        $('#WP02002_TBL_EDIT_DAMPAK').show();
        $("#WP02002_BTN_EDIT_DAMPAK_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02002_TBL_EDIT_DAMPAK').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02002_BTN_ADD_SHOW_DAMPAK').removeAttr('disabled');
            $("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
            $("#WP02002_DDL_EDIT_DAMPAK_PIC option[value='" + $(row).find('td:nth-child(4)').attr('name') + "']").remove();
            //$("#WP02002_DDL_EDIT_DAMPAK_KETERANGAN option[value='" + $(row).find('td:nth-child(5)').attr('name') + "']").remove();
        });

        $('#WP02002_BTN_EDIT_DAMPAK').on("click", function () {
            editDataDampak();
        })
    }

    function confirmEditDampak() {
        $('#WP02002_DDL_ADD_DAMPAK_PEKERJAAN').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_ADD_DAMPAK_PIC').append('<option value="' + $(_row).find('td:nth-child(4)').attr('name') + '">' + $(_row).find('td:nth-child(4)').text() + '</option>');
        //$('#WP02002_DDL_ADD_DAMPAK_KETERANGAN').append('<option value="' + $(_row).find('td:nth-child(5)').attr('name') + '">' + $(_row).find('td:nth-child(5)').text() + '</option>');

        //set field pekerjaan
        $(_row).find('td:first-child').text($("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN option:selected").text());
        $(_row).find('td:first-child').attr('name', $("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN").val());
        $("#WP02002_DDL_ADD_DAMPAK_PEKERJAAN option[value='" + $("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN").val() + "']").remove();
        $("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN option[value='" + $("#WP02002_DDL_EDIT_DAMPAK_PEKERJAAN").val() + "']").remove();

        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(2)').text($('#WP02002_TXT_EDIT_DAMPAK_LINGKUNGAN').val());

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(3)').text($('#WP02002_TXT_EDIT_DAMPAK_PENCEGAHAN').val());

        //set value for text area PIC
        $(_row).find('td:nth-child(4)').text($('#WP02002_DDL_EDIT_DAMPAK_PIC option:selected').text());
        $(_row).find('td:nth-child(4)').attr('name', $("#WP02002_DDL_EDIT_DAMPAK_PIC").val());
        $("#WP02002_DDL_ADD_DAMPAK_PIC option[value='" + $("#WP02002_DDL_EDIT_DAMPAK_PIC").val() + "']").remove();
        $("#WP02002_DDL_EDIT_DAMPAK_PIC option[value='" + $("#WP02002_DDL_EDIT_DAMPAK_PIC").val() + "']").remove();

        $(_row).find('td:nth-child(5)').text($('#WP02002_TXT_EDIT_DAMPAK_KETERANGAN').val());
        //$(_row).find('td:nth-child(5)').text($('#WP02002_DDL_EDIT_DAMPAK_KETERANGAN option:selected').text());
        //$(_row).find('td:nth-child(5)').attr('name', $("#WP02002_DDL_EDIT_DAMPAK_KETERANGAN").val());
        //$("#WP02002_DDL_ADD_DAMPAK_KETERANGAN option[value='" + $("#WP02002_DDL_EDIT_DAMPAK_KETERANGAN").val() + "']").remove();
        //$("#WP02002_DDL_EDIT_DAMPAK_KETERANGAN option[value='" + $("#WP02002_DDL_EDIT_DAMPAK_KETERANGAN").val() + "']").remove();

        $(_row).show();
        $('#WP02002_TBL_EDIT_DAMPAK').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02002_BTN_ADD_SHOW_DAMPAK').removeAttr('disabled');
    }
    //<----------------------------------------------END   D. DAMPK REGION------------------------------------------->

    //<----------------------------------------------START   E. PENGAWASAN------------------------------------------->
    function addDataPengawasan() {
        $('#add_ID').val('pengawasan');
        $('#PopupForm_AddIMPBConfirm').modal();
    }

    function editDataPengawasan() {
        $('#edit_ID').val('pengawasan');
        $('#PopupForm_EditIMPBConfirm').modal();
    }

    function deleteDataPengawasan(obj) {
        _row = $(obj).closest("tr")[0];
        $('#delete_ID').val('pengawasan');
        $('#PopupForm_DeleteIMPBConfirm').modal();
    }

    $("#WP02002_BTN_ADD_SHOW_PENGAWASAN").on("click", function () {
        $('#NoDataFound').closest('tr').remove();

        $('#WP02002_DDL_ADD_USER').val('');
        $('#WP02002_TXT_ADD_NOREG').val('');
        $('#WP02002_TXT_ADD_NOHANDPHONE').val('');
        $('#WP02002_TXT_ADD_NODEPT').val('');
        $('#WP02002_TXT_ADD_NOANZEN').val('');

        document.getElementById("WP02002_TBL_ADD_PENGAWASAN").style.display = "";

        $("#WP02002_BTN_ADD_PENGAWASAN_CLOSE").on("click", function () {
            $('#WP02002_TBL_ADD_PENGAWASAN').hide();
        });
    });

    $('#WP02002_DDL_ADD_USER').on("change", function () {
        var _data = $(this).find('option:selected').attr('name').split(',');
        console.log(_data);

        $('#WP02002_TXT_ADD_NOREG').val(_data[0]);

        $('#WP02002_TXT_ADD_NOHANDPHONE').val(_data[1]);

        $('#WP02002_TXT_ADD_NODEPT').val(_data[2]);

        $('#WP02002_TXT_ADD_NOANZEN').val(_data[3]);

    })

    $('#WP02002_DDL_EDIT_USER').on("change", function () {
        var _data = $(this).find('option:selected').attr('name').split(',');
        console.log(_data);

        $('#WP02002_TXT_EDIT_NOREG').val(_data[0]);

        $('#WP02002_TXT_EDIT_NOHANDPHONE').val(_data[1]);

        $('#WP02002_TXT_EDIT_NODEPT').val(_data[2]);

        $('#WP02002_TXT_EDIT_NOANZEN').val(_data[3]);

    })

    function confirmDeletePengawasan() {
        var name = $(_row).find('td:nth-child(2)').text() + ',' + $(_row).find('td:nth-child(3)').text() + ',' + $(_row).find('td:nth-child(4)').text() + ',' + $(_row).find('td:nth-child(5)').text();
        $('#WP02002_DDL_ADD_USER').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" name="' + name + '"  >' + $(_row).find('td:first-child').text() + '</option>');
        $('#WP02002_DDL_EDIT_USER').append('<option value="' + $(_row).find('td:first-child').attr('name') + '" name="' + name + '"  >' + $(_row).find('td:first-child').text() + '</option>');
        _row.remove();
    }

    function confirmAddPengawasan() {

        if ($('#WP02002_DDL_ADD_USER').val() == null || $('#WP02002_DDL_ADD_USER').val() == '') {
            toastr.warning('PIC Cannot Be Empty');
            return;
        }

        var _data = $('#WP02002_DDL_ADD_USER option:selected').attr('name').split(',');

        tableBuilderPengawasan($('#WP02002_DDL_ADD_USER option:selected'), _data[0], _data[1], _data[2], _data[3]);

        var _user = $('#WP02002_DDL_ADD_USER').val();
        $("#WP02002_DDL_ADD_USER option[value='" + _user + "']").remove();

        $("#WP02002_DDL_EDIT_USER option[value='" + _user + "']").remove();

    }

    function tableBuilderPengawasan(_user, _noreg, _nohandphone, _dept, _anzen) {
        var html = '<tr>';
        html += '<td style="width: 150px; padding:0!important" name="' + _user.val() + '">' + _user.text() + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _noreg + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _nohandphone + '</td>';

        html += '<td style="width: 125PX; padding:0!important">' + _dept + '</td>';

        html += '<td style="width: 125px; padding:0!important">' + _anzen + '</td>';

        html += '<td style="width: 100px">';
        html += '<button type="button" class="btn btn-primary btn-xs" id="btn_edit_row" name="btn_edit_row" style="width: 80px; margin-left:5px;" onclick="actionEditPengawasan(this)" ><i class="fa fa-pencil-square-o"></i> Edit</button>';
        html += '<button type="button" class="btn btn-danger btn-xs" id="btn_delete_row" name="btn_delete_row" style="width: 80px; margin-left:3px;" onclick="deleteDataPengawasan(this)" ><i class="fa fa-trash-o"></i> Delete</button>'
        html += '</td>';
        html += '</tr>'

        $('#WP02002_TBL_LIST_PENGAWASAN').append(html);
        $('#WP02002_TBL_ADD_PENGAWASAN').hide();
    }

    function actionEditPengawasan(obj) {
        var row = $(obj).closest("tr")[0];
        _row = row;
        $(row).hide();
        var name = $(_row).find('td:nth-child(2)').text() + ',' + $(_row).find('td:nth-child(3)').text() + ',' + $(_row).find('td:nth-child(4)').text() + ',' + $(_row).find('td:nth-child(5)').text();
        $.each(row.cells, function (index, value) {
            if (index == 0) { //set value for dropdown pekerjaan
                $('#WP02002_DDL_EDIT_USER').append('<option value="' + $(row).find('td:first-child').attr('name') + '" name="' + name + '"  >' + $(row).find('td:first-child').text() + '</option>');
                $('#WP02002_DDL_EDIT_USER').val($(value).attr("name"));
            }
            else if (index == 1) { //set value for text area Identifikasi Potensi DAMPAK
                $('#WP02002_TXT_EDIT_NOREG').val($(value).text());
            }
            else if (index == 2) { //set value for text area Tindakan Pencegahan
                $('#WP02002_TXT_EDIT_NOHANDPHONE').val($(value).text());
            }
            else if (index == 3) { //set value for text area PIC
                $('#WP02002_TXT_EDIT_NODEPT').val($(value).text());
            }
            else if (index == 4) { //set value for text area Keterangan (Henkaten Safety)
                $('#WP02002_TXT_EDIT_NOANZEN').val($(value).text());
            }
        });

        $('button[name="btn_edit_row"').attr('disabled', 'disabled');
        $('button[name="btn_delete_row"').attr('disabled', 'disabled');
        $('#WP02002_BTN_ADD_SHOW_PENGAWASAN').attr('disabled', 'disabled');

        $('#WP02002_TBL_EDIT_PENGAWASAN').show();
        $("#WP02002_BTN_EDIT_PENGAWASAN_CLOSE").on("click", function () {
            $(row).show();
            $('#WP02002_TBL_EDIT_PENGAWASAN').hide();
            $('button[name="btn_edit_row"]').removeAttr('disabled');
            $('button[name="btn_delete_row"]').removeAttr('disabled');
            $('#WP02002_BTN_ADD_SHOW_PENGAWASAN').removeAttr('disabled');
            $("#WP02002_DDL_EDIT_USER option[value='" + $(row).find('td:first-child').attr('name') + "']").remove();
        });

        $('#WP02002_BTN_EDIT_PENGAWASAN').on("click", function () {
            editDataPengawasan();
        })
    }

    function confirmEditPengawasan() {
        $('#WP02002_DDL_ADD_USER').append('<option value="' + $(_row).find('td:first-child').attr('name') + '">' + $(_row).find('td:first-child').text() + '</option>');
        var _data = $('#WP02002_DDL_EDIT_USER option:selected').attr('name').split(',');


        $(_row).find('td:first-child').text($("#WP02002_DDL_EDIT_USER option:selected").text());
        $(_row).find('td:first-child').attr('name', $("#WP02002_DDL_EDIT_USER").val());
        $("#WP02002_DDL_ADD_USER option[value='" + $("#WP02002_DDL_EDIT_USER").val() + "']").remove();
        $("#WP02002_DDL_EDIT_USER option[value='" + $("#WP02002_DDL_EDIT_USER").val() + "']").remove();

        //set field identifikasi potensi bahaya
        $(_row).find('td:nth-child(2)').text(_data[0]);

        //set value for text area Tindakan Pencegahan
        $(_row).find('td:nth-child(3)').text(_data[1]);

        //set value for text area PIC
        $(_row).find('td:nth-child(4)').text(_data[2]);

        $(_row).find('td:nth-child(5)').text(_data[3]);

        $(_row).show();
        $('#WP02002_TBL_EDIT_PENGAWASAN').hide();
        $('button[name="btn_edit_row"').removeAttr('disabled');
        $('button[name="btn_delete_row"').removeAttr('disabled');
        $('#WP02002_BTN_ADD_SHOW_PENGAWASAN').removeAttr('disabled');
    }



    //<----------------------------------------------END   E. PENGAWASAN------------------------------------------->
</script>