﻿
@using AI070.Models;
@{
}

<!--form add new data-->
<div id="modalForm" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">ADD USER MAPPING</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>NO REG</label>
                        <input type="text" maxlength="50" id="addNoReg" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label>POSITION</label>
                        <input type="text" maxlength="40" id="addPosition" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <label>DIV ID</label>
                        <select class="form-control" id="addDivID">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-6" >
                        <label>PLANT ID</label>
                        <select class="form-control" id="addPlantID">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <label>PROJECT ID</label>
                        <select class="form-control" id="addProjectID">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <label>NAME</label>
                        <input type="text" maxlength="40" id="addName" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6" >
                        <label>EMAIL</label>
                        <input type="text" maxlength="40" id="addEmail" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <label>USERNAME</label>
                        <input type="text" maxlength="40" id="addUsername" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6" >
                        <label>PASSWORD</label>
                        <input type="password" maxlength="40" id="addPassword" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addNew()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> SAVE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>

<!--form edit data-->
<div id="modalEditForm" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Edit ITEM MASTER</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>NO REG</label>
                        <input type="text" maxlength="100" id="EditID" style="display:none" class="form-control" placeholder="">
                        <input type="text" maxlength="50" id="editNoReg" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label>POSITION</label>
                        <input type="text" maxlength="40" id="editPosition" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>DIV ID</label>
                        <select class="form-control" id="editDivID">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>PLANT ID</label>
                        <select class="form-control" id="editPlantID">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>PROJECT ID</label>
                        <select class="form-control" id="editProjectID">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>NAME</label>
                        <input type="text" maxlength="40" id="editName" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label>EMAIL</label>
                        <input type="text" maxlength="40" id="editEmail" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>USERNAME</label>
                        <input type="text" maxlength="40" id="editUsername" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label>PASSWORD</label>
                        <input type="password" maxlength="40" id="editPassword" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateData()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 85px;" data-dismiss="modal"><i class="fa fa-check"></i> UPDATE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>
