﻿
@using AI070.Models;
@{

}

<!--form add new data-->
<div id="modalForm" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Add new Area Master</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="required">AREA CD</label>
                        <input type="text" maxlength="50" id="addAreaCode" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="required">AREA NAME</label>
                        <input type="text" maxlength="20" id="addAreaName" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label>AREA STATUS</label>
                        <select class="form-control" id="addAreaStatus">
                            <option value="1">Active</option>
                            <option value="2">Not Active</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addNew()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 80px;"><i class="fa fa-check"></i> SAVE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>

<!--form edit data-->
<div id="modalEditForm" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Edit Area Master</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="required">AREA CD</label>
                        <input type="text" maxlength="50" id="editAreaCode" class="form-control" placeholder="">
                        <input style="display:none" type="text" maxlength="50" id="EditID" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="required">AREA NAME</label>
                        <input type="text" maxlength="20" id="editAreaName" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label>AREA STATUS</label>
                        <select class="form-control" id="editAreaStatus">
                            <option value="1">Active</option>
                            <option value="2">Not Active</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateData()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 85px;"><i class="fa fa-check"></i> UPDATE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>
