﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title App</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap4/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Exam/Site.css")" />
</head>
<body style="background-color: #f3f7f7">
    <header class="navbar navbar-expand sticky-top navbar-dark bg-dark flex-column flex-md-row" style="background-color: #39424e">
        <div class="container">
            @Html.ActionLink("Exam", "Index", "Home", new { area = "" }, new { @class = "navbar-brand font-weight-bold p-0", style = "font-size: 28px" })
        </div>
    </header>
    <div>
        <nav class="navbar navbar-light bg-white shadow-sm">
            <div class="container pl-0" style="padding-top: 14px; padding-bottom: 14px;">
                <div>
                    <p class="font-weight-light m-0 p-0" style="font-size: 13px; color: #738f93">Exam</p>
                    <h3 class="font-weight-bold text-left m-0 p-0">@ViewBag.Breadcum</h3>
                </div>
                <div>
                    <h4 class="font-weight-bold text-left m-0 p-0" id="countDown"></h4>
                </div>

            </div>
        </nav>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="@Url.Content("~/Content/jquery-3.4.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap4/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Exam/Site.js")"></script>
</body>
</html>
