﻿
@using AI070.Models;
@using AI070.Models.WP04004Master;
@{
    List<PlantModel> Plant = (List<PlantModel>)ViewData["Plant"];
    List<CompanyModel> Company = (List<CompanyModel>)ViewData["Company"];
}

<!--form add new data-->
<div id="modalForm" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">ADD ITEM MASTER</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label>USERNAME</label>
                        <input type="text" maxlength="100" id="addUsername" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>PLANT CODE</label>
                        <select id="addPlantCode" class="form-control">
                            @{ 
                                if(Plant != null)
                                {
                                    if(Plant.Count() > 0)
                                    {
                                        foreach(PlantModel item in Plant)
                                        {
                                            <option value="@item.PLANT_CD">@item.PLANT_DESC</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>COMPANY</label>
                        <select id="addCompany" class="form-control">
                            @{
                                if (Company != null)
                                {
                                    if (Company.Count() > 0)
                                    {
                                        foreach (CompanyModel item in Company)
                                        {
                                            <option>@item.COMPANY</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addNew()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> SAVE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>

<!--form edit data-->
<div id="modalEditForm" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" id="modalForm-title">Edit ITEM MASTER</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label>USERNAME</label>
                        <input type="text" maxlength="100" id="EditID" style="display:none" class="form-control" placeholder="">
                        <input type="text" maxlength="100" id="editUsername" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>PLANT CODE</label>
                        <select id="editPlantCode" class="form-control">
                            @{
                                if (Plant != null)
                                {
                                    if (Plant.Count() > 0)
                                    {
                                        foreach (PlantModel item in Plant)
                                        {
                                            <option value="@item.PLANT_CD">@item.PLANT_DESC</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>COMPANY</label>
                        <select id="editCompany" class="form-control">
                            @{
                                if (Company != null)
                                {
                                    if (Company.Count() > 0)
                                    {
                                        foreach (CompanyModel item in Company)
                                        {
                                            <option>@item.COMPANY</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateData()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 85px;" data-dismiss="modal"><i class="fa fa-check"></i> UPDATE</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  NO</button>
            </div>
        </div>
    </div>
</div>
