﻿@using TDKUtility;
@{
    List<VisitorApplication> list = (List<VisitorApplication>)ViewData["Counter"];
    }
<div class="table-responsive" id ="grdcounter">
    <table class="table table-hover table-bordered _table-view">
        <thead>
            <tr>
                <th width="40px">No</th>
                <th>Application</th>
                <th>Function</th>
                <th>User</th>
                <th>Count</th>
                <th width="100px">Last action</th>
            </tr>
        </thead>

        <tbody>
        @if (list != null)
        {
            foreach (VisitorApplication a in list)
            {
            <tr>
                <td class="text-center">@a.Number</td>
                <td>@a.ApplicationId</td>
                <td>@a.ApplicationScreen</td>
                <td>@a.AppAccessUser</td>
                <td class="text-center">@a.Counting</td>
                <td class="text-center">@a.ApplicationPeriode</td>
            </tr>
            }
        } 
        </tbody>
    </table>
    @Html.Partial("_UIPaging")
</div>